[2014-09-27 00:08] jonathanolson opened #159 "Skater can fall through track when dropped from high up"
At master (891f0d468c3ed6f7f284c46fc023f0b0576e5f26), produced on Chrome OS X.

Skater was dropped from high up, then went through the track to the ground (quite close):

![screen shot 2014-09-26 at 6 05 19 pm](https://cloud.githubusercontent.com/assets/480878/4429062/1ea6251a-45da-11e4-836b-6c4cfd24e877.png)

Incidentally, it was enough energy to have the pie chart cover the skater's head.

[2014-10-29 19:51] samreid opened #156 "Minor artifact on the pie chart"
Discovered during phetsims/energy-skate-park-basics#300 I saw when WebGL was disabled, the pie chart had these artifacts on Win8/Firefox and OSX/Chrome

![image](https://cloud.githubusercontent.com/assets/679486/4833437/c9070180-5fa4-11e4-982c-1d86221cdf06.png)

[2014-11-10 17:06] samreid opened #160 "Pie & Bar charts should show a minimum amount of energy."
It is possible to set up the skater to be moving, but the pie chart is showing only thermal energy.  Likewise, the skater can be moving (slowly) and the bar chart doesn't show any kinetic energy.  In the case of a slowly moving skater, or a skater that is even a little bit off the ground, the bars + pie slices should show something.

We previously did other work to _add_ a threshold to the pie cha

[2015-03-06 20:29] pixelzoom opened #157 "use PhetColorScheme.RED_COLORBLIND ?"
Several UI elements here that are currently 'red' and therefore not colorblind friendly: control points for track, position 'dot' for the skater, needle on the gauge, ...  Should any of these be PhetColorScheme.RED_COLORBLIND ?

[2015-06-04 22:34] samreid opened #158 "Improve the look of the clear thermal buttons"
See https://github.com/phetsims/sun/issues/100, specifically:

[2016-04-06 19:06] brroberts1231 opened #161 "Deleting part of track can cause skater to fall through"
Test device: Curie, Lave

Operating System: OSX 10.10.5, iOS 8.4.1

Browser: Safari

Problem description: In the playground, sometimes deleting a node from the track will cause the skater to fall through. Similar to the case if they are on the piece of track you delete and fall down, but they are on a segment of track that is still there and still fall to the ground.
From what I can tell, it mostl

[2016-04-11 20:53] samreid opened #162 "Improve performance on Windows 7"
From phetsims/energy-skate-park-basics#336: the RC test matrix showed reduced performance on Windows 7 Browsers.  It is unclear whether this was (a) a slower machine (b) the browsers weren't set up to use WebGL or (c) something else causing this.

[2016-07-21 17:11] samreid opened #163 "Use visibleBoundsProperty for managing the floating layout"
From our meeting today:

✓AP: general strategies for floating control panels, eg bending-light.FloatingLayout.
SR: ScreenView.js recently picked up a new property called ScreenView.visibleBoundsProperty, which can be used to position objects inside the visible area.  Simpler than bending light’s floating layout would be to link to that property and position components accordingly.  CCK demonstrate

[2017-04-06 17:09] phet-steele opened #45 "Automated Testing Sim Error"
This seems very very very rare. Mentioning @samreid but keeping unassigned unless he feels like tackling it:
[code]

[2017-09-13 16:30] ariel-phet opened #1 "Energy Skate Park Main checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 09/08/2017)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] [Sim suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/3863/pages/105

[2017-09-14 22:35] arouinfar opened #2 "Total Energy Increases Over Time"
Unfuddle ticket [#1033](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/1033)

Reported by a user:

and monitoring the total energy as the skateboarder moves up and down, the
total energy very slowly increases after some ten or so cycles.  I did a
weak effort at suggesting that the computation might be "rounding up" and
that Colorado was not suggesting that the skateboarder was creati

[2017-09-14 22:46] arouinfar opened #3 "User suggestion: Add zoom feature"
Unfuddle Ticket [#3693](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3693), in response to the HTML5 version of ESPB:

1. Probably won't be tackling save and load for ESP HTML5, but maybe there will be an ESP app?
2. Good to know the teacher's learning goal for the graph, and will keep it in mind for the Graphs screen.
3. We plan to keep the movable PE reference line.
4. Zoom in/ou

[2017-09-14 22:56] arouinfar opened #4 "User suggestion: Hide labels in graphs"
Unfuddle Ticket [#3600](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3600).

I've undertaken the project of creating a version of the skatepark that doesn't use any energy terminology at all - so students can develop an understanding about what factors affect "the blue bar" or "the red bar". This seems like a relatively straightforward modification using the Java code, but since yo

[2017-09-15 21:10] arouinfar opened #5 "User suggestion: Precise time readout in Energy vs. Time graph"
In Unfuddle Ticket [#625](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/625), Trish reported

I can't really get the time in precise enough increments for the students to answer the first goal in a variety of situations. I think this is a common learning goal and we should consider how to enable it. I think the most obvious place is on the Energy-Time graph (or the purple dots, but

[2018-02-23 00:06] jessegreenberg opened #165 "Use EnergySkateParkBasicsModel.addTrack more broadly"
From a TODO:
[code]

@samreid do you still believe this TODO still applies?

[2018-03-07 17:30] samreid opened #6 "How to structure code for Energy Skate Park and Energy Skate Park: Basics"
@jessegreenberg and I discussed the following possibilities for how to structure repos:

(1) one main repo which has everything
 thin shell for "basics"

(2) one repo for basics
 then the "non-basics" adds whatever it needs to add above and beyond basics

(3) one common code repo that has what's common between basics and non-basics
 then basics adds what it needs
 non-basics adds what it needs

We

[2018-03-07 17:31] samreid commented on #6
Another possibility for creating the "common" repo from the "basics" repo--we could create it as a fork, this would keep all shas and code, but would not move issues.

[2018-03-07 17:36] samreid commented on #6
@jonathanolson what do you think of the strategy of renaming the "basics" repo to "common" then immediately creating a new "basics" repo (which then depends on common)

@ariel-phet is it OK with you if we transfer 100% of the issues (open and closed) from "energy-skate-park-basics" to "energy-skate-park-common"?

@arouinfar and @ariel-phet how much will the "basics" code differ from what is provid

[2018-03-07 17:40] samreid commented on #6
@jessegreenberg pointed out this possibility for cloning a repo using `--mirror`

https://help.github.com/articles/duplicating-a-repository/

[2018-03-07 18:03] arouinfar commented on #6
@samreid @jessegreenberg I think ESPB would largely leverage common code, with PE=0 always at ground level and constant g.

[2018-03-08 06:43] jonathanolson commented on #6
Renaming a published sim repo sounds generally unacceptable. (3) sounds fine to me.

[2018-03-08 16:26] samreid commented on #6
Raising for developer meeting to decide what's best (regarding issues and code).

[2018-03-08 17:16] jessegreenberg commented on #6
The  primary reason we wanted to rename the repo was to keep git history for these files. If we manually move files to a common repo, we will lose git history.

What if we change the order of this operation to
- Create a duplicate repository of energy-skate-park-basics called energy-skate-park-common.
- Make energy-skate-park-basics  depend on energy-skate-park-common, and remove files from energy

[2018-03-08 18:47] jessegreenberg commented on #6
I forgot, another reason to rename the repo was to avoid having to  move 410 issues from energy-skate-park-basics to energy-skate-park-common. That is impossible with https://github.com/phetsims/energy-skate-park/issues/6#issuecomment-371556858.

[2018-03-08 18:49] jessegreenberg commented on #6
@mattpen I think you have used the github API - is it possible to use that to move issues?

[2018-03-08 19:04] mattpen commented on #6
Here is the documentation on the issues API https://developer.github.com/v3/issues/

I have not previously worked with this, I've only used the Labels and Repos APIs.  It does not look like there is an easy way to just change the repo parameter for issues, but you can create new issues and add  comments, assignees, labels, etc.  I imagine it is possible to write a script to copy the content of all

[2018-03-08 19:04] jonathanolson commented on #6
But most links would use the old sim name (particularly in commit names). Are you talking about having to rename/rewrite commit names/descriptions that reference issues to point to a new repo?

[2018-03-08 19:49] jessegreenberg commented on #6
@jonathanolson suggested that we actually **don't** want to move all issues because any links or reference to energy-skate-park-basics would be broken after the move.

We will proceed with https://github.com/phetsims/energy-skate-park/issues/6#issuecomment-371556858, and just move any issues we want in energy-skate-park-common manually.

[2018-03-08 20:01] jessegreenberg commented on #6
Regarding the discussion of how to structure the common repo, other developers were recommending that we proceed with  option 1 in https://github.com/phetsims/energy-skate-park/issues/6#issue-303190549 because this is what has been done for other sims that have this relationship.

@ariel-phet said that we should keep thinking about it, but that energy-skate-park will not be getting any larger new

[2018-03-08 20:03] jessegreenberg commented on #6
Based on the 3/8/18 dev meeting,  we agree that we will use option 1 in the original  issue comment

thin shell for "basics"

[2018-03-08 20:05] jessegreenberg commented on #6
So the modified steps from https://github.com/phetsims/energy-skate-park/issues/6#issuecomment-371556858 will be

- Create a duplicate repo of "energy-skate-park-basics" called "energy-skate-park" (This repo!)
- Make energy-skate-park-basics dependent on energy-skate-park, and remove files from energy-skate-park-basics as necessary.

[2018-03-08 20:08] jessegreenberg commented on #6
How will we duplicate repo and history of energy-skate-park-basics into energy-skate-park when energy-skate-park already exists? Can I delete this repo and create a new one? energy-skate-park now only has design issues and a license.

[2018-03-08 20:11] jonathanolson commented on #6
I know it's possible to start from the clone (https://git-scm.com/docs/git-clone), and check this in as the initial setup for `energy-skate-park`. Not sure how to handle it now.

[2018-03-08 20:13] samreid commented on #6
Perhaps make a manual copy of energy-skate-park issues, then use this strategy for pushing energy-skate-park-basics to it?  (I suspect we will need to delete it but I'm not 100% sure).

https://stackoverflow.com/questions/5181845/git-push-existing-repo-to-a-new-and-different-remote-repo-server

[2018-05-02 21:04] jessegreenberg commented on #6
I went through the steps in https://help.github.com/articles/duplicating-a-repository/, and it seems that everything from energy-skate-park-basics was copied over to energy-skate-park correctly. No need to delete repo and all issues are intact! Looking at git log in energy-skate-park, I see all the same commits in energy-skate-park-basics with the same SHAs.

[2018-05-02 21:08] jessegreenberg commented on #6
Location of remote look correct, comments in https://stackoverflow.com/questions/5181845/git-push-existing-repo-to-a-new-and-different-remote-repo-server made me worried --mirror might continue to point to energy-skate-park-basics.
![capture](https://user-images.githubusercontent.com/6396244/39549314-a0c3d898-4e1a-11e8-9a76-6c0ce48f2c46.PNG)

[2018-05-03 21:15] jessegreenberg commented on #6
Renaming js/energy-skate-park-basics to js/energy-skate-park blew away history. So for reference in case we need to go searching, code of energy-skate-park will be identical to energy-skate-park-basics on **5/2/2018**.

[2018-05-03 21:17] jessegreenberg commented on #6
We should probably document this somewhere or in many places. At least in doc/implementation-notes?

[2018-05-03 21:31] jessegreenberg opened #7 "How to manage strings after transfer from energy-skate-park-basics"
In #6, all files were mirrored from energy-skate-park-basics to energy-skate-park with the intention of energy-skate-park holding all code and energy-skate-park-basics being a thin "shell" running a version of the main sim.

So almost all of the strings in energy-skate-park-basics have been moved to energy-skate-park. How should this be handled for the translation utility?

Seems very similar to h

[2018-05-03 21:48] jessegreenberg commented on #6
@samreid helped identify that history wasn't lost, but it is not as easy to find. We can still check out old SHAs and use Github UI to "Browse the repository at this point in the history" - but we cannot browse commits with our editors or use `git log` to  see history/commits on the files.

[2018-05-03 22:39] jessegreenberg commented on #6
While looking into an unrelated issue I found `git log --follow ./path/to/file`, which shows all of the log information after the `git mv`! Nice!

[2018-05-04 16:48] jessegreenberg opened #8 "Uncaught Error: Assertion failed: mismatched messageIndex, possible start/end mismatch"
Consistently appearing in Bayes CT, all with phet-io fuzzing.

[code]

[2018-05-30 15:39] jessegreenberg opened #9 "Pull fixes from energy-skate-park-basics into this repo"
We did  a clone of energy-skate-park-basics into this repo to prepare the main sim/basics sim repo relationship. But we haven't yet done the full refactor of energy-skate-park-basics. Before doing that, we wanted to redeploy the basics sim for LoL support. As part of that, we will be fixing issues in ESP:B. Those will need to be comitted to this repo as well.

Starting here https://github.com/phet

[2018-06-14 16:48] jessegreenberg opened #10 "Make subdirectory for each screen under js/"
From https://github.com/phetsims/energy-skate-park-basics/issues/400

From code review checklist:

At the moment all code is under js/energy-skate-park-basics.

We will have to be careful about keeping history during this

[2018-07-02 19:56] jessegreenberg commented on #9
According to https://stackoverflow.com/questions/5120038/is-it-possible-to-cherry-pick-a-commit-from-another-git-repository, I should be able to merge/cherry-pick commits directly from ESPB.

[2018-07-02 20:00] jessegreenberg commented on #9
We are up to 13 additional  commits that we will want in this repo too.

[2018-07-02 20:22] jessegreenberg commented on #9
We are up to date as of 7/2/18 at 2:21 pm. Last SHA that was cherry-picked is https://github.com/phetsims/energy-skate-park-basics/commit/9d7d9a8057ee49e61ce0ea8a8113d1230926e94a.

Keeping this issue open in case any other issues come out of the dev and following RC tests for energy-skate-park-basics.

[2018-07-02 20:27] jessegreenberg opened #11 "Remove Events from Track.js"
From https://github.com/phetsims/energy-skate-park-basics/issues/408

[2018-07-02 20:31] jessegreenberg commented on #11
Done, closing.

[2018-07-02 20:31] #11 closed

[2018-07-02 20:46] jessegreenberg opened #12 "Move curvature objects closer to constants"
From https://github.com/phetsims/energy-skate-park-basics/issues/406

These aren't constants but it might be more clear if they were documented above constructor near other objects that are being reused to avoid excess memory allocations.

[2018-07-02 20:47] jessegreenberg commented on #12
Fixed in the above commit.

[2018-07-02 20:47] #12 closed

[2018-07-02 21:00] jessegreenberg opened #13 "Query parameter for DebugTracks"
From https://github.com/phetsims/energy-skate-park-basics/issues/403

It looks like the param is actually `debugTrack`, but there is some documentation that calls this `DebugTracks` so those should be updated.

[2018-07-02 21:02] #13 closed

[2018-07-02 21:26] jessegreenberg opened #14 "Remove navbar images from EnergySkateParkBasicsScreen"
From https://github.com/phetsims/energy-skate-park-basics/issues/401

The home screen and nav bar images are identical, just scaled. Joist does the scaling for us so we may not need these images anymore.

[2018-07-02 21:35] jessegreenberg opened #15 "Remove references to basics"
When we moved the sim from ESP:B, enough "basics" references in file names and so on were removed to get the sim running but it looks like some more are still there. Other than in documentation about the relationship between this sim and energy-skate-park-basics there shouldn't be any hits for "basics".

[2018-07-02 22:04] jessegreenberg commented on #15
As part of this issue, I swapped the LICENSE for MIT. There was a reference to energy-skate-park-basics so I thought maybe it would need to be swapped for energy-skate-park, but @samreid mentioned that sims funded under google.org should use MIT instead of GPLv3.

[2018-07-02 22:13] jessegreenberg commented on #14
Images removed, going to handle the rename in #15

[2018-07-02 22:13] #14 closed

[2018-07-02 23:15] jessegreenberg opened #16 "UpdateCheck is looking for deployed version"
Probably because sim was cloned from deployed energy-skate-park-basics.

[2018-07-02 23:18] jessegreenberg commented on #15
Done with the above commits,  all hits in a search for "basics" return a link to an issiue in energy-skate-park-basics, or is for other documentation. Types have been correctly renamed.

[2018-07-02 23:18] #15 closed

[2018-07-02 23:22] jessegreenberg commented on #16
Correcting the version ID  seemed to make this go away.

[2018-07-02 23:22] #16 closed

[2018-07-03 22:46] jessegreenberg commented on #6
The last step for this issue will be to turn energy-skate-park-basics into a "shell", but we will  do that once https://github.com/phetsims/energy-skate-park-basics/issues/411 is complete.

[2018-07-03 22:51] jessegreenberg opened #17 "Missing assets"
From https://github.com/phetsims/energy-skate-park-basics/issues/402:

There are a few .ai assets that seem to be missing.

 - I do not see "cement-texture-dark.jpg" in assets/
 - "attach.png" and "detach.png" images are not the same as "stick-to-track-icon.ai" and "espb detach from track icon.ai", those ai files are the icon without the skateboard and the skater feet/legs.

@arouinfar do you know

[2018-07-03 22:55] jessegreenberg opened #18 "Sim needs implementation-notes.md and model.md"
From https://github.com/phetsims/energy-skate-park-basics/issues/372

Sim didn't  have these files. At time of writing this issue we have an implementation-notes, but it is full of TODOs, and mostly just documents #6.

[2018-07-05 18:43] arouinfar commented on #17
@jessegreenberg I found ESP(B)-relevant artwork on [Drive](https://drive.google.com/drive/folders/0B6CMwxdP0NGYcFVqVTYyTlRfVk0), but I'm not seeing the missing assets. Perhaps @samreid may know more about these assets.

[2018-07-05 18:52] samreid commented on #17
listed in license.json

[code]

Here's the paper trail for the legs: https://github.com/phetsims/energy-skate-park-basics/issues/118, when I received these files in 2014 they were PNG files and unaccompanied by AI files.

[2018-07-05 18:55] arouinfar commented on #17
Thanks @samreid! Bryce's [.ai backup for ESPB](https://drive.google.com/drive/folders/0By7uUV0_IG4pVklDdkVQcXhpYkE) does not appear to include the stick-to-track icons.

[2018-07-09 17:50] zepumph opened #19 "Do we want this sim to be in phet-io testing/runnable lists?"
Currently it is being phet-io fuzz tested, but I don't know if we are supporting it for phet-io right now. @jessegreenberg @samreid thoughts?

[2018-07-09 20:31] #19 closed

[2018-07-25 23:55] arouinfar opened #20 "Handling Negative PE in Pie Chart"
The issue of negative PE cropped up in https://github.com/phetsims/energy-skate-park-basics/issues/432, which lead me to review the discussion for ESP.

In the 3/1/18 design meeting, we discussed how to express negatives in the pie chart

![image](https://user-images.githubusercontent.com/8419308/43108903-55d9848c-8ea1-11e8-8423-0fd69b51fafe.png)

Here's a rough video showing what that would look

[2018-09-14 00:39] zepumph opened #21 "Ready 1.3-phetio branch for interaction study"
@kathy-phet @DianaTavares are looking to do an interaction study with ESPB just like what we are doing with FAMB in https://github.com/phetsims/forces-and-motion-basics/issues/259.

Details of the study:
* First two screens only
* Data collection to start Sept 25th
* draft version ready by week of the 17th (not sure when within this)
* Same link as with FAMB (in an iframe pointing to the login wra

[2018-09-14 00:41] zepumph commented on #21
I was about to easily add the iframe wrapper with a cherry-pick, but things like updating the login wrapper will be a bit more extensive. (good luck me).

[2018-09-14 02:38] DianaTavares commented on #21
Yes, with this sim is the same characteristics that with the FAMB: link that open a new window with the sim in the iframe and the login with 7 digits.

The idea again is to get the same visualizations that we already has in the dashboard.

[2018-09-17 16:38] DianaTavares commented on #21
and we are going to need also two links 1110_guided and 1110_exploration

[2018-09-17 19:58] zepumph commented on #21
Was able to retrofit 1.3-phetio branch basically by following the commits done for FAMB in phetsims/forces-and-motion-basics#259. I recorded a few testing sessions. From there I will (a) look how to playback recordings, and (b) testing the preprocessing for the Interaction Dashboard.

[2018-09-18 21:28] zepumph commented on #21
- [ ] We will want to cherry-pick https://github.com/phetsims/phet-io/commit/ec2f338191895b6d5d167d7038c5676c1583b562 into this release as well.

[2018-09-24 20:05] zepumph commented on #21
QA has finished, I updated the qa credits. It is time to publish the sim now.

[2018-09-24 20:33] zepumph commented on #21
@DianaTavares @kathy-phet here are the final links for ESPB:

[code]

[2018-09-24 21:02] DianaTavares commented on #21
Perfect! thanks everybody! I use the test-link and its working very well. Ready to put the links in the activity :D

[2018-09-24 21:02] #21 closed

[2018-10-08 14:38] KatieWoe opened #22 "CT: iframe api failed"
[code]

[2018-10-08 15:55] chrisklus commented on #22
Looks like @samreid is responsible dev for energy skate park, passing assignment.

[2018-10-09 13:52] jessegreenberg commented on #22
I have been making commits in this repo over the past few days, probably introduced by me. Ill take a look.

[2018-10-09 13:55] jessegreenberg opened #23 "Add potential energy reference height"
With the current implementation, this seems pretty  straight forward. Model Properties like this are in Skater.js, and are handed off in skater state. The reference height will be used in the calculations of potential energy, which should update total energy automatically. Things may get tricky if certain components assume energy is greater than zero. This issue will track changes related to this.

[2018-10-09 14:03] jessegreenberg commented on #23
I added a `referenceHeightProperty` to skater, passed it to skater state, and I am using it when calculating potential energy. Energy values all look correct! But I am running into a problem in EnergySkateParkModel.correctEnergy, in the 'Energy too low' case, I am  hitting this error:
[code]

This function does

I am wondering if we can modify this to use absolute values of energy? I don't know th

[2018-10-09 14:33] jessegreenberg commented on #23
SkaterState.getTotalEnergy did the full calculation from mass, height, velocity, and gravity rather than sum energy and I didn't include the reference height in that function. Im going to check for all references to positionY and position to make sure I have caught all places where this is calculated.

[2018-10-09 14:37] jessegreenberg commented on #23
There are a number of calculations that assume reference height is zero. For instance in EnergySkateParkModel.continueFreefall
[code]

[2018-10-09 17:31] jessegreenberg opened #24 "What should happen to reference height when reference height line is invisible?"
Should the control just disappear without modifying the reference height or should the reference height revert to y=0?  @arouinfar what do you think?

[2018-10-09 17:54] arouinfar commented on #24
Good question @jessegreenberg. I think it should revert to y=0.

While a PE reference point is arbitrary, the natural assumption is that it corresponds to y=0.  I think we would want to avoid the situation where the reference point is y > 0, but not visible.

[2018-10-09 18:02] jessegreenberg commented on #24
Thanks @arouinfar, that makes sense to me. Ill proceed with that.

[2018-10-09 21:55] jessegreenberg commented on #23
I added this today, it seems to be working great. Closing this issue, I have been playing with the sim for a while now and everything seems nice. If additional issues crop up, we can address individually. Closing.

[2018-10-09 21:55] #23 closed

[2018-10-09 22:00] jessegreenberg commented on #24
Done in the above commit, the line is resetting when scene changes, that should be fixed.

[2018-10-09 22:05] jessegreenberg commented on #24
Closing.

[2018-10-09 22:05] #24 closed

[2018-10-11 20:38] jessegreenberg commented on #20
@arouinfar also said that for the yellow "total" energy display in the pie chart with negative values, we should include an entry in the Pie chart legend for total energy.

[2018-10-11 21:40] jessegreenberg commented on #20
@arouinfar should the yellow "total energy" representation be used for cases like https://github.com/phetsims/energy-skate-park-basics/issues/189 in energy-skate-park-basics or should it be invisible?

[2018-10-11 22:12] jessegreenberg commented on #20
This is done in master, I made it optional so that the pie chart can be invisible or show total energy distribution.

[2018-10-11 22:13] jessegreenberg commented on #20
Done for PieChartNode, I still need to do this for PieChartWebGLNode.

[2018-10-12 17:40] arouinfar commented on #20
@jessegreenberg I tested with `?webgl=false` and the behavior of the pie chart is looking good!

I think the total energy representation would be more consistent, so let's go with that.

Sounds good! I imagine this could be useful for PhET-iO clients.

[2018-10-15 18:03] jessegreenberg commented on #22
When running state wrapper, I see this for all screens:
![capture](https://user-images.githubusercontent.com/6396244/46969113-0819c580-d083-11e8-942a-5b894274e1a2.PNG)

[2018-10-15 18:09] jessegreenberg commented on #22
```      assert && assertInstanceOf( energySkateParkModel, phet.energySkatePark.energySkateParkModel );```

That lower e on phet.energySkatePark.energySkateParkModel looks incorrect.

[2018-10-15 18:10] jessegreenberg commented on #22
Fixed above. Now I am seeing something downstream.

[2018-10-15 18:34] jessegreenberg commented on #22
@samreid or @zepumph could I please have some help with this issue? Why is ControlPointIO returning the phetioID in toStateObject? I am not sure why this isn't happening in energy-skate-park-basics.

[2018-10-18 13:20] jessegreenberg commented on #20
The negative energy circle is stroked with a dashed line, and I have been trying to get that to work with WebGLNode. I tried a new shader that discards fragments outside of the dashes, but I couldn't get it to work out and I don't think that is the right way to go about this now.

I tried a new Node using gl.TRIANGLES and it is working pretty good, but I am getting some psychedelic coloring effect

[2018-10-18 14:04] jessegreenberg commented on #20
I found the cause of the strange coloring, but realized that this method of drawing the dashes wont work because the pie chart needs to be semi-transparent when potential energy is negative. Ill try a different way with gl.TRIANGLE_STRIP.

[2018-10-18 14:40] jessegreenberg commented on #20
That looks pretty nice and handles opacity.I found a bug where potential energy doesn't update the pie chart sometimes when dragging the skater.

[2018-10-18 15:02] jessegreenberg commented on #20
I think this part has been added, @arouinfar are there follow up steps for this issue?

[2018-10-18 16:32] jessegreenberg commented on #20
Good point, Ill take a look. I have a slight preference for the shorter dashes, Ill try making the webgl dashes look shorter.

[2018-10-18 16:35] jessegreenberg commented on #20
Hmm, when I make the dashes shorter some of theme disappear.
![capture](https://user-images.githubusercontent.com/6396244/47169722-3d682280-d2d2-11e8-828e-582902664d76.PNG)

[2018-10-18 21:51] jessegreenberg commented on #20
I added more dashes to the outline so it looks more similar to the non-webgl pie chart. @arouinfar back to you to review.

[2018-10-18 21:55] jessegreenberg opened #25 "Add zoom feature to bar graph"
Should be pretty straight forward, there is a scalar in the BarGraphForeground that transforms the physical values to heights in the graph. This could be changeable. So remaining question is how many levels of zoom should we support?

[2018-10-18 22:17] arouinfar commented on #20
Thanks @jessegreenberg! I think those are close enough. :)

[2018-10-18 22:17] #20 closed

[2018-10-19 01:56] jessegreenberg commented on #25
I tried to add the arrows that show up when the graph goes out of scale to the BarGraphForeground with renderer: barRenderer (webgl, usually), but I am seeing an error in the console like
"Too many WebGL rendering contexts." I am not sure I understand why, but we can add these to the background instead and not use webgl since they don't animate.

[2018-10-19 21:48] jessegreenberg commented on #25
This feature has been added. How many levels of zoom should we have @arouinfar? Default zoom right now is the zoom used in ESP:B. There are currently 8 levels, that is probably too many.

[2018-10-19 21:49] jessegreenberg commented on #25
Also, the total energy arrow needed to be shifted up around the zoom buttons, here is what it looks like

![capture](https://user-images.githubusercontent.com/6396244/47245423-353ddf00-d3c7-11e8-80af-7e4a2fea8532.PNG)

[2018-10-19 21:56] jessegreenberg opened #26 "grid should translate with potential energy reference line"

[2018-10-22 15:06] jessegreenberg commented on #26
The grid is now translatable! Closing.

[2018-10-22 15:06] #26 closed

[2018-10-22 15:07] jessegreenberg commented on #26
Grid is now translatable!

[2018-10-22 15:52] jessegreenberg opened #27 "Add a tape measure and its toolbox panel"

[2018-10-22 18:37] jessegreenberg commented on #27
Measuring tape has been added @arouinfar!

[2018-10-22 18:38] jessegreenberg opened #28 "Support changing gravity"

[2018-10-22 18:48] arouinfar commented on #27
Toolbox size and placement looks great, though the tape measure icon is quite aliased @jessegreenberg.

This is in latest Chrome:
![image](https://user-images.githubusercontent.com/8419308/47312127-bcbe6480-d5f8-11e8-844b-444a59d2c0e4.png)

[2018-10-22 18:49] jessegreenberg opened #29 "Common type for FrictionControl/MassControlPanel/GravityControl"
FrictionControl and MassControlPanel are almost identical, and GravityControlPanel is now needed which would benefit from a common type that creates the sliders, fonts, text, and other things.

[2018-10-22 18:55] arouinfar commented on #25
@jessegreenberg the default zoom level looks good! Zoom level 1-5 seem the most useful to me, so I think we can remove the 3 most zoomed-in levels.

I don't think I had taken negative total energy into account when mocking up the bar graph, so I have a few suggested pixel polishes:

* Move the x-axis up 20 px so there's more space to show negative energies
* Move zoom buttons to lower left corner

[2018-10-22 19:53] jessegreenberg commented on #28
@arouinfar I added a control to change gravity. I have barely had to touch the model for this so far, @samreid thanks for making things so easy :)

@arouinfar Would you like to review? What should the range be for gravity? Right now it ranges from -1 to -15 m/s^2. Or should it have same range as original sim?

[2018-10-22 19:54] jessegreenberg commented on #29
Common type added, and I think we can delete FrictionControl and MassControlPanel now.

[2018-10-22 20:01] arouinfar commented on #28
Great questions @jessegreenberg. Let's make the range 1-20 m/s^2, and change the "none" label to "tiny".

While the Java sim deals with zero gravity, I'm not sure if we'll go there or not. There are still a lot of design discussions/decisions to be made around zero gravity.

[2018-10-22 20:02] jessegreenberg commented on #29
Done in the above commit.

[2018-10-22 20:02] #29 closed

[2018-10-22 20:12] jessegreenberg commented on #28
Sounds good @arouinfar I changed the label and modified the range.

[2018-10-22 20:12] jessegreenberg commented on #27
Hmm, I agree. Ill take a look.

[2018-10-22 20:18] jessegreenberg commented on #27
After the above commit it looks better for me in Chrome, @arouinfar can you please verify?

[2018-10-22 20:18] arouinfar commented on #25
@jessegreenberg on second thought, let's keep all 8 zoom levels for now. I hadn't taken the variable gravity into account.

[2018-10-22 20:21] arouinfar commented on #28
Looks good @jessegreenberg!

[2018-10-22 20:21] #28 closed

[2018-10-22 20:22] arouinfar commented on #27
Looks much better @jessegreenberg. Thanks!

[2018-10-22 20:22] #27 closed

[2018-10-22 22:35] jessegreenberg commented on #25
Everything in https://github.com/phetsims/energy-skate-park/issues/25#issuecomment-431936789 is pretty much done except for the stroke around the bars.

This is actually how it worked before, I changed the max width of labels so that it allows for space for the arrows, and aligns the thermal button with them.

I ran into problems with the strokes because the transparent effect is produced by using

[2018-10-24 15:29] KatieWoe opened #30 "CT:Cannot read property 'map' of undefined"
[code]

[2018-10-24 15:50] arouinfar commented on #25
@jessegreenberg I was looking at Masses and Springs, and I noticed that the transparency is (inadvertently) different from my mockups of ESP. In MAS, the transparency is a rounded rectangle that sits within the bar. Perhaps you can try that instead?

![image](https://user-images.githubusercontent.com/8419308/47443629-041c3080-d772-11e8-85b3-ad0dfec4b954.png)

[2018-10-24 16:12] jessegreenberg commented on #25
Thanks @arouinfar, Ill give it a shot! There would be an overall improvement if we change to use Griddle here anyway, Ill investigate that.

[2018-10-24 16:23] jessegreenberg opened #31 "Use griddle for the bar graph?"
It would be nice if the bar graph could use griddle, the common repo for graphs. Common code may already have a solution for the challenges I am facing in #25 with respect to stroking the bars and transparent rectangles.

The challenge is that ESP has a separate layer for bar graph foreground/background, because the foreground must use webgl for performance while the background must not. But maybe

[2018-10-24 16:28] jessegreenberg commented on #31
For these reasons, I don't think we can use BarChartNode, but maybe we can still use BarNode for the bars

[2018-10-24 17:16] jessegreenberg commented on #31
I don't think we can use griddle with the current setup. Here is one potential way we could get this to work with the setup in ESP. But here is one way, changing the structure slightly.
- BarGraphBackground contains the axis and buttons and arrows, added behind the EnergySkateParkScreenView webgl layer.
- BarGraphForeground contains the bars, added on top of the foreground in the EnergySkateParkSc

[2018-10-24 17:47] jessegreenberg commented on #25
I took a look at using griddle but won't be able to use it without a number of changes because of the layering this sim uses for tablet performance/memory performance. I made https://github.com/phetsims/griddle/issues/32 to discuss further.

In the meantime, the look of https://github.com/phetsims/energy-skate-park/issues/25#issuecomment-432714812 may be a more simple solution for the bar graph, b

[2018-10-24 17:48] jessegreenberg commented on #25
If in https://github.com/phetsims/griddle/issues/32 we decide to change griddle so it can be used here, it will end up looking like https://github.com/phetsims/energy-skate-park/issues/25#issuecomment-432714812, so maybe it makes most sense to continue with that one?

[2018-10-24 17:49] jessegreenberg commented on #31
Whether or not we can use griddle in this sim depends on https://github.com/phetsims/griddle/issues/32.

[2018-10-24 17:52] jessegreenberg commented on #25
I also think it doesn't make sense to continue working on this until a decision is made in https://github.com/phetsims/griddle/issues/32.

[2018-10-24 18:00] jessegreenberg opened #32 "Add mass combo box"

[2018-10-24 18:16] jessegreenberg commented on #32
@arouinfar the design document indicates that this sim will use a grid-like box for controlling masses (at least in intro screen). Is that still true? If so, here is the relevant issue for generalizing this component:
https://github.com/phetsims/sun/issues/363

[2018-10-24 18:40] samreid commented on #30
@zepumph is working on the problem in https://github.com/phetsims/phet-io-wrappers/issues/188#issuecomment-432771369.  I'll put this on hold until that is resolved.

[2018-10-24 18:54] arouinfar commented on #32
@jessegreenberg it's quite possible we'll use the grid-like combobox, but let's not worry about generalizing it until it's been discussed further in design meeting.

For now, can you use a standard combobox with the options from Java. I'll open an issue to work on skater artwork, but in the meantime, I think you can go ahead and simply scale the ESPB skater artwork.

[2018-10-24 19:05] arouinfar commented on #25
@jessegreenberg please let me know if you have any design questions after https://github.com/phetsims/griddle/issues/32 wraps up!

[2018-10-24 20:31] jessegreenberg commented on #32
Sounds great @arouinfar. I added a basic combo box for now, it just shows values of masses. Right now, it is layered on top of everything, I will work on getting it layered at the same level as the control panel and under the skater.

[2018-10-24 22:09] jessegreenberg commented on #32
The combo box has been added, and I added the ability for nodes to be inserted into the right layer by subtypes of EnergySkateParkScreenView.

[2018-10-24 22:09] jessegreenberg commented on #32
Removing assignment until there is further discussion.

[2018-10-31 18:20] jessegreenberg opened #33 "Can SceneSelectionPanel be deleted?"

[2018-10-31 18:20] jessegreenberg commented on #33
I don't see any usages, it looks almost identical to SceneSelectionRadioButtonGroup.

[2018-10-31 18:22] jessegreenberg commented on #33
Ah, SceneSelectionPanel should have been deleted with 8dd4ba1

[2018-10-31 22:02] jessegreenberg opened #34 "reference height isn't being reset on reset all"

[2018-10-31 22:03] #34 closed

[2018-10-31 22:05] jessegreenberg opened #35 "Grid layout doesn't update on translation of reference height"
This was the intention in GridNode so that it didn't redraw, but I am seeing that if the reference height is dragged low enough, it gets cut off.

[2018-10-31 22:05] jessegreenberg commented on #35
![image](https://user-images.githubusercontent.com/6396244/47821582-8c34a400-dd37-11e8-8cf2-7221e7b83f8f.png)

[2018-10-31 22:06] jessegreenberg commented on #35
Oh, this is only possible because I set the initial reference height to 5m for testing purposes. But still, seems fragile.

[2018-11-01 14:49] jessegreenberg opened #36 "Add total energy to the pie chart legend"

[2018-11-14 18:41] KatieWoe opened #37 "CT: Component was missing its tandem"
[code]

[2018-11-14 18:42] samreid commented on #37
Proposed fix is in https://github.com/phetsims/sun/commit/04ee849a668299ebfea8e4ba53de3c9b27274a0c, thanks!  Closing.

[2018-11-14 18:42] #37 closed

[2018-11-15 16:20] jessegreenberg commented on #25
This is working pretty well, but it means that the labels are on top of the skater which looks pretty weird.
![capture](https://user-images.githubusercontent.com/6396244/48566296-76db8000-e8c8-11e8-8257-1e1b4c02f233.PNG)

[2018-11-15 16:25] jessegreenberg opened #38 "branch: graphTopLayer"
To get labels on the graph to look like https://github.com/phetsims/energy-skate-park/issues/25#issuecomment-432714812, but this was problematic because then the skater is underneath the labels, but on top of the bars in the graph and it looks strange.

Going to try something else but I didn't want to lose these changes, so storing in a branch.

[2018-11-16 20:03] arouinfar commented on #1
Since development is underway, I went ahead and edited https://github.com/phetsims/energy-skate-park/issues/1#issue-257444103 with the latest version of [sim_port_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_port_checklist.md).

[2018-11-16 22:38] jessegreenberg opened #39 "Issues with renderer: webgl on bar graph and labels"
Two sub-issues from #25. I changed the bar graph labels and bars so that they can be stroked. After adding a stroke to the rectangle, the graph bars are jiggling up and down when the bar size changes.

Here is the rectangle, `renderer: 'webgl'` is set on a parent node:
[code]

The other issue I am seeing is that an image rendered with WebGL, created from rasterize() has grey artifacts around the e

[2018-11-16 22:44] jessegreenberg commented on #39
The jiggling is also very apparent with the label text now that they are part of the front layer.

I see that fitted block bounds update with the bars, don't know if that is related? Either way I think I remember that disabling this could improve performance?
![fitted](https://user-images.githubusercontent.com/6396244/48651088-3f073200-e9c7-11e8-84f8-45f81a708cb1.PNG)

[2018-11-16 22:48] jessegreenberg commented on #39
Yep, preventFit: true on the bar graph foreground fixes the jiggling.

[2018-11-16 22:57] jessegreenberg commented on #25
I found the generated images in dev tools, I don't see any artifacts around the image. Wondering if this is from the SpriteSheet then.
![capture](https://user-images.githubusercontent.com/6396244/48651461-07998500-e9c9-11e8-9361-4a153938151f.PNG)

[2018-11-16 23:19] jessegreenberg commented on #39
Here is the code that causes the grey stroke:
[code]

where barRenderer is 'webgl'. In barGraphForeground.createBar. @jonathanolson do you know what may be causing this?

[2018-11-21 21:48] jessegreenberg opened #40 "Performance degradation from bar graph changes"
From #39 and #25, I have noticed that changes to the bar graph have caused the sim to slow down quite a bit on my Windows 10 Laptop in Chrome.

If I remove this line from BarGraphForegroundNode, the sim runs much faster again
[code]

[2018-11-21 21:57] jessegreenberg commented on #40
The imageNode above is the label for the bar rasterized to be added for webgl. If I remove this and the stroke around the bars, performance improves quite a bit. So these two changes to these nodes using WebGL are degrading performance quite a bit.

[2018-11-21 22:06] jessegreenberg commented on #40
I would like to understand why these changes reduced performance, but I also don't want to spend time on this until we verify that it is important for the bars to have a stroke. If the bars don't need a stroke, we can move the labels back to the background (svg layer) for improved performance.

[2018-11-26 15:36] jonathanolson commented on #39
My suspicion is that the rasterization adds on a few pixels on the side of the labelRectangle that get recorded (which are probably being recorded as black with zero alpha - transparent), but that something is going on that is incorrectly doing some blending between pixel values, resulting in that transparent black leaking.

It looks like this is happening in master, so I'll investigate.

[2018-11-26 16:50] jessegreenberg commented on #40
I noticed that performance improves greatly when the sim view is small, further indicating a webgl issue.

[2018-11-27 07:43] jonathanolson commented on #39
This got pretty complicated, but Scenery was basically using a style of alpha/transparency that apparently doesn't mix well with texture lookups.

It turns out the texture2d lookups in shaders is basically assuming that the texture's color values are premultiplied (RGB values are assumed to essentially be R*A, G*A, B*A), so that when it interpolates between two values, if they differed in alpha, i

[2018-11-27 19:03] arouinfar commented on #25
@jessegreenberg I have one minor pixel-polishing request. Can you change the zoom button colors to `LIGHT_BLUE` (see https://github.com/phetsims/sun/blob/master/js/ColorConstants.js#L28). This is the color used for zooming in other graphs, such as Masses and Springs (see https://github.com/phetsims/energy-skate-park/issues/25#issuecomment-432714812), Pendulum Lab, and Wave Interference.

[2018-11-28 16:10] jonathanolson commented on #39
Testing issue created in https://github.com/phetsims/QA/issues/226. @jessegreenberg anything else that should be done?

[2018-11-29 13:44] jessegreenberg commented on #39
Thanks so much @jonathanolson, it is looking great in master, all issues listed in this issue have been fixed. Closing.

[2018-11-29 13:44] #39 closed

[2018-11-30 18:51] KatieWoe opened #41 "CT: call missing from an overridden dispose method"
[code]

[2018-11-30 23:40] samreid commented on #41
Fixed, closing.

[2018-11-30 23:40] #41 closed

[2018-11-30 23:45] samreid commented on #22
My apologies for the long delay in getting to this issue.  When launching http://localhost/phet-io-wrappers/state/?sim=energy-skate-park I'm getting an issue that IOType is null on this line:

[code]

Also, I'm hesitant to work too much on bugs affecting Energy Skate Park and Energy Skate Park: Basics before their codebases are aligned in https://github.com/phetsims/energy-skate-park/issues/6.

[2018-11-30 23:45] samreid commented on #6
Now that @kathy-phet has called for putting https://github.com/phetsims/energy-skate-park-basics/issues/411 on hold, I'm wondering if we should take the time now to unify the codebases?  @jessegreenberg what do you think?

[2018-11-30 23:46] samreid commented on #22
On hold until hearing from @jessegreenberg in #6

[2018-12-03 15:50] samreid commented on #40
I suspect that WebGL doesn't yet support drawing stroked rectangles.  Hence when the `solidBar` which has a stroke is added, scenery splits the view up from a single WebGL layer to:

WebGL pre-layer
SVG layer for rendering the stroked rectangle
WebGL post layer

This would allocate twice as many canvases and be a significant performance cost, as well as the additional cost of rendering to them and

[2018-12-03 16:04] samreid opened #42 "Can we eliminate WebGL from Energy Skate Park?"
Energy Skate Park: Basics was developed with the goal to have fast and smooth performance on iPad 2 without any pausing or hiccups.  That constraint led us to several more costly implementation strategies, such as rearranging layers in order to put all animated components together in a single WebGL layer.  These implementation approaches have been in discussion lately for example in https://github

[2018-12-03 16:31] jessegreenberg commented on #6
I think that sounds like a great idea! This should be the next thing I work on in this repo.

[2018-12-03 16:57] jessegreenberg commented on #42
This would certainly help with maintainability in the long run, and development in the short run. For example a number of webgl considerations have come up recently because of this like #40 #39 #38 #31 #25, https://github.com/phetsims/energy-skate-park/issues/20#issuecomment-431005392. And others will come up as more is added to ESP.

But I would also think that the webgl work would improve perfor

[2018-12-04 16:00] KatieWoe opened #43 "CT: typeName of null and only components that were added should be removed"
[code]

[2018-12-07 00:00] samreid commented on #43
See https://github.com/phetsims/energy-skate-park-basics/issues/446#event-2011263189 for the basics version of the other part.

[2018-12-07 15:35] samreid commented on #43
On hold until https://github.com/phetsims/energy-skate-park/issues/6 is addressed.

[2018-12-07 16:20] samreid commented on #6
@jessegreenberg and I began working on this, and were unsure whether we wanted to keep the layout and look of Energy Skate Park: Basics exactly as it is now, or whether it should share user interface components and other similarities with Energy Skate Park.  We called @arouinfar and discussed it, and the conclusion was that it would be nice to share as much code as possible, for uniformity and con

[2018-12-07 22:56] jessegreenberg commented on #6
Alright, this is done. Almost everything has been removed from energy-skate-park-basics. All that remains in basics are screenshots in assets, basics specific constants, and a directory for each screen that has subtypes of model/view components in this repo.

@samreid is there anything else to do for this issue? Are we ready to close this?

[2018-12-07 23:04] jessegreenberg commented on #42
@ariel-phet can you please comment on the above? This will require QA time to test performance without WebGL, and depends on the timeline for PhET reducing support for iPad2.

[2018-12-07 23:05] jessegreenberg commented on #22
Since #6 is wrapped up I believe that this is no longer on hold. Removing my assignment but let me know if I can help with this.

[2018-12-07 23:09] jessegreenberg commented on #43
https://github.com/phetsims/energy-skate-park/issues/6 has been addressed.

[2018-12-08 14:59] samreid commented on #6
Looks great @jessegreenberg, thanks!  I also made a number of minor commits above.  Reassigning to you to review & double check the changes (should be quick).  Close if all is well.

[2018-12-08 15:52] samreid commented on #43
Proposed fixes pushed and fuzzing has gone 60000ms here with no issues, closing for now and will review CT next business day.

[2018-12-08 15:52] #43 closed

[2018-12-08 16:13] samreid commented on #22
Two points to identify for @jessegreenberg and other developers using tandem.

* In Screen classes, use `tandem.createTandem('model')` and `tandem.createTandem('view')` instead of more specific strings
* When calling a super constructor, just pass through tandem instead of using `createTandem`

See the preceding commits for details.  Reassigned to @jessegreenberg to make sure he is aware of these

[2018-12-08 16:51] samreid commented on #22
I could not understand why track/control point serialization was failing for the intro and friction screens.  I also realized that track/control point serialization are not necessary or desirable there (though uniform serialization of tracks in all screens may lead to a simpler implementation), so that is disabled in the prior commit.  Wrapper unit tests are passing on my local.  Closing for now a

[2018-12-08 16:52] samreid commented on #22
Oops, reopening regarding https://github.com/phetsims/energy-skate-park/issues/22#issuecomment-445470260

[2018-12-09 15:47] samreid opened #44 "CT: assertion during interactWithTracksWhileFalling"
[code]

[2018-12-09 15:48] samreid commented on #45
Transferred since this code lives in energy-skate-park now.

[2018-12-10 15:04] samreid commented on #45
I left two sims fuzzing for half an hour and this error did not occur.  Here is the code that is causing it:

[code]

For Energy Skate Park (not basics), the potential energy can go negative, depending on the height of the reference line--but this calculation can make the thermal energy go negative, which is not allowed.

We could change the thermal energy calculation to always remain >=0 like so:

[2018-12-10 15:10] samreid commented on #45
I added more information to the assertion message so we can try to understand what is happening.  On hold until this comes up again in CT.

[2018-12-10 15:45] jessegreenberg commented on #22
Thanks for working on this @samreid, and understood with https://github.com/phetsims/energy-skate-park/issues/22#issuecomment-445470260, I will proceed with that moving forward.

With https://github.com/phetsims/energy-skate-park/issues/22#issuecomment-445472852, this issue can be reclosed.

[2018-12-10 15:45] #22 closed

[2018-12-10 15:47] jessegreenberg commented on #6
Reviewed above commits, thanks @samreid! Closing.

[2018-12-10 15:47] #6 closed

[2018-12-10 16:02] jessegreenberg commented on #40
Thanks for explaining @samreid, now I understand. Adding a rectangle behind the bar seems simple enough I will go ahead and try that regardless of #42.

[2018-12-10 16:13] jessegreenberg commented on #40
I replaced the stroke with a background rectangle, and this helped with the stroke. But the sim was still much slower on my laptop until I removed the imageNode with the bar label. These children are slow:
[code]

These children are fast:
[code]

Probably for similar reasons as https://github.com/phetsims/energy-skate-park/issues/40#issuecomment-443758160

[2018-12-10 16:20] jessegreenberg commented on #40
When generating the image node, I realized I wasn't using `useCanvas` in `rasterized`. Also reducing the resolution from 8 to 1 also greatly improved performance. But the text looks blurry.

[code]

[2018-12-10 16:34] jessegreenberg commented on #40
I tried scaling up the text manually, then scaling down the imageNode to get better quality, but I am seeing identical performance behavior to using higher value for `resolution`.

[2018-12-10 17:34] ariel-phet commented on #42
@jessegreenberg @samreid when the latest version of the iOS PhET app is published (1.2), we plan to drop "official support" for iPad2. The new iOS PhET app will be restricted to run on iOS 10.3 and higher, and since iPad2 cannot be upgraded to iOS 10, the app will effectively not support iPad2. We expect the app to be published soon, it is in the final stages of QA. It could be as soon as the next

[2018-12-10 17:39] jessegreenberg commented on #40
A different way to emulate the stroke is to use four surrounding rectangles around each bar, and this seems to perform pretty well on my slower laptop. This way, we can move the label back to the BarGraphBackground and not have to use a rasterized image of the label text.

So we will have the label in the background, then in the foreground we will have a solid rectangle for the bar, a semi-transpa

[2018-12-10 18:09] jessegreenberg commented on #40
I went with the above approach and it is working much faster on my slower laptop. I feel comfortable closing this issue.

[2018-12-10 18:09] #40 closed

[2018-12-10 18:30] jessegreenberg commented on #25
In https://github.com/phetsims/energy-skate-park/issues/40, I had to revert the look from "griddle-esqu" to the mockups in https://github.com/phetsims/energy-skate-park/issues/25#issuecomment-431936789. Putting the label on top of the bar caused layering issues with with the skater node or performance issues with WebGL. But in #40 we found a way to stroke the bars that is performant.

[2018-12-10 18:37] jessegreenberg commented on #25
OK, the zoom buttons are light blue in the above commit. @arouinfar can you please review?

[2018-12-10 21:51] jessegreenberg commented on #8
This is not showing up on CT, closing.

[2018-12-10 21:51] #8 closed

[2018-12-10 23:51] samreid commented on #42
I agree with @jessegreenberg's first paragraph in https://github.com/phetsims/energy-skate-park/issues/42#issuecomment-443783955 that removing the many simulation-specific WebGL parts will make this simulation easier to develop and maintain in both the short and long term.

I tried running the requirejs version of energy skate park on the iPad Air with webgl=false and saw very good performance dur

[2018-12-10 23:57] samreid commented on #42
@ariel-phet any thoughts on the preceding comment?  Should I set up a QA issue for preliminary chromebook performance testing?

[2018-12-11 20:14] jessegreenberg opened #46 "Scale of bar graph with small mass"
In https://github.com/phetsims/energy-skate-park-basics/issues/447 @KatieWoe pointed out the case where mass is very small while thermal and total energies are very high. In this case, there can be substantial movement, but even if the graph is zoomed in all the way, we can't see any kinetic or potential energies because the mass is so small. This was fixed in ESP:B by reverting to the mass range

[2018-12-13 17:57] arouinfar commented on #25
Looks great @jessegreenberg!

[2018-12-13 17:57] arouinfar commented on #25
Not sure if there's still remaining work on this issue, so reassigning @jessegreenberg.

[2018-12-13 18:03] arouinfar commented on #46
@jessegreenberg what is the value of the "Small" mass?

In master, the 5 kg mass seems reasonable, but the Bar Graph isn't particularly useful for the 0.2 kg mass. We may consider either adding an additional zoom level to the graph, or making 5 kg the smallest possible mass (which is currently the minimum on screens 2-4).

[2018-12-13 18:13] jessegreenberg commented on #46
Right now the mass slider spans the same range as the "Intro" screen, so "small" is 0.2 kg.

[2018-12-13 18:14] jessegreenberg commented on #25
Great, thanks @arouinfar! I think this issue can be closed, any other pixel polishing or changes can have a new issue. Closing.

[2018-12-13 18:14] #25 closed

[2018-12-13 18:16] arouinfar commented on #46
@jessegreenberg can you add one additional level of zoom in?

[2018-12-13 18:20] jessegreenberg commented on #46
I added another zoom level @arouinfar. When mass is tiny I can see the kinetic bar now. But when mass and gravity are tiny we have a similar issue again.

[2018-12-14 19:32] jessegreenberg opened #47 "Add text readout to gauge node"
I began to add a text readout to the gauge node for the Measure screen and realized that the same layout was requested in FAMB so I started https://github.com/phetsims/scenery-phet/issues/440.

In that issue @samreid said

So it seems our options are:
- Add text that changes every frame and test how poorly performance behaves.
- Not include the number display in ESP. Unsure how critical it is.
- A

[2018-12-14 19:34] samreid commented on #47
That seems like a complete set of options.  I suspect the right order of investigation would be 1, 4, 3, 2.

[2018-12-14 20:08] jessegreenberg commented on #47
OK, thanks, assigning to me. Ill start with 1 and see how it goes. Lets cross our fingers!

[2018-12-14 22:38] jessegreenberg commented on #47
On my iPad2 animation is noticeably faster without the change.

[2018-12-14 22:41] jessegreenberg commented on #47
This test included the Text added from GaugeNode's new NumberDisplay, and to get it working also included animation for the default needle.

Its a very long shot but I will try text animation without the needle animation.

[2018-12-14 22:51] jessegreenberg commented on #47
I tried with a custom NumberDisplay, without animating the the GaugeNode needle and still saw a big performance hit.

In the test I accidentally tried with 0 decimal places for the NumberDisplay and saw performance improve quite a lot because the text wasn't updating as much. So this really indicates that the rapidly changing text is causing the performance hit on iPad2.

[2018-12-21 23:54] lmulhall-phet opened #54 "Grainy circumference of pie chart, outline on bars of bar graph"
<b>Test Device</b>

iPad 2

<b>Operating System</b>

iOS 9.3.5

<b>Browser</b>

Mobile Safari 9.0

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/226. Grainy circumference of circle. There seems to be an outline around the bars on the bar graph on some sides but not others. I'm not sure who the lead dev for ESPB is. I'm sorry @jessegreenberg if it's not you! Pinging @jonatha

[2018-12-30 14:43] samreid opened #48 "Bayes CT is failing with "mismatched index, possible start/end mismatch" and "Changed state should now have one item in it.""
I'm not sure of the cause of these problems, but since Energy Skate Park: Basics and Energy Skate Park are instrumented for PhET-iO, they should be tested with `?brand=phet-io&ea&phetioValidateTandems&phetioStandalone&fuzz` during development.  I saw I noted several missing tandems and will commit them shortly. Self-assigning for further investigation.

[2018-12-30 14:58] samreid commented on #48
I'm seeing this trace with ?log:

[code]

Note that
[code]
never ends (or at least 17688 ends before 17689 does).

[2018-12-30 14:58] samreid commented on #48
It reminds me of this code in PhetioObject:
[code]

[2018-12-30 15:06] samreid commented on #48
This error can be reproduced by joining two tracks.

[2018-12-30 15:38] samreid commented on #48
I bracketed `Emitter.emit` with debugger statements and found the latter never gets hit.  Why?

[code]

[2018-12-30 15:51] samreid commented on #48
The problem was introduced in https://github.com/phetsims/friction/issues/161 in commit https://github.com/phetsims/tandem/commit/ac464815fc5a9667741c70276d10356c13b77f26.  Disposing an Emitter now sets its tandem to null, which makes `isInstrumented` change from true to false during execution.  Hence it never sends its end message.

[2018-12-30 19:08] zepumph commented on #48
You are right! That commit should be reverted.

[2018-12-31 00:42] zepumph commented on #48
Reverted in https://github.com/phetsims/tandem/commit/d3c3404e61db4ecc1c50e182e2fa06083c525c29. Sorry about that.

[2018-12-31 00:42] #48 closed

[2019-01-03 02:06] zepumph opened #49 "resetting playground still yields large "changed state""
I messed with the playground quite a bit, then reset the screen, and still had all of this extra state about tracks and control points that weren't the same as the `initialState`. This issue is to discuss if this is alright, and, if it isn't, to try to figure out how we can get the changed state back to `{}` by pressing reset and going back to the homescreen.

<details>
<summary>whole changed stat

[2019-01-03 18:33] KatieWoe opened #50 "CT: iframe api failed"
[code]

[2019-01-08 23:55] pixelzoom opened #51 "non-standard energy colors"
From https://github.com/phetsims/scenery-phet/issues/455#issuecomment-452506314:

PhetColorScheme:

[code]

EnergySkateParkColorScheme:

[code]

@arouinfar is there any reason why EnergySkateParkColorScheme should not be using PhetColorScheme?

[2019-01-09 00:36] arouinfar commented on #51
Thanks @pixelzoom. All PhET sims should use the same colors for the various energies, but `PhetColorScheme` is a bit antiquated. Changes to `PhetColorScheme` will be discussed in https://github.com/phetsims/scenery-phet/issues/456, so marking this as `status:on-hold` until that issue is resolved.

[2019-01-09 17:00] KatieWoe opened #52 "Pie chart wrong color when thermal is only energy"
For https://github.com/phetsims/QA/issues/226.  @samreid noted that when webgl is false, this issue does not appear.  If thermal energy is the only energy present, then the pie chart looks as if there is negative PE.  This means the chart has a dashed border and is the color of total energy.  To see this, go to the Playground screen, turn on the graphs, and drop the skater to the ground from some

[2019-01-10 06:01] arouinfar commented on #46
@jessegreenberg I think the scaling looks good on master. When mass is 5 kg and gravity is tiny, the bars are small, but I can still see the trade-off between KE and PE which is good enough. Is the scaling ideal for the smallest possible values? Perhaps not, but it's somewhat unrealistic to expect optimal scaling for all possible values without adding tons of zoom steps.

[2019-01-10 06:01] #46 closed

[2019-01-10 19:18] arouinfar commented on #51
@jessegreenberg, in phetsims/scenery-phet#455 the colors used for energy were updated in PhetColorScheme.js. ESP should be using PhetColorScheme for the energy colors in EnergySkateParkColorScheme. I'd imagine that ESPB uses the same color scheme, but to be clear, the change should apply to both sims.

[2019-01-11 15:20] samreid commented on #50
![image](https://user-images.githubusercontent.com/679486/51042501-ba293680-1579-11e9-8ec1-f81bc739b293.png)

[2019-01-11 15:21] samreid commented on #50
To be clear, it expected the EnergySkateParkControlPanel to have phetioEventType `model` but it is coming up as `user`.

[2019-01-11 15:36] samreid commented on #50
I committed the proposed fix and it is passing in local testing.  The EnergySkateParkVisibilityControls was introduced in ab8c037dcfc39d80773063c9d7ac0cf777a3f353 but `tandem.createTandem` was not used. Since this simulation is instrumented for PhET-iO, it seems valuable to run the "Wrapper Unit Tests" link from phetmarks either (a) before committing or (b) once a day or (c) to carefully monitor B

[2019-01-11 15:45] jessegreenberg commented on #50
OK, sounds good, Ill do this moving forward.

[2019-01-11 15:49] samreid commented on #50
Thanks!  In the preceding commit, I added some other missing tandems that were caught by the Wrapper Unit Tests.  Still investigating the "Cannot read property 'createAnotherDiv' of undefined", but I'll do that in another issue.  Leaving assigned to @jessegreenberg to double check my commit above, if that seems well, this issue can be closed.

[2019-01-11 15:50] samreid opened #53 ""Cannot read property 'createAnotherDiv' of undefined" in Wrapper Unit Tests"
Discovered in #50, the error is "Cannot read property 'createAnotherDiv' of undefined".  Not sure what is causing it.  Same problem is not occurring in Faraday's Law Wrapper Unit Tests.

[2019-01-11 15:52] samreid commented on #53
Two problems of the same type are coming from LinkedElementIO

[2019-01-11 16:15] samreid commented on #53
Proposed fixes are here, @jessegreenberg can you please review and close if all is well?

[2019-01-11 16:16] samreid commented on #53
Also, after the fixes here and in #50, the ESPB "Wrapper Unit Tests" with `?phetioValidateTandems` is passing, and should be a good point for testing for future development.  Thanks!

[2019-01-11 16:28] KatieWoe opened #55 "Performance and crashing on iOS 10"
For https://github.com/phetsims/QA/issues/226.
There is a fair amount of slow down on the measure screen in particular of ESP.  This can be seen in iOS 9.  However, in iOS 10 the sim has a tendency to crash rather quickly, especially when this screen has been or is being used.  I wiped the iOS 10 device as it has had problems in the past.  This seemed to improve other sims.  ESP was still crashing

[2019-01-11 16:31] KatieWoe commented on #54
Mover by request of @jessegreenberg

[2019-01-16 16:32] jessegreenberg commented on #55
Thanks @KatieWoe. The measure screen has extra animation for the circles representing data samples of the skater. Im sure it is related to that as I have since learned that all animation needs to be in the WebGL layer. #42 should be decided before any work goes into this issue.

[2019-01-16 16:36] jessegreenberg commented on #54
Thanks @KatieWoe and @lmulhall-phet, these are all drawn with WebGL, so we should determine how to proceed with #42 before spending any time fixing this.

[2019-01-16 16:47] jessegreenberg commented on #53
I reviewed and ran the unit tests on my end, and will continue to do so. Thanks @samreid!

[2019-01-16 16:47] #53 closed

[2019-01-16 17:07] jessegreenberg commented on #52
This was specific to this sim after changes for representing negative energies with the pie chart. Not a general WebGL bug. Fixed in the above commit.

[2019-01-16 17:07] #52 closed

[2019-01-16 17:28] jessegreenberg commented on #51
Alright, this sim (and therefore basics version) is using PhetColorScheme for the energies. Colors before (published version):
![before](https://user-images.githubusercontent.com/6396244/51266600-b2a6ca80-1989-11e9-8bf8-50895179e25d.PNG)

Colors after (master):
![after](https://user-images.githubusercontent.com/6396244/51266607-b76b7e80-1989-11e9-86f6-d92fd3a75887.PNG)

Closing.

[2019-01-16 17:28] #51 closed

[2019-01-24 20:23] jessegreenberg commented on #42
I only have access to an iPad2, but tried to reproduce what @samreid reported in

Indeed, I noticed this too with `webgl=false`. On iPad2 without webgl, the skater animates very slowly when moving on its own. But dragging the skater is very fast (except for at the edges).

However, I tried `renderer= null` on the ScreenView and `renderer='canvas'` just on the skater, and all dragging was fast arou

[2019-01-24 20:41] jessegreenberg commented on #42
@samreid I made https://github.com/phetsims/QA/issues/266 for the request, feel free to add any other details if you think I missed anything.

[2019-01-24 20:44] jessegreenberg commented on #47
This will depend on https://github.com/phetsims/energy-skate-park/issues/42, on hold until that is resolved.

[2019-01-25 23:11] jessegreenberg opened #56 "Use NumberDisplay for the skater path sensor"
I was changing the skater path sensor to use NumberDisplay, but noticed that with NumberDisplay (as it currently is), it will look different than the mockups when the sensor is not over a sample point.

Here is the mockup:
![image](https://user-images.githubusercontent.com/6396244/51777708-38362300-20cc-11e9-808e-12f4b84bce4a.png)

And here is what it will look like with NumberDisplay:
![image](ht

[2019-01-25 23:31] arouinfar commented on #56
@jessegreenberg it seems a bit weird that the null value includes units. I don't remember this being the case when I reviewed the work @pixelzoom did in https://github.com/phetsims/scenery-phet/issues/431#issuecomment-454964250.

Here are a few examples of NumberDisplays which do not show the units when the value is null.

Concentration Meter in beers-law-lab:
<img src="https://user-images.githubu

[2019-01-25 23:41] jessegreenberg commented on #56
It looks like those examples are using MathSymbols.NO_VALUE but not NumberDisplay.

[2019-01-25 23:43] jessegreenberg commented on #56
Units are included for cases like https://github.com/phetsims/scenery-phet/issues/431#issuecomment-439565309

[2019-01-25 23:44] jessegreenberg commented on #56
And same case explains why "no value" aligns with the value.

[2019-01-25 23:53] arouinfar commented on #56
Thanks for the clarification @jessegreenberg. The example in https://github.com/phetsims/scenery-phet/issues/431#issuecomment-439565309 is a somewhat different context. There, the user is choosing between different units in the ComboBox (ComboDisplay?).

I'm not sure what the advantage of using NumberDisplay would be here. It looks like other similar tools aren't using NumberDisplay. If these sort

[2019-01-26 00:05] jessegreenberg commented on #56
I was just trying to use a common code component rather than re-implement the Rectangle + Text + layout code + use of MathSymbols.NO_VALUE. Most examples in https://github.com/phetsims/scenery-phet/issues/431#issue-380914464 have the dash centered with no units, so I am wondering if this should actually be the default for no value.

[2019-01-29 16:02] jessegreenberg commented on #56
Options were added to NumberDisplay so that different units and alignment can be used  when there is no value. Since it matches the mockup now this can be closed.

[2019-01-29 16:02] #56 closed

[2019-02-04 18:48] jessegreenberg opened #57 "CT issues related to Phet-iO"
I noticed a number of CT errors in this sim and basics. Probably due to usage of NumberDisplay, but maybe something else. Ill take a look.

[2019-02-04 18:50] jessegreenberg commented on #57
Here is the issue, caught in wrapper unit tests:

[2019-02-05 16:31] KatieWoe commented on #57
Here are a number of issues I saw, that may be related.  Let me know if they aren't and need a different issue @jessegreenberg
[code]

[2019-02-05 19:33] jessegreenberg commented on #57
Thanks @KatieWoe!

[2019-02-05 19:49] jessegreenberg commented on #57
I think the disposal issue is related to https://github.com/phetsims/scenery/issues/928. Ill look into the out of range assertions now too.

[2019-02-05 21:18] jessegreenberg commented on #57
Range assertion was caused by 48f1a42cf6bb8e23db5fc7587ff42c58899e25bd, fixed by the above commit. Sim is fuzzing without error and unit tests are passing. Closing.

[2019-02-05 21:18] #57 closed

[2019-02-08 19:38] jessegreenberg opened #58 "Add configurable premade tracks"
Some screens of energy-skate-park need tracks that are "premade" but can be changed slightly. Control points can be moved in limited bounds to modify the shape a bit without being able to completely change the shape. This commit will track progress for this.

[2019-02-08 19:43] jessegreenberg commented on #58
The above is the initial commit for this, but there are a number of parts that still need to be done.

- [ ] These tracks should be resettable
- [ ] The icons for the radio buttons that select a premade track should not include control points if they are considered "configurable".
- [ ] For these "configurable" tracks that are not draggable and cannot be further modified, the UI for removing contr

[2019-02-08 20:29] jessegreenberg commented on #58
I am wondering if all control points should be draggable for these "configurable" tracks. For instance, is it useful to be able to drag the control points at the bottoms of teh double well? The reason I question is because dragging certain control points (like the bottoms of the double well) will cause portions of the track to go below ground. When the control point is release in this case, the en

[2019-02-08 22:58] jessegreenberg commented on #58
I am seeing an error with the configurable tracks, there were assumptions about the premade tracks that maybe no longer apply. somethign related to "correctEnergy heuristics".

[2019-02-08 22:58] jessegreenberg commented on #58
Almost certainly related to phetsims/energy-skate-park-basics#301.

[2019-02-08 23:03] jessegreenberg commented on #58
Also related to phetsims/energy-skate-park-basics#164, there is a flag in Track called `slopeToGround` that adds some special behavior when the skater is meant to transition directly to the ground in the case of the slope track.

[2019-02-08 23:37] jessegreenberg commented on #58
Should be fixed with the above commit. I changed it so that "slope to ground" tracks no longer apply corrections if they are configurable and the control points move. But on reset, the corrections are enabled again. I am going to run tests, then I think this issue can be closed.

[2019-02-08 23:47] jessegreenberg commented on #58
Sim is fuzzing and phet-io wrapper tests are now passing. I think this can be closed since the main feature has been added.

[2019-02-08 23:47] #58 closed

[2019-02-11 15:35] jessegreenberg opened #59 "CT error"
Over the weekend, CT started showing this error:
[code]

More frequenly for ESPB than ESP, but don't know if that is relevant. I added this assertion on Friday so I will take a look.

[2019-02-11 15:36] jessegreenberg commented on #59
I have been fuzzing http://localhost:8080/energy-skate-park-basics/energy-skate-park-basics_en.html?brand=phet&ea&fuzz&screens=3 locally for about 5 minutes and haven't seen this yet.

[2019-02-11 15:39] jessegreenberg commented on #59
Found it by doing these steps:

- Drag track into play are of Playground screen
- Delete a control point
- Try to attach a new track to the old track.

Another symptom is that once the control point is deleted, all of the control pints disappear. My guess is that the new track doesn't have all the right options.

[2019-02-11 15:43] jessegreenberg commented on #59
Fixed with the above commit, I wasn't extending the the "interactive" options correctly for the new track after deleting a control point. It is done correctly at other usages of new Track, so I expect this to resolve the issue on CT. Closing but I will keep monitoring.

[2019-02-11 15:43] #59 closed

[2019-02-13 16:07] KatieWoe opened #60 "CT: Thermal energy should be non-negative"
Also seen in ESPB
[code]

[2019-02-14 21:18] jessegreenberg commented on #60
This is happening here and there over the last few days in ESP and ESP:B. Ill try to reproduce locally.

[2019-02-14 21:21] jessegreenberg commented on #60
Seems to mostly happen for screens using EnergySkateParkPlaygroundModel, Ill try with ?screens=4

[2019-02-14 21:39] jessegreenberg commented on #60
Fuzzing for about 15 minutes, I haven't seen it yet.

[2019-02-14 21:56] jessegreenberg commented on #60
Oh, I see now there is a lot of information about this in the assertion. This is related to https://github.com/phetsims/energy-skate-park/issues/45.

[2019-02-14 21:56] jessegreenberg commented on #60
Since this is a duplicate of that issue Ill move info there and close this one.

[2019-02-14 21:56] #60 closed

[2019-02-14 21:57] jessegreenberg commented on #45
This came up in #60, here is the report from that issue:
[code]

[2019-02-14 21:59] jessegreenberg commented on #45
I notice that the initial energy is equal to newThermalEnergy. It is less than zero with a reference height of 0. Maybe the skater is just slightly below y=0 when this is happening.

[2019-02-14 22:43] jessegreenberg commented on #45
I tried to get the skater fall off the track below ground. I thought this might be possible by dragging a control point while the skater was moving on the track like this:
![image](https://user-images.githubusercontent.com/6396244/52822482-cc6a2900-307f-11e9-93a5-39e79f445341.png)

I tried to delete the end point in the above image too, I thought that might initiate 'switchToGround` immediately bu

[2019-02-19 15:38] KatieWoe opened #61 "CT Velocity.magnitude is not a function"
ESP and ESPB
[code]

[2019-02-19 15:41] Denz1994 commented on #61
This may be related to https://github.com/phetsims/dot/issues/84. Looking into it now.

[2019-02-19 15:57] Denz1994 commented on #61
Seems like my version was out of line with Master. This may have caused my original push to multiple repos skip over ESPCommon. I pushed relevant fixes to `.magnitude` and will let CT run a bit before closing.

[2019-02-19 17:00] Denz1994 commented on #61
CT is in the green for the last 2 cycles and local copies are running fine. Closing this issue.

[2019-02-19 17:00] #61 closed

[2019-02-22 15:36] KatieWoe opened #62 "CT: Thermal energy should be non-negative"
[code]

[2019-02-26 19:53] samreid opened #63 "`NumberDisplay.DEFAULT_VALUE_PATTERN` is no longer defined"
From https://github.com/phetsims/sun/issues/474.  SkaterPathSensorNode contains this code:

[code]

But after work in https://github.com/phetsims/sun/issues/474, `NumberDisplay.DEFAULT_VALUE_PATTERN` is no longer defined.  @jessegreenberg can you please investigate?

[2019-03-28 17:20] pixelzoom opened #64 "use GaugeNode"
Related to https://github.com/phetsims/energy-skate-park/issues/47.

Is there any reason why this sim isn't using `SCENERY_PHET/GaugeNode`?

[2019-04-04 14:51] KatieWoe commented on #62
[code]

[2019-04-10 20:18] zepumph opened #65 "branch: dynamic-state"
for work being done in, https://github.com/phetsims/phet-io/issues/1442

[2019-04-10 20:19] zepumph commented on #65
Tagging @jessegreenberg. FYI. We have these changes that are largely investigation at this point on the branch. That said once a pattern is more developed, we will be interested in committing to master.

[2019-04-17 18:28] jessegreenberg commented on #63
Replaced with SunConstants.VALUE_NAMED_PLACEHOLDER, thanks!

[2019-04-17 18:28] #63 closed

[2019-04-17 18:37] jessegreenberg commented on #42
https://github.com/phetsims/QA/issues/266 is complete and the results are summarized in a table here:
https://github.com/phetsims/QA/issues/266#issuecomment-462510121

To summarize: The sim generally performs the same with/without WebGL. There are two exceptions. First, WebGL in Edge WebGL is substantially *slower* than without. This might change soon with the Edge switch to Chromium. Second, when

[2019-04-18 21:10] jessegreenberg commented on #42
We discussed a bit in https://github.com/phetsims/scenery/issues/270. To summarize, we can't dive into that issue yet and it is unclear whether there is anything we can do as it may be a Safari problem. And we can't invest more in general WebGL support yet.

First, we should explore another alternative for this simulation that may address all concerns: Use SVG generally, but render objects that go

[2019-04-18 21:33] jessegreenberg commented on #42
The check box that slows the skater down the most when off screen is the "Grid" checkbox.

[2019-04-18 21:38] jessegreenberg commented on #42
The off-screen slowdown goes away almost entirely when everything is rendered in SVG except for the `BarGraphForeground`, I wonder why that is.

[2019-04-22 15:22] jessegreenberg commented on #42
After https://github.com/phetsims/energy-skate-park/issues/42#issuecomment-484698634 and https://github.com/phetsims/QA/issues/266 we expect the following changes on various platforms after removing the custom WebGL from this sim:

- Equivalent performance on Win 10 Chrome
- Better performance on Edge/IE11 (at least until the Chromium switch)
- Equivalent performance on Chromebooks
- ~60fps on iPa

[2019-04-22 15:29] samreid commented on #42
To me, it sounds appropriate to eliminate WebGL-related code and workarounds from Energy Skate Park.

[2019-04-22 15:58] jessegreenberg opened #66 "Remove custom WebGL code from this sim"
#42 is an investigation about whether we can safely remove WebGL from ESP and keep good performance on PhET's targeted platforms. Should we see a 👍 there (which is likely), these are the immediate things that should be done (with recommendations from @samreid over slack):

- [x] Delete CircularOutlineWebGLNode
- [x] Delete PieChartWebGLNode (edited)
- [x] Remove `renderer` args from SkaterNode Bar

[2019-04-22 16:05] jessegreenberg commented on #66
SHA and date before removing WebGL:
[code]

[2019-04-22 19:34] samreid commented on #30
https://github.com/phetsims/phet-io-wrappers/issues/188#issuecomment-432771369 is resolved and I don't recall seeing this issue on CT recently. Closing.

[2019-04-22 19:34] #30 closed

[2019-04-22 20:38] ariel-phet commented on #42
@jessegreenberg now that we have made the decision to no longer support iPad2 officially, we must accept that some sims will have significant performance issues on that platform.

Given what you lay out in terms of performance in https://github.com/phetsims/energy-skate-park/issues/42#issuecomment-485448030 I think removing WebGL is totally acceptable.

[2019-04-23 15:34] jessegreenberg commented on #42
Thanks @ariel-phet and @samreid,  then we will proceed with #66 and remove the custom WebGL from this code from this sim. Closing this issue since we will continue there.

[2019-04-23 15:34] #42 closed

[2019-04-24 22:10] jessegreenberg commented on #66
Lets not do this until we try to use griddle first.

[2019-04-24 22:13] jessegreenberg commented on #31
Now that we have a decision in #42, we can try to use griddle again. That will be done next as part of #66

[2019-04-25 23:35] jessegreenberg commented on #31
The other portion that is unsuported by griddle is
[code]

[2019-04-25 23:46] jessegreenberg commented on #31
@samreid @arouinfar here is what published sim looks like when skater is at track endpoint:
![image](https://user-images.githubusercontent.com/6396244/56774749-0cd9d780-6792-11e9-8dab-d1429b9b47d5.png)

Compared to master using griddle:
![image](https://user-images.githubusercontent.com/6396244/56774794-30048700-6792-11e9-96eb-00d7441fcb16.png)

Setting `borderWidth` to 0 in griddle/BarNode it loo

[2019-04-25 23:56] samreid commented on #31
It seemed important during design that those bars would disappear completely.  I like your idea to investigate doing that in griddle.

[2019-04-26 00:14] jessegreenberg commented on #31
OK, thanks! Ill take it over there.

[2019-04-26 00:23] jessegreenberg commented on #31
I made https://github.com/phetsims/griddle/issues/35

[2019-04-26 14:43] KatieWoe opened #67 "CT Cannot read property removeChild in phet-io-tests"
In CT for ESPB as well
[code]

[2019-04-26 15:30] jessegreenberg commented on #67
Thanks @KatieWoe, locally I am also seeing

[2019-04-26 15:42] jessegreenberg commented on #67
Now locally I am seeing

[2019-04-26 16:08] jessegreenberg commented on #67
Tandems added were required so I must need to regenerate the schema. Then I should be able to see the original issue in that ticket. When I tree to generate the schema I see

Running "generate-phet-io-elements-files" task
Fatal error: Perennial task failed:
TimeoutError: Navigation Timeout Exceeded: 30000ms exceeded
  at Promise.then (C:\Users\Jesse\Documents\Development\phetsims\chipper\node_modu

[2019-04-26 16:30] jessegreenberg commented on #67
@chrisklus showed me how to generate the schema so those errors are gone.

[2019-04-26 16:48] jessegreenberg opened #68 "Wrapper Unit Tests: createTandem cannot accept dots, Property already deferred"
While debugging #67 I am encountering these when running wrapper unit tests.

And

I am curious about the first error. "element" is not defined as a tandem name in the sim, so is "controlPoint.element~0" getting generated internally?

I ran ?fuzz with studio and I am not sure how else I can try to reproduce outside of unit tests. @samreid @chrisklus or @zepumph would you mind helping with these?

[2019-04-26 16:52] jessegreenberg opened #69 "Dynamic tandem created when view resized"
While debugging #67 I encountered the following error when opening the javascript console because the Text and its Tandem are created when the window is resized:

How should this be handled? We could either change the implementation of GridNode so that we have a persistent instance of Text, or is there a way to mark the Tandem as "dynamic"?

[2019-04-26 16:53] jessegreenberg commented on #67
I haven't been able to see the original error yet because #68 and #69 are masking it for me locally. I am not hitting this with ?fuzz in studio. On hold until those issues are resolved.

[2019-04-26 20:54] arouinfar commented on #31
Agreed! Seems like a good addition to griddle.

[2019-05-09 18:25] zepumph commented on #68
I can reproduce this by loading the state wrapper.

[2019-05-09 22:00] zepumph commented on #68
Bugs I've cleaned up in this issue (sorry they all sorta mixed together):

* A few instances of `phetioEngine.hasInstance` weren't renamed to `phetioEnging.hasPhetioObject`
* many NodeIO subproperties were added to the state when we worked on (https://github.com/phetsims/phet-io/issues/1420). In general this was planned, but for dynamic Nodes, we didn't want the sub Properties in the state at all,

[2019-05-22 14:38] KatieWoe opened #70 "CT Tandem was required but not supplied"
[code]

[2019-05-22 20:09] jessegreenberg commented on #70
Thanks, fixed above.

[2019-05-22 20:09] #70 closed

[2019-05-22 20:12] jessegreenberg commented on #69
Text was uninstrumented this is no longer an issue.

[2019-05-22 20:12] #69 closed

[2019-05-22 20:13] jessegreenberg commented on #67
#68 and #69 are no longer blocking this, I should be able to return to this.

[2019-05-22 20:15] jessegreenberg commented on #67
PhET-iO Wrapper unit tests are all passing, this must have been fixed as part of #68 and #69. Thanks @zepumph!

[2019-05-22 20:15] #67 closed

[2019-05-22 22:34] jessegreenberg commented on #31
Griddle is now being used for the bar graph in this sim. BarGraphForeground and BarGraphBackground have been collapsed into EnergyBarGraph. At this point I think BarGraphForeground and BarGraphBackground can be removed for #66

[2019-05-22 22:34] #31 closed

[2019-05-22 22:41] jessegreenberg commented on #66
Bar graph is done, see #31. Ill work on the pie chart next.

[2019-05-23 14:42] jessegreenberg opened #71 "CT: media types error"
energy-skate-park : build : phet
Failure to grunt snapshot-1558601544938/energy-skate-park:
Running "lint-all" task

Running "report-media" task

Fatal error: There is an issue with the licenses for media types.

I removed a mockup image that was used for development and thought I removed the license entry, but maybe there is something else I need to do?

[2019-05-23 14:48] jessegreenberg commented on #71
Removed image from screen view but forgot to delete it...

[2019-05-23 14:53] jessegreenberg commented on #71
Sim is building locally now, I assume this will be fixed on CT too, closing.

[2019-05-23 14:53] #71 closed

[2019-05-23 15:09] jessegreenberg commented on #62
This is a duplicate of https://github.com/phetsims/energy-skate-park/issues/45

[2019-05-23 15:09] #62 closed

[2019-05-23 16:46] jessegreenberg commented on #66
They can just be removed at this point.

[2019-05-23 16:58] jessegreenberg commented on #66
We still want some layering so that subtypes of EnergySkateParkSCreenView can layer things in front of and beind the skater. I will keep bottomLayer (for UI components) and topLayer (for interactive components that are draggable on top of the rest of the UI).

[2019-05-23 18:11] jessegreenberg commented on #66
One remaining comment related to WebGL says:
[code]

@samreid would you recommend leaving this as is or should we try to do this with a single Image Node? Commit that added this was fcbe3eda6fbe5173a8196ac8910721a78c90af40, but I couldn't find an issue, do you remember what platform/context had an issue with this?

[2019-05-23 18:38] jessegreenberg commented on #66
Otherwise, I think all custom rendering has now been removed.

[2019-05-23 18:41] jessegreenberg commented on #47
#42 has been addressed and since the sim no longer has custom WebGL requirements ValueGaugeNode can be used.

[2019-05-23 18:44] jessegreenberg commented on #64
In #47 we are going to use ValueGaugeNode for the gauge node with text. The GaugeNode in this sim had a custom needle that was rendered with WebGL for performance. Custom WebGL code was removed in #66.

[2019-05-23 18:44] #64 closed

[2019-05-23 18:45] jessegreenberg commented on #38
After #66 this is no longer relevant and can be pruned.

[2019-05-23 18:46] jessegreenberg commented on #38
Deleted.

[2019-05-23 18:47] jessegreenberg commented on #54
No longer using WebGL in this sim so it is no longer relevant. Closing.

[2019-05-23 18:47] #54 closed

[2019-05-23 18:51] jessegreenberg commented on #55
No longer on hold because the sim is not using WebGL anymore. Not sure if this will still be an issue. @KatieWoe can you please check? Performance of measure screen is great on iOS 12, but I don't have access to iOS 10.

[2019-05-23 18:55] jessegreenberg commented on #50
All looks great for this issue and "Wrapper unit tests" are passing. Closing.

[2019-05-23 18:55] #50 closed

[2019-05-23 20:35] jessegreenberg commented on #55
Thanks for checking @KatieWoe I am not surprised that the graph screen is slow at the moment, there is prototype code there. Since the measure screen is OK and no exhibiting any crashing I am going to close this.

[2019-05-23 20:35] #55 closed

[2019-05-23 22:09] jessegreenberg commented on #47
ValueGaugeNode is now being used, the NumberDisplay is only visible on the Measure screen.

[2019-05-23 22:09] #47 closed

[2019-05-23 22:34] jessegreenberg opened #72 "Should visibility of more things have associated model Properties?"
At the momemnt, there are options for view types to control whether certain things are visible in the view. For example, to hide the bar chart from the measure screen we have.

      includeEnergyBarGraph: false,
      controlPanelOptions: {
        visibilityControlsOptions: {
          includeBarGraphCheckbox: false
        }
      }

This is a bummer because we need two options for it, one for

[2019-05-23 22:43] jessegreenberg commented on #72
This applies to most things in EnergySkateParkVisibilityControls

[2019-05-23 22:51] jessegreenberg commented on #72
It feels backwards to have something like `showBarGraph` in the model, so I am going to move back to the view and reduce complexity of the nested options.

[2019-05-23 23:21] jessegreenberg commented on #72
I think this is much nicer in energy-skate-park, changes need to be propagated to energy-skate-park-basics.

[2019-05-24 21:30] jessegreenberg commented on #72
Done in the above commits, I think that is much easier to understand.

[2019-05-24 21:30] #72 closed

[2019-05-30 22:32] samreid commented on #68
Reducing priority relative to other high priority tasks.

[2019-06-03 15:23] KatieWoe opened #73 "CT Thermal energy should be non-negative"
[code]

[2019-06-03 23:01] jessegreenberg commented on #73
Thanks @KatieWoe, this is  the same as #45, we will discuss there.

[2019-06-03 23:01] #73 closed

[2019-06-14 16:22] KatieWoe opened #74 "CT o.getCursorTime is not a function"
[code]

[2019-06-14 20:17] jessegreenberg commented on #74
Thanks, sorry about that. Fixed above.l

[2019-06-14 20:17] #74 closed

[2019-06-26 14:57] KatieWoe opened #75 "CT model has no saved SkaterStates to retrieve"
[code]

[2019-06-26 15:16] jessegreenberg commented on #75
Thanks @KatieWoe

[2019-06-26 15:49] jessegreenberg commented on #75
Fixed in above commits.

[2019-06-26 15:49] #75 closed

[2019-07-03 14:54] KatieWoe opened #76 "CT value not in validValues"
[code]

[2019-07-03 15:32] jessegreenberg commented on #76
Thanks @KatieWoe, fixed.

[2019-07-03 15:32] #76 closed

[2019-07-08 20:22] jessegreenberg opened #77 "Icon for "Stick to track" checkbox"
This checkbox doesn't have an icon yet, should it? Only asking because the other checkboxes all have icons associated with them.

[2019-07-08 20:25] jessegreenberg commented on #77
Would a mini version of these work?
![image](https://user-images.githubusercontent.com/6396244/60840165-e1656700-a19c-11e9-95aa-8f9dc0d0f36a.png)

Not sure if they will work when made smaller for the checkbox.

[2019-07-08 20:49] arouinfar commented on #77
@jessegreenberg I think an icon could be nice, though not strictly necessary. Perhaps something simple like the dashed track with the skater's dot?

Here's a quick mockup. @jessegreenberg any thoughts?
![image](https://user-images.githubusercontent.com/8419308/60841499-3306f500-a18f-11e9-9376-86b6b1566ce4.png)

[2019-07-08 21:11] jessegreenberg commented on #77
OK, thanks! I added that as the icon.

[2019-07-08 21:11] #77 closed

[2019-07-31 21:57] jessegreenberg opened #78 "Layout for the grid on different screens"
Grid lines are separated by 1m. In some mockup images the grid is aligned such that a grid line hits right on x=0 meters in the sim while some have the grid lines aligned on the half meter mark.  Is this difference important?

It may be that labels line up with other panels in a particular screen better with one way than another. But I wanted to make sure this difference was OK and if we eneed to

[2019-07-31 21:58] jessegreenberg commented on #78
If we decide that the grid should be aligned on the half meter for all screens, can that change apply to ESP:B?

[2019-07-31 22:02] jessegreenberg opened #79 "Can track icons include control points?"
Icons for premade track radio buttons are currently images of the track nodes themselves. So the tracks that include control points will include those in the icons. Is this beneficial/acceptable or should the be removed from the icons?

![image](https://user-images.githubusercontent.com/6396244/62251318-5eab8280-b3bd-11e9-8448-99130cb65382.png)

[2019-07-31 22:06] jessegreenberg opened #80 "Control points and draggable areas for new premade tracks"
@arouinfar are you comfortable with the shape of the new loop trackin ESP?

I chose control points that roughly make the shape but didn't thing through it too carefully. Should they be changed?

Draggable control points on premade tracks are limited to specific drag bounds. I added arbitrary bounds to get the feature working but this wasn't though through carefully either. @arouinfar would you cha

[2019-07-31 22:11] jessegreenberg opened #81 "Images for different skater masses"
We are ready for new images for the skater masses! This is just an issue to track that.

[2019-07-31 22:12] jessegreenberg opened #82 "Entire reference height line should be draggable"
It is strange that it isn't at the moment, only the handle is draggable.

[2019-07-31 22:23] jessegreenberg commented on #82
Done

[2019-07-31 22:23] #82 closed

[2019-07-31 22:33] jessegreenberg opened #83 "Prevent premade tracks from being "pushed" when points adjusted"
After a track control point is released, the track gets smoothed. If the smoothed track was below ground, it gets pushed up. This means that tracks can "grow" if you try to move a control point to a position that puts a portion of the track below ground. This is true of all tracks. But it is quite noticeable for new premade tracks where the control points are confined to draggable bounds. It is po

[2019-07-31 22:55] jessegreenberg commented on #83
This actually isn't so bad with the current control points on the premade tracks. It is most noticeable right now with the loop. Here is a gif that demonstrates:
![test](https://user-images.githubusercontent.com/6396244/62253568-5440b700-b3c4-11e9-89fa-2700a6640b89.gif)

We could chcange the control points and draggable boundssuch that  it is impossible to drag a section of a track  below ground.

[2019-07-31 23:37] arouinfar commented on #83
@jessegreenberg that sounds like a reasonable approach to me!

[2019-07-31 23:46] arouinfar commented on #79
@jessegreenberg thanks for checking in! I like the icons they way the are now. The control points provide nice contrast between the Intro and Measure screens, too.

[2019-07-31 23:46] #79 closed

[2019-08-01 00:04] arouinfar commented on #80
@jessegreenberg the default loop feels a bit cramped to me, but the basic shape is nice.
![image](https://user-images.githubusercontent.com/8419308/62256072-2b68f380-b3bd-11e9-9bee-782eb83166aa.png)

Could we set the default to something more like this?
![image](https://user-images.githubusercontent.com/8419308/62256108-476c9500-b3bd-11e9-8078-d7fd96c8c789.png)

Yes, I should fine-tune those a bit

[2019-08-01 00:04] arouinfar commented on #78
I'm not sure I follow. Looking through the design doc the x=0 line always fall on a grid line. Can you send me a screenshot of what you're talking about?

[2019-08-01 02:27] jessegreenberg commented on #78
Sorry, I should have said the x=0 line in the sim model, which is at the center of the screen. Its easiest to see by seeing where the grid line hits the x center of the track. In energy-skate-park-basics and mockups for "graphs" screens, grid falls along each meter at x= -2, -1, 0, x=1, x=2, .... like this:
![image](https://user-images.githubusercontent.com/6396244/62260772-261da000-b3e1-11e9-8c6e

[2019-08-01 02:41] jessegreenberg commented on #80
Sounds good, I changed the defaults to match what you have in that image.

[2019-08-01 03:02] jessegreenberg commented on #83
Cool, thanks @arouinfar - here it is with the fix I think it is working pretty well:
![7186c4c28b2c782b125a3cae0eb8a3a7](https://user-images.githubusercontent.com/6396244/62262603-45b7c700-b3e7-11e9-95f5-21dd29aeb20e.gif)

[2019-08-01 03:04] #83 closed

[2019-08-05 16:02] jessegreenberg opened #84 "[Measure screen] Should measurable points fade away when track changes?"
Just considering this case which looks slightly odd but may be totally reasonable. If you pause the sim then move the track the measurable points don't fade away, they are still measurable.
![869190b0100caf21f6d6b1f51fbcb126](https://user-images.githubusercontent.com/6396244/62478204-85303b80-b778-11e9-9393-46d8e28dcaf2.gif)

What should the behavior be when the track is moved? Should existing poi

[2019-08-05 16:05] jessegreenberg commented on #84
Similar question when a new premade track is selected
![image](https://user-images.githubusercontent.com/6396244/62478511-451d8880-b779-11e9-9077-f13f34ac7c87.png)

[2019-08-05 16:08] jessegreenberg commented on #84
My instinct is to clear points when a new track is selected because the user is changing setups, but keep the points when a control point is dragged because the user is doing a more incremental change with the same setup and may want to keep measuring the existing points. What do you think @arouinfar?

[2019-08-05 16:23] jessegreenberg commented on #84
This was done in the above commit.

[2019-08-05 16:31] jessegreenberg opened #85 "[Measure Screen] Measurable points linger for too long"
Some time after begining to fade away measurable points will be removed. But right now they linger for too long while still fading away to nothing. This can lead to confusing situations because old and basically invisible points can be measured with the existing points. So you will find points with speed/energies that don't make much sense with the existing points.

Points should be removed more q

[2019-08-05 16:36] jessegreenberg commented on #85
Above commit fixes this.

[2019-08-05 16:36] #85 closed

[2019-08-05 18:05] jessegreenberg commented on #80
A related question is which control points should be draggable? Like in the parabola track only the bottom point is draggable.

[2019-08-05 18:11] jessegreenberg opened #86 "[Graphs Screen] graph should align with track"
In the mockups the graph of the energy graph accordion box should align wth the track so that position  of the skater aligns with postion on the graph.

[2019-08-05 18:23] jessegreenberg commented on #86
Done in th eabove commit.

[2019-08-05 18:23] #86 closed

[2019-08-05 18:45] jessegreenberg opened #87 "[Graphs Screen] Layering of skater and graph"
On the graphs screen, is it OK that the skater goes behind the graph? Generally to drop the skater over the endpoints of the track, the skater will need to under or over the graph. Should the layering change?

![0dc6aea15ecc6afdb03ffaa3414383a3](https://user-images.githubusercontent.com/6396244/62487342-8f116900-b78f-11e9-8693-61f1e420d283.gif)

[2019-08-05 18:47] jessegreenberg opened #88 "[Graphs Screen] Layout for speedometer"
The mockups for the graph screen show a "Speed" checkbox but no speedometer. The default position for the speedometer is right behind the "Energy Graph" accordion box, so the speedometer is hidden when the accordion box is open. Do we need to fit the speedometer somewhere else in this screen?

[2019-08-05 18:48] jessegreenberg opened #89 "Add gravity combobox to graphs screen"

[2019-08-05 18:53] jessegreenberg commented on #89
Dnoe

[2019-08-05 18:53] #89 closed

[2019-08-05 18:58] jessegreenberg opened #90 "Slider label alignment"
Mockups have the bold slider labels aligned like this:
![image](https://user-images.githubusercontent.com/6396244/62488037-51addb00-b791-11e9-8edc-7ed2143c1236.png)

So they all match the layout of NumberControl.

Currently slider labels are centered while NumberControl labels are left aligned.
![image](https://user-images.githubusercontent.com/6396244/62488088-73a75d80-b791-11e9-910d-c399c2cbdd1a

[2019-08-05 19:00] jessegreenberg commented on #90
`align: 'left'` on a containing VBox isn't sufficient because it needs to be aligned with other controls. So the slider will somehow need knowledge of the other controls for layout.

[2019-08-05 19:11] jessegreenberg commented on #90
I considered handling the layout externally to PhysicalSlider, maybe assembling the slider and label in EnergySkateParkControlPanel. This sounds complicated and would require checking if one of the passed in controls is of type PhysicalSlider.

I considered using AlignGroup, putting each control in the panel in an AlignBox each with matching widths so we know the width. But this adds complexity to

[2019-08-05 19:19] arouinfar commented on #90
@jessegreenberg I tried to find an example where we aligned left-aligned the HSlider and NumberControl labels, but I couldn't find one.

This sounds a bit like a hack that might ruffle some feathers. I'm not particularly bothered by the current alignment, so we could just leave it as-is.
![image](https://user-images.githubusercontent.com/8419308/62489203-61bebe00-b783-11e9-9ef1-550ce130ef75.png)

[2019-08-05 19:31] jessegreenberg commented on #90
@arouinfar thanks for looking through sims - I thought it was a little hacky too 😄 But i just noticed that there is already support for this in NumberControl, there is a layout method that allows you to hide the arrow tweakers and number display which should make this layout pretty easy.

[2019-08-05 20:55] jessegreenberg commented on #90
Well, I couldn't use the method already in NumberControl because it actually puts the label at the left of the slider rather than the tweakers if the tweaker buttons are removed which is exactly what we don't want. But I went with a custom layout function for this and I think it is looking nice, will commit soon.

[2019-08-05 21:13] jessegreenberg commented on #90
Done in the above commit, I actually think this was an improvement to code as well as layout.

[2019-08-05 21:13] #90 closed

[2019-08-05 21:26] jessegreenberg opened #91 "Improve energy graph y labels"
There are some layoutes where the labels are wrong or have weird layout:
![image](https://user-images.githubusercontent.com/6396244/62496173-1ec21200-b7a6-11e9-87e2-a68c07817a32.png)

[2019-08-06 00:03] jessegreenberg commented on #91
Much improved with the above commit.

[2019-08-06 00:03] #91 closed

[2019-08-06 00:03] jessegreenberg opened #92 "Clean up EnergyGraphAccordionBox.js"
This file has grown quite large. I intially thought it best to have one file with inner types, but it makes for a large complicated file that would be more manageable broken up into a few files.

[2019-08-06 22:01] #92 closed

[2019-08-06 22:02] jessegreenberg opened #93 "Complete "Lab" screen"

[2019-08-06 22:25] jessegreenberg opened #94 "Consolidate MassComboBox and GravityComboBox into a PhysicalComboBox (or something)"
These two classes now share a substantial amount of code.

[2019-08-06 22:40] jessegreenberg opened #95 "Keep Radio buttons for attach/detach in basics?"
![image](https://user-images.githubusercontent.com/6396244/62582211-a3ca2b80-b879-11e9-9108-27e490738c2d.png)

Energy Skate Park full replaces these with a check box. Will that checkbox now be used in energy-skate-park-basics or should this input be kept for basics only?

[2019-08-07 15:02] KatieWoe opened #96 "CT not a function"
[code]

[2019-08-07 16:08] jessegreenberg commented on #96
Thank you @KatieWoe, fixed in the following commit.

[2019-08-07 16:08] #96 closed

[2019-08-07 18:32] jessegreenberg opened #97 "[Lab Screen] Why does the energy bar graph appear in an AccorionBox?"
In the Lab Screen, the Energy Bar Graph is displayed in an AccordionBox. Other screens have visibility controlled with a Checkbox. Should more screens use the AccordionBox? Or should the lab screen use a checkbox? Or is the difference on the Lab Screen important?

[2019-08-07 20:01] jessegreenberg commented on #93
It is complete.

[2019-08-07 20:01] #93 closed

[2019-08-07 20:04] jessegreenberg opened #98 "fix alignment of energy plot accordion box title content"
![image](https://user-images.githubusercontent.com/6396244/62654079-08928e00-b92d-11e9-98b8-c8d16e918f06.png)

It looks a little sloppy and I think the code could be improved.

[2019-08-07 20:53] arouinfar commented on #95
Let's keep them in ESPB. I think the iconic RadioButtonGroup does a nice job of showing the two states, and it probably easier for younger students to understand.

[2019-08-07 20:55] arouinfar commented on #87
Let's change the z-ordering so the skater stays on top of all UI components, as was done in ESPB.

[2019-08-07 20:56] jessegreenberg commented on #98
Done with the above commit.

[2019-08-07 20:56] #98 closed

[2019-08-07 21:08] jessegreenberg commented on #95
Sounds good, they are used in basics.

[2019-08-07 21:08] #95 closed

[2019-08-07 21:10] jessegreenberg commented on #87
Sounds good, skater is above graphs.

[2019-08-07 21:10] #87 closed

[2019-08-07 22:14] arouinfar opened #99 "Design review"
Related to https://github.com/phetsims/QA/issues/397, but likely won't get done until after QA is finished.

I should review the design and see if there are any inconsistencies or pixel polishing that needs to be done.

[2019-08-08 18:17] JRomero0613 opened #100 "[Graphs Screen] Reset Button Does Not Reset Graph Or Track Type"
For https://github.com/phetsims/QA/issues/397 on the Graphs Screen when the reset button is hit the graph or track type does not reset. The best way to see the graph behavior in action is to switch the graph type to "Time" and put the skater on the track. Before the time runs out hit the reset button (not the eraser which resets the graph). Time will continue to pass on the graph. The graph will a

[2019-08-08 18:20] JRomero0613 commented on #99
@arouinfar When testing for https://github.com/phetsims/QA/issues/397 I noticed on the Graphs screen that the "Position" graph x-axis is labeled as "Time (s)". If I'm not mistaken it should be labeled "Position (m)".

[2019-08-08 18:34] JRomero0613 opened #101 "[Graphs Screen] Y-Axis Bounds Are Too Small"
For https://github.com/phetsims/QA/issues/397 the Y-axis bounds are too small for extreme cases such as when the skater is raised very high above the top of the track or when the reference height is raised to the top of the screen and the skater is on the bottom of the track. Another three or four "zoom-out" levels would most likely solve this and make it so no matter the case the energy would sti

[2019-08-08 18:54] JRomero0613 opened #102 "Long Strings Mess Up Formatting"
For https://github.com/phetsims/QA/issues/397 longer string can mess up the formatting of all the screens due to the increase in size of all the strings. This is most evident with the ?stringTest=long query parameter on the "Graphs" screen. I have attached a screenshot to indicate the severity of the formatting issues that occur with the long strings.
![Screen Shot 2019-08-08 at 12 44 10 PM](https

[2019-08-08 20:01] jessegreenberg commented on #100
Thank you @JRomero0613, definitely not intended.

[2019-08-08 20:09] jessegreenberg commented on #101
Sounds good @JRomero0613. I think it would be best to get @arouinfar input on this. @arouinfar can you please recommend the best scales/ranges to support on the energy graph?

[2019-08-08 20:14] jessegreenberg commented on #100
It looks liek this is actually true for all screens at the moment.

[2019-08-08 20:30] jessegreenberg opened #103 "Clear skater data when scene changes"
While patching missing parts of "reset all" I noticed that the skater data isn't cleared when the scene changes, it should be.

[2019-08-08 20:31] jessegreenberg commented on #100
Thanks @JRomero0613, this has been fixed - reset is fully implemented on the graphs screen now.

[2019-08-08 20:31] #100 closed

[2019-08-08 20:48] #103 closed

[2019-08-09 14:58] KatieWoe opened #104 "CT cannot read property skaterState of undefined"
[code]

[2019-08-09 19:34] jessegreenberg commented on #104
I haven't been to produce this locally yet but I think this is what we care about:

[2019-08-09 19:36] jessegreenberg commented on #104
It looks like the cursor is visible and draggable before any data is added to the graph. The cursor should remain invisible until data is added.

[2019-08-12 15:07] jessegreenberg commented on #104
I think the issue may be related to this TODO:

points are removed from the dataseries without checking whether they have already been removed, and it is possible they have already been removed from the cursor drag end.

[2019-08-12 19:20] jessegreenberg commented on #104
This is fixed with the above commits. There were a number of reasons this was happening (cursor remained visible when no data existed, calculation of plotted x-range was incorrect). I also found a memory leak that was resolved with these changes. Sim is fuzzing now locally with no error, this can finally be closed.

[2019-08-12 19:25] jessegreenberg commented on #104
Something isn't quite right with dragging the cursor, it snaps back to the minimum x value.

[2019-08-12 20:57] #104 closed

[2019-08-12 21:02] jessegreenberg commented on #104
This bit hard, but the behavior is finally working correctly and the sim is fuzzing without issue. Closing.

[2019-08-12 21:03] jessegreenberg opened #105 "[Graphs Screen] Energy graph x label isn't updating with independent variable"

[2019-08-12 21:54] lmulhall-phet opened #106 "Speedometer behind the energy graph"
**Test Device**

MacBook Air

**Operating System**

macOS 10.14.5

**Browser**

Chrome 76.0.3809.100

**Problem Description**

For https://github.com/phetsims/QA/issues/397. In the "Graphs" screen, the speedometer is stuck behind the energy graph. Part of the speedometer is cut off by the energy graph. The energy graph is open by default, so by default it looks like checking the speedometer checkb

[2019-08-12 23:30] jaspearias opened #107 "Energy pointer gets lost when dragged out of the screen"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Internet Explorer

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/397
In the Measure screen when dragging the energy pointer out on the edges of the screen it gets lost. You have to refresh the sim in order to be able to use the energy pointer again.

<b>Visuals</b>

https://drive.google.com/fil

[2019-08-13 16:52] KatieWoe opened #108 "Tandem was required but not supplied"
[code]

[2019-08-13 17:39] jaspearias opened #109 "Energy graph overlaps with double strings"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Internet Explorer

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/397
When testing double strings in the "Lab" screen the energy graph overlaps into the ground and the "Grid and Reference Height" check box.

<b>Visuals</b>

![Energy graph overlaps](https://user-images.githubusercontent.com/52931

[2019-08-13 18:18] jaspearias opened #110 "Track overlaps and skater goes in front of energy graph"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Internet Explorer

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/397
In the Lab screen when customizing your own track the track overlaps the box with the friction/mass/gravity sliders. The track also goes behind the energy graph but the the skater stays in front of it.

<b>Visuals</b>

https:/

[2019-08-14 16:18] KatieWoe opened #111 "Custom Mass does not work"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/397
On the Intro screen there is a combo box to select mass.  There is an option that says custom, but there is no slider or other means of setting mass that I am able to see.  The custom selection also remains if you hit reset.  This last part does not seem to be a

[2019-08-14 17:02] KatieWoe opened #112 "Indicator that speed is high?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/397
When speed of the skater gets past a certain point the red needle on the speedometer tool stops registering it.  The skater can still go faster, and if a number value is on the speedometer, it will record the higher speed.  I was wondering if it would be a good

[2019-08-14 22:29] KatieWoe commented on #111
This same problem seems to occur with the gravity slider/combobox on the other screens.  If you switch to custom and don't move the slider, the above bug occurs.  If you switch to custom and do move the slider to a new position, the bug does not seem to occur.
![customwontreset](https://user-images.githubusercontent.com/41024075/63060901-bca59300-beb0-11e9-94ee-4f9159ec078d.gif)

[2019-08-14 23:06] KatieWoe opened #113 "Green Reset Skater button blocks graph"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/397
On the Graphs and Lab screens it is possible to drop the skater in such a way that the green reset button blocks part of the graph.
**Steps to reproduce**
1. Go to the Graphs screen (bit easier and more noticeable due to Lab layering issues at moment)
2. Lift th

[2019-08-15 19:57] KatieWoe opened #114 "Jupiter appears"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/397
It is possible to get Jupiter to appear in the gravity combo box by moving the slider, instead of by using the dropdown box.  This does not seem to be the behavior in other sims such as masses and springs.  Since Jupiter has a whole number, it seems to be the on

[2019-08-15 20:55] KatieWoe opened #115 "Raising the fixed track"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/397
Similar to https://github.com/phetsims/energy-skate-park-basics/issues/417 but the tracks are not lost.  If you continue to position the red dots in the Graphs screen you can continue to push the track up.  This is very slow going, but does not take to long to b

[2019-08-15 22:10] jaspearias opened #116 "Custom drop down bar gets cut off on Google Chrome in "Measure" screen"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Google Chrome

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/397
When playing around with the sim in the Measure screen to change the gravity the custom drop down bar gets cut off. The tool box to the right also looks much closer to the ground which could be the reason why the custom drop down

[2019-08-16 15:21] jessegreenberg opened #117 "Total energy never goes negative"
Noticed while debugging with @samreid, it looks like teh total energy is always an absolute value. It seems like this is a bug, not a feature. Ill take a look.

[2019-08-16 17:17] jessegreenberg commented on #45
@samreid and I met to investigate this today. We found that this may be caused by a correction to the updated energy to make sure that total energy is conserved during calculations. We found one case of this (different from the case listed in this issue) in `stepGround`. In this case, `stepGround` tries to keep the same energy by removing the energy difference from the thermal energy. But if the d

[2019-08-16 17:32] jessegreenberg commented on #45
Potential fix in the above commit, but I don't think it is quite correct yet. Result of above commit wouldn't remove from kinetic energy but just set velocity to its absolute value. We need to calculate the  new velocity that would come from reducing the kinetic energy.

[2019-08-16 17:44] jessegreenberg commented on #45
I think the above commit is what we want. We think a similar thing is happening in `switchToGround`.

[2019-08-16 18:13] jessegreenberg commented on #45
I am not sure how this is happening from switchToGround during CT yet, but one way to force this error to happen is to
1) comment out `bumpAboveGround`
2) Comment out code in ControlPointNode drag handler that keeps control points above ground
3) Make a track that would send the skater off below ground:
![image](https://user-images.githubusercontent.com/6396244/63188660-eb964300-c02f-11e9-86c7-149

[2019-08-16 19:16] jessegreenberg commented on #45
This is happening because we are adding potential energy to the system when we call `switchToGround`. The skater is moved up relative to the reference height. So we try to correct by removing energy from somewhere else. This comment makes me think that switchToGround was designed only to conserve energy when the skater falls to the ground (which is very reasonable).

After thinking about this more

[2019-08-19 03:32] samreid commented on #45
Thanks for the investigation @jessegreenberg.  I'm not sure what's best for this case.  It seems reasonable to increase energy when popping the skater from underground to above ground.  But since we don't know how this is triggered on CT, it is difficult to say whether students would be able to set up a case where energy is not conserved.   Brainstorming other alternatives:

a) Don't let the skate

[2019-08-30 19:49] arouinfar commented on #115
Good eye @KatieWoe. The shift is pretty subtle, and it took awhile for me to even notice what is going on. I think it's a bit easier to see in a .gif. Here, I move the middle control point down. This changes the curvature of the track near the left control point in such a way that a portion of the track is somewhat below ground. As a result, the entire track shifts up.
![trackshift](https://user-i

[2019-08-30 19:55] arouinfar commented on #114
Good catch @KatieWoe.

If the gravity is changed by using the slider thumb or tweaker buttons, the combobox should show "Custom", even if the value matches that of one of the benchmarks. Similar NumberControl/ComboBox controls can be found in `bending-light` (Index of Refraction), `pendulum-lab` (Gravity), and `masses-and-springs` (Gravity).

[2019-08-30 19:58] arouinfar commented on #113
@KatieWoe @jessegreenberg I think this is the correct behavior, so I'm going to close.

The skater was released at a point above the graph, and this is the appropriate position for the green return button to appear.  In this case, I don't think occlusion of the graph is problematic -- the skater is off-screen and there isn't any data in the graph.

[2019-08-30 19:58] #113 closed

[2019-08-30 20:14] arouinfar commented on #112
It's a bit hard to see, but the max speed in the gif in https://github.com/phetsims/energy-skate-park/issues/112#issue-480788430 is ~30 m/s, but the needle reaches the max at 20 m/s. I think the most direct solution would be to increase the max value on the speedometer.

With the narrowest possible aspect ratio on external monitor, max mass, max gravity, the largest speed I can create is 46.3 m/s.

[2019-08-30 20:17] arouinfar commented on #102
Thanks @JRomero0613.

Looks like the sim is missing some `maxWidth` settings.

[2019-08-30 20:21] arouinfar commented on #106
Thanks @lmulhall-phet this is a duplicate of #88, so I'll move your comment to that issue and close.

[2019-08-30 20:21] #106 closed

[2019-08-30 20:22] arouinfar commented on #88
From #106:

[2019-08-30 20:26] arouinfar commented on #107
@jessegreenberg is it possible to keep the ProbeNode within the visibleBounds of the sim?

[2019-08-30 20:33] jessegreenberg commented on #117
Fixed above.

[2019-08-30 20:33] #117 closed

[2019-08-30 20:34] jessegreenberg commented on #116
Thanks for pointing out. I am really curious why this is happening only in Chrome, though I suspect we want that combobox to open up anyway.

[2019-08-30 20:38] jessegreenberg commented on #116
OK, I am seeing it in Chrome, Firefox and Safari on macOS 10.14.5. That makes me more confortable that this is just a sim issue and not a rendering problem we need to worry about.

[2019-08-30 20:40] arouinfar commented on #110
Good find @jaspearias.

@jessegreenberg I think the tracks and skater should be layered above everything, including the bar graph.

This behavior would be fairly consistent with the published version of ESPB, though the z-ordering of the Bar Graph is a bit wonky there. (It also predates the griddle work.)
![image](https://user-images.githubusercontent.com/8419308/64049786-32f1f880-cb33-11e9-9825-5

[2019-08-30 20:42] jessegreenberg commented on #116
![image](https://user-images.githubusercontent.com/6396244/64050098-047d1900-cb45-11e9-9802-0ab143ff59b3.png)

The layout has since changed so the list no longer reaches the navigation bar. I think that looks better for now than having the list go up. If the menu gains vertical space in the future we can change.

[2019-08-30 20:42] #116 closed

[2019-08-30 20:47] jessegreenberg commented on #115
Thanks for pointing out. I think we decided not to address this. This is related to https://github.com/phetsims/energy-skate-park/issues/83 where we made sure that the contorl points remain within their draggable bounds when the track is pushed above ground like this. I think this can be closed.

[2019-08-30 20:47] #115 closed

[2019-08-30 21:08] jessegreenberg commented on #108
This has since been fixed.

[2019-08-30 21:08] #108 closed

[2019-09-04 22:43] jessegreenberg commented on #114
Thanks for catching @KatieWoe. And thanks for clarifying the behavior @arouinfar. This behavior is done as described in the above commit. This is now working for both the gravity and mass slider/combo box pairs.

[2019-09-04 22:43] #114 closed

[2019-09-04 22:49] jessegreenberg commented on #112
Sounds good, max speed for the speedometer was increased to 30 m/s. @arouinfar would you like to review and see how this feels?

[2019-09-04 22:53] jessegreenberg commented on #111
I expect this to be mostly fixed with changes form #114 but I will verify.

[2019-09-04 22:55] jessegreenberg commented on #111
Breaking up what was mentioned in this issue:
- [ ] Remove 'Custom' entry when the combo box is not accompanied with a slider.
- [ ] Reset should apply to the ComboBox item.

[2019-09-04 22:59] jessegreenberg commented on #111
A couple of things fixed in the above commits but this was mostly resolved by #111 I verified that reset is working properly.

[2019-09-04 22:59] #111 closed

[2019-09-04 23:01] jessegreenberg commented on #110
The layering of the sim as it is in the published version was a previous requirement of using WebGL. But now that we are no longer using WebGL, we should be able to layer however we wish! I will move the tracks and skater above everything.

[2019-09-05 13:53] jessegreenberg commented on #110
OK, the layering has been changed so that the skater and tracks are above all non-interactive components. For the measure screen, the layering order is
- tracks
- skater path
- skater path sensor
- measuring tape
- skater

so that the measuring tape cannot get hidden behind the skater path sensor and the sensor and skater look good on top of the measurable skater path. Closing.

[2019-09-05 13:53] #110 closed

[2019-09-05 14:32] KatieWoe opened #118 "CT cannot read property 0 of undefined"
[code]

[2019-09-05 15:24] jessegreenberg commented on #107
Thanks for pointing out, that sounds good. Done in the above commit.

[2019-09-05 15:24] #107 closed

[2019-09-05 15:37] jessegreenberg commented on #105
Fixed in above commit.

[2019-09-05 15:37] #105 closed

[2019-09-05 18:52] jessegreenberg commented on #118
Thanks @KatieWoe fixed in the above

[2019-09-05 18:52] #118 closed

[2019-09-05 19:23] arouinfar commented on #112
Looks good to me @jessegreenberg, thanks!

[2019-09-05 19:23] #112 closed

[2019-09-06 16:50] jessegreenberg commented on #94
This was done for another issue.

[2019-09-06 16:50] #94 closed

[2019-09-06 23:01] arouinfar commented on #97
@jessegreenberg I think this is an issue of a design decision not getting properly propagated through all of the mockups.

For consistency, the Bar Chart will always be in an accordion menu, titled "Energy". We had also discussed including the Bar Chart icon when the menu is collapsed, but not sure how tricky that would be to support.

![image](https://user-images.githubusercontent.com/8419308/644

[2019-09-09 14:45] samreid commented on #66
We have to use 2 images for the skater, it contains text and cannot be flipped programmatically or "PhET" would come out backwards.  I recommend recommenting that part and leaving the code as it is.  Thanks!

[2019-09-09 15:37] jessegreenberg commented on #109
Thanks! Fixed in the above commit and the rest will be taken care of in #102

[2019-09-09 15:37] #109 closed

[2019-09-09 21:30] jessegreenberg commented on #102
Thanks for pointing out, layout issues have been resolved. I went through and tested with stringTest=long and stringTest=double to verify.

[2019-09-09 21:30] #102 closed

[2019-09-09 21:31] jessegreenberg commented on #97
That sounds good @arouinfar, and just to verify, that means that the "Bar Graph" checkbox can be removed from all visibility control panels (including basics)?

[2019-09-09 22:54] jessegreenberg commented on #97
Icon and layout added in the above commit.

[2019-09-09 23:15] jessegreenberg commented on #97
OK, the energy bar graph checkbox was removed and replaced by the accordion box everywhere. @arouinfar can you please review?

[2019-09-09 23:33] jessegreenberg commented on #66
Oh yes I see! Thanks!

[2019-09-09 23:38] jessegreenberg commented on #66
Then this issue can be closed!

[2019-09-09 23:38] #66 closed

[2019-09-10 05:29] samreid commented on #44
This looks like it is still happening.  This is CT today:

[code]

[2019-09-10 05:30] samreid commented on #44
Co-assigning @jessegreenberg in case he has ideas or gets to it first.

[2019-09-10 13:37] jessegreenberg commented on #32
Closing, this will get folded into other work.

[2019-09-10 13:37] #32 closed

[2019-09-10 13:39] jessegreenberg commented on #9
Now that energy-skate-park-basics is dependent on energy-skate-park this is complete.

[2019-09-10 13:39] #9 closed

[2019-09-10 14:55] jessegreenberg commented on #44
Ran fuzzing during a meeting and hit this after 53 minutes! We are hitting this assertion:
[code]
`newKineticEnergy` is -3.567377770963276e-7.

[2019-09-10 15:44] jessegreenberg commented on #44
Without fuzzing, when the skater is dropped over the track
`newPotentialEnergy - skaterState.getPotentialEnergy()` returns a nevative value. So I think the correction doesn't work correctly when the skater is bumped up and potential energy increases.

[2019-09-10 16:42] jessegreenberg commented on #44
I found the case where skater in freefall can be bumped up to cross a track:
![image](https://user-images.githubusercontent.com/6396244/64633038-643ab600-d3c8-11e9-9e65-ef8a7ae09553.png)

[2019-09-10 16:49] jessegreenberg commented on #44
With the above case, I am not able to create a case where newThermalEnergy < skaterState.thermalEnergy. I tried `phet.chipper.makeRandomSlowness()` (recommended in https://github.com/phetsims/energy-skate-park-basics/issues/141 to reproduce), but I am still not seeing it.

[2019-09-10 16:58] jessegreenberg commented on #45
I like both of these suggestions @samreid. (a) seems best to me. For any track that is not being actively constructed, Track.bumpAboveGround should make sure that all samples are above y = 0. So the issue you point out should only be a problem if track or control point are being dragged.

[2019-09-10 17:53] jessegreenberg opened #119 "[Graphs Screen] graphing scale is incorrect"
It looks like a recent change somewhere made the scaling for the graphs incorrect on the graph screen. Plotted poitns are too small and don't match labelled values.

[2019-09-10 17:55] jessegreenberg commented on #119
No, plots are correct, it is just that mass has become very small on load and so energy is quite low. Closing this issue and will make another one that accurately describes the issue.

[2019-09-10 17:55] #119 closed

[2019-09-10 17:56] jessegreenberg opened #120 "Default mass is too small"
Determined to be the real cause of #119, the default mass is now very small for some reason. So energies look tiny under default settings.

[2019-09-10 18:00] jessegreenberg commented on #120
Fixed.

[2019-09-10 18:00] #120 closed

[2019-09-10 22:20] jessegreenberg commented on #10
There are a few lingering files that  still are oustide of where they should be Ill move them now.

[2019-09-10 22:29] jessegreenberg commented on #10
I don't see any usages of EnergySkateParkScreen, can it be deleted?

[2019-09-10 22:38] jessegreenberg commented on #10
Everything under js/view needs to be moved, probably under js/common/view

[2019-09-10 23:02] jessegreenberg opened #121 "Convert to es6"

[2019-09-10 23:21] jessegreenberg opened #122 "Check on performance in iOS and iOS 13"
In https://github.com/phetsims/phet-core/issues/64#issuecomment-528444975 checking on before/after performance of a change related to `allowBackingScaleAntialiasing` and `platform.mobileSafari` @jonathanolson said

We recently did a dev test of energy-skate-park and performance was reported to be acceptable on slow platforms (including iOS 9 and iOS 10). That  dev test had `allowBackingScaleAntial

[2019-09-10 23:39] jessegreenberg commented on #10
Everything has been moved out of /view to common/view with git mv to preserve history.

[2019-09-10 23:43] jessegreenberg commented on #10
Everything has been moved to a screen specific subdir or common now. Closing.

[2019-09-10 23:43] #10 closed

[2019-09-11 20:25] arouinfar commented on #97
@jessegreenberg looks good in ESP!

I'm a bit on the fence about whether or not to apply this change to ESPB. In Basics, there are fewer checkboxes, and I think it's nice to have the Pie Chart and Bar Graph grouped together. Students also tend to explore top-down, so they would likely play with the Pie Chart first. For the Basics audience, this flow may be more important.

What do you think @ariel

[2019-09-26 13:46] jessegreenberg commented on #121
Requires ESP:B to be converted as well since filese there extend files in ESP.

[2019-09-27 15:40] samreid commented on #45
Let's touch base with @ariel-phet on this idea before implementing.  @ariel-phet can you please think through the last few comments and let us know your recommendation?

[2019-09-30 19:59] jessegreenberg commented on #121
Alright, I think we are there for this issue.

[2019-09-30 19:59] #121 closed

[2019-10-02 17:37] zepumph opened #123 "Tracks and Control Points should use PhetioGroup"
@samreid, @chrisklus, and I found that phet-io state is currently broken for this sim. To get this working we think that we should get this working with `Group.js`. Though this is still in development over in https://github.com/phetsims/phet-io/issues/1454, it is to a point where this could be worked on here. Especially since the alternative is a broken state. We were uninterested in trying to dev

[2019-10-03 14:30] jessegreenberg commented on #122
In general, the sim runs well on iOS 13 on my iPad Air 2. I do see the sim slow down when the bar graph is visible, when the pie chart is visible, and when the measurable path on the Measure screen first starts to become transparent. Ill make separate issues for these.

[2019-10-03 14:30] #122 closed

[2019-10-03 14:33] jessegreenberg opened #124 "Performance improvements for bar graph"
From #122, I noticed that the sim generally runs fast on iPadOS 13, but slows a bit when either the bar graph is visible. This issue will look into ways to improve.

[2019-10-03 14:34] jessegreenberg opened #125 "Performance improvements for pie chart"
From #122, the sim slows down a bit on iPadOS 13 when the pie chart is visible. This issue will investigate improvements.

[2019-10-03 14:35] jessegreenberg opened #126 "Performance improvements for measurable path (Measure screen)"
There is a noticeable slowdown on iPadOS13 when the measurable path first begins to fade away on the measure screen.

[2019-10-03 14:45] jessegreenberg opened #127 "[Measure Screen] Do energies of measurable points need to change with reference height?"
Begin skater movement on a track. While a measurable path is visible, change the reference height. The energies of the measurable path display the energy at the old reference height. Should the all update?

Or should the measurable path fade away when the reference height changes?

[2019-10-03 14:55] jessegreenberg opened #128 "Move extra visibility controls panel into main control panel?"
To fit vertically, some screens have two visibility checkboxes removed from the main control panel and placed in a separate area like this:
![image](https://user-images.githubusercontent.com/6396244/66138047-01ee6300-e5cc-11e9-8bda-95e1b0dd88ad.png)

I wonder if it could be confusing that these checkboxes which are available on all screens are in different places on different screens. I wonder if

[2019-10-03 19:45] jessegreenberg commented on #128
The Grid and Reference Height checkboxes will be in their own panel for all screens.

[2019-10-03 19:46] jessegreenberg commented on #127
Energies should update, potential should change and the total energy should update to keep conservation of energy.

[2019-10-03 19:55] jessegreenberg opened #129 "Add line to energy scatter plot"
Will make the plot and energies easier to read, while still giving a sense of speed to the skater.

[2019-10-03 19:57] jessegreenberg opened #130 "Add tick mark for every meter on the energy scatter plot"

[2019-10-03 19:58] jessegreenberg commented on #101
From meeting 10/3/19:

We considered actually limiting the vertical bounds of the skater, but don't like that.

We will find a good range for the graph by dragging the skater and dropping it from heights that seem useful.

[2019-10-03 20:02] jessegreenberg commented on #88
@arouinfar will consider this. We thought about making it a bit smaller and putting it in the lower left of the screen around the mountains in the background.

[2019-10-03 20:03] jessegreenberg opened #131 "Speedometer should have readout on all screens"
The speedometer in energy-skate-park should have a readout in all screens. energy-skate-park-basics still needs it without the readout.

[2019-10-03 20:45] jessegreenberg opened #132 "Change when skater samples dissapear"
At the moment, skater samples fade away as soon as the skater trackProperty changes. It is important that the skater samples continue to show when the skater leaves a track.

[2019-10-07 16:01] jessegreenberg commented on #129
The dots of the scatter plot fade away over time. Does the connecting line need to as well?

I am assuming the answer is yes, but this will be a little tricky to do in griddle so I want to make sure it is worth the time.

Alternatively, we could increase the frequency of adding points to the scatter plot so it is easier to see the path.

@arouinfar what do you think?

[2019-10-07 16:01] jessegreenberg commented on #129
![image](https://user-images.githubusercontent.com/6396244/66328236-3f1f6180-e8fa-11e9-8c16-d424b8582b4e.png)

[2019-10-07 22:46] arouinfar commented on #88
@jessegreenberg let's try this layout

![image](https://user-images.githubusercontent.com/8419308/66354413-fc717f80-e921-11e9-92f5-acfa6dcac6b4.png)

[2019-10-09 20:26] jessegreenberg commented on #132
Change made above. Now, skater samples disappear when the skater direction changes, when the skater is picked up for dragging, when the setting to save samples is is turned off, and when the skater is returned to a position.

[2019-10-09 20:32] jessegreenberg commented on #132
In the above commit, skater samples are saved and shown when the skater is off track.
![image](https://user-images.githubusercontent.com/6396244/66518062-61f47600-eab2-11e9-96ee-e616f72a3420.png)

[2019-10-09 20:56] jessegreenberg commented on #132
@arouinfar just letting you know this was done.

[2019-10-09 20:56] #132 closed

[2019-10-09 21:04] jessegreenberg commented on #131
@arouinfar just letting you know this is done.

[2019-10-09 21:04] #131 closed

[2019-10-09 21:16] jessegreenberg commented on #130
@arouinfar just letting you know this is done.

[2019-10-09 21:16] #130 closed

[2019-10-09 21:47] arouinfar commented on #130
Looks good @jessegreenberg!

[2019-10-09 21:58] jessegreenberg commented on #128
Done in the above commits, and fixed some layout so it looks the same on all screens. Just letting you know this is complete @arouinfar.

[2019-10-09 21:58] #128 closed

[2019-10-09 22:14] jessegreenberg opened #133 "Layering of SkaterSamplesNode"
At one point, I moved the skater samples above the track but below the skater and other draggable things because I thought it looked strange to have the samples above the skater. But now I think it samples pop out more when they show up and may be useful when measuring while things are under the samples.

Over slack, @arouinfar agreed that samples could go over the "Return Skater" buttons. But now

[2019-10-09 22:19] jessegreenberg commented on #133
@arouinfar what do you think about this? Done in master. For example
While falling:
![image](https://user-images.githubusercontent.com/6396244/66524645-fcf44c80-eac0-11e9-8bc5-22d7d8f83c5d.png)

While using measuring tape:
![image](https://user-images.githubusercontent.com/6396244/66524697-244b1980-eac1-11e9-9819-89ac0cd4d1d7.png)

Over buttons:
![image](https://user-images.githubusercontent.com/6

[2019-10-09 22:31] jessegreenberg commented on #88
Done above. I didn't have to change the size of the speedometer and it still seems to match what you have in https://github.com/phetsims/energy-skate-park/issues/88#issuecomment-539236287. Not sure if you adjusted the size at all for this screen. How does master look? Let me know if you want it any smaller.

[2019-10-09 22:34] jessegreenberg opened #134 "Floating of the speedometer and visibility controls"
Some controls float to allow more space in the play area for wider screens. Should that include the speedometer and visibility controls? In the graphs screen it is a little different because the graph does not float but aligns itself with the track. For example, right now on a wide screen the sim looks like
![image](https://user-images.githubusercontent.com/6396244/66525387-552c4e00-eac3-11e9-9e67

[2019-10-10 15:16] arouinfar commented on #129
That'd be the correct assumption @jessegreenberg, but let's hold off on that for now and try increasing the frequency of the dots. The screenshot in https://github.com/phetsims/energy-skate-park/issues/129#issuecomment-539084697 looks pretty good, but it might be nice be able to fine tune the frequency. Is this something you could add a query parameter for?

[2019-10-10 15:48] arouinfar commented on #84
Yes, I agree 100%.

@jessegreenberg this screen is intentionally constrained, and I don't think it's pedagogically useful to keep the dots when moving the control points. The dots fade pretty quickly, so I don't think we're necessarily doing harm, but I don't know useful they would be to keep around.

@ariel-phet any thoughts here? Would you prefer to clear the dots when a control point is moved,

[2019-10-10 17:59] jessegreenberg commented on #129
@arouinfar sounds good, the query parameter ?saveFrequency added for this ?saveFrequency=0.01 provides https://github.com/phetsims/energy-skate-park/issues/129#issuecomment-539084697

[2019-10-10 18:03] arouinfar commented on #129
Awesome, thanks @jessegreenberg!

[2019-10-10 18:16] arouinfar commented on #80
@jessegreenberg I think we'll want the draggable areas to be as large as possible without allowing the control points to overlap. At the extremes, the track may end up a bit distorted, but I think it's generally better to allow more flexible interaction. All control points are movable on the Measure screen, but only the bottom points are movable on the Graphs screen.

Here are some mockups to show

[2019-10-10 18:31] arouinfar opened #135 "Add TimerNode to all screens"
This was mentioned in passing during the 10/3 design meeting, and I later discussed it with @kathy-phet. There is a potential client who has expressed some interest in using ESP(B), and suggested the addition of a stopwatch.

ESP has several quantitative learning goals, and I think the addition of the TimerNode would add some flexibility to the simulation. Regardless of whether or not we move forw

[2019-10-10 19:03] KatieWoe opened #136 "CT did not finish"
CT did not finish tests the night between 10/9/19 and 10/10/19.  Making an issue per request of @jessegreenberg

[2019-10-10 21:31] jessegreenberg commented on #136
I see what yo umean now, out of all sims in this time window ESP did not finish tests, though it didn't fail any either.
![image](https://user-images.githubusercontent.com/6396244/66608137-cc291b80-eb83-11e9-8c0e-91e8c8a34174.png)

[2019-10-10 21:33] jessegreenberg commented on #136
I am not sure what to do about this, sim is passing local tests OK. Ill watch and close if it does complete a test soon.

[2019-10-11 16:06] KatieWoe commented on #136
These are the specific tests that aren't being done:
![thesearetheproblems](https://user-images.githubusercontent.com/41024075/66666851-d7755900-ec0e-11e9-99d0-86ef69775488.png)

[2019-10-11 17:44] jessegreenberg commented on #136
Thank you @KatieWoe I forget that it is collapsible. And the read showing htere will make it easier to track down.

[2019-10-11 17:58] jessegreenberg commented on #136
Standalone sim launches OK. phet-io-wrapper tests throws

[2019-10-11 18:04] jessegreenberg commented on #136
I don't see anything obviously wrong with energy-skate-park-main.js or EnergySkateParkSim.js. @zepumph or @samreid or @chrisklus could you please provide guidance on where to look next for this?

[2019-10-11 18:44] zepumph commented on #136
I'm not sure about this. I ran local wrapper testing and couldn't reproduce the bug. In fact there were no issues with the wrapper tests.

[2019-10-11 18:56] jessegreenberg commented on #136
Hmm, thanks for checking. I am only seeing the error when the dev tools are open. Failing test is SimTests: energy-skate-park: test launchSimulation. Either way, we still hit the assertion but QUnit is not reporting it.
![image](https://user-images.githubusercontent.com/6396244/66677229-2df68d80-ec37-11e9-9432-b0f3113585b4.png)

Maybe this is related to why CT shows blank entries?

[2019-10-12 00:00] zepumph commented on #136
Ahhh sorry I think I misunderstood this issue. This is actually a purposeful and, until just now, I thought unavoidable byproduct of the test we were doing.

The test wasn't actually failing. The test was meant to make sure that that assertion triggered.

To fix the uncaught error from being propagated to the console (and other default places), I added a line to the test.

I never thought that per

[2019-10-16 16:15] jessegreenberg commented on #136
Cool, thanks @zepumph - CT is showing that tests are completing and passing again. Can this be closed?

[2019-10-16 19:00] zepumph commented on #136
Actually, I wonder if the following lines are too strict, and could potentially suppress more than we want:

[code]

Perhaps something more like

`      iframe.onload = () => { iframe.contentWindow.onerror = (error) => if( error.message.indexOf('launchSimulation') >=0){return true;}  };`

I'll take a look

[2019-10-16 20:22] jessegreenberg commented on #135
@arouinfar a TimerNode has been added to all screens of this sim, over to you for review.

[2019-10-16 20:53] arouinfar commented on #135
@jessegreenberg overall looking good, but the toolbox feels a bit cramped. Can you reduce the tool icons by 10%, but keep the panel the same size?

[2019-10-16 20:58] ariel-phet commented on #84
@arouinfar I think I would prefer clearing the dots when the control point is moved (my guess is this will also avoid some odd situations/potential bugs)

[2019-10-16 21:11] jessegreenberg commented on #135
@arouinfar how is that?

[2019-10-16 21:19] jessegreenberg commented on #127
I guess we have the same question for changing mass and gravity. When these Properties change with existing samples, do the energies along the measurable path need to change?

[2019-10-16 21:23] jessegreenberg commented on #127
Thinking about it, it seems like changing the mass/gravity should not change the energies of existing samples because those controls set up a new experiment. But the same could be said for the reference height, so I'm not sure what is best.

[2019-10-16 21:29] jessegreenberg commented on #127
Currently, the energy graph doesn't update while paused when the reference height changes. Is that related to this and should it update while paused?

[2019-10-16 22:02] jessegreenberg commented on #127
This is done with the above commit for changes in reference height only. @arouinfar can you please review, and also review the above questions?

[2019-10-16 22:04] arouinfar commented on #84
Thanks @ariel-phet.

@jessegreenberg let's clear the dots when a control point is moved.

[2019-10-16 22:21] arouinfar commented on #135
Looks great, thanks @jessegreenberg.

FYI @kathy-phet, @jessegreenberg has added a TimerNode to ESP. You can see it in master.

[2019-10-16 22:21] #135 closed

[2019-10-18 17:41] jessegreenberg opened #137 "[Measure Screen] Limit number of measurable points"
There is no limit, stressing memory and performance if the sim sits for too long without hitting the clearing cases.

[2019-10-18 18:01] jessegreenberg commented on #80
Alright, thanks @arouinfar - these bounds were added in the above commit. Can you please review?

The bounds can be made permanantly visible with ?showPointBounds

In particular, I noticed that the right most bounds for the well,  loop,  and double well tracks overlap the control panel. Should something be made smaller so those panels aren't as wide?

Also, I find the draggable bounds to be diffic

[2019-10-18 18:03] jessegreenberg commented on #80
Oops, I have to adjust points for the graphs screen.

[2019-10-18 18:35] jessegreenberg commented on #137
Limited to 50 points, which still supports the longest path I could make
![image](https://user-images.githubusercontent.com/6396244/67119092-699fd300-f1b4-11e9-959a-a7362e0e660b.png)

[2019-10-18 18:35] #137 closed

[2019-10-18 18:54] jessegreenberg commented on #84
Talked with @arouinfar over slack. Samples fade away in too many cases where they should be removed instantly. As part of this issue we will change that.

Skater samples should fade away only when skater direction changes. But when a control point is dragged, or the track changes in any way, or the "Path" checkbox is checked, or the skater is grabbed samples should disappear instantly.

[2019-10-18 19:09] jessegreenberg commented on #84
This is done in the above commit. @arouinfar anything else to do for this issue?

[2019-10-18 20:59] jessegreenberg commented on #97
Alright, the panel and visibility control checkbox has been added back to basics. Closing.

[2019-10-18 21:01] #97 closed

[2019-10-18 21:05] jessegreenberg opened #138 "Dragging tracks can cause them to jump"
Not sure what changed, but dragging a track in the lab screen can cause it to jump. It seems like the further to the right you click on the track, the further it jumps.

[2019-10-18 21:14] jessegreenberg commented on #138
On obvious typo fixed above, caused by the es6 conversion, but this issue is not resovled.

[2019-10-18 21:15] jessegreenberg commented on #138
Jump happens during drag, not start.

[2019-10-18 21:32] jessegreenberg commented on #138
Fixed with he above commit.

[2019-10-18 21:32] #138 closed

[2019-10-18 23:44] jessegreenberg commented on #45
(a) seems quick to do so I tried it for the sake of discussion in https://github.com/phetsims/energy-skate-park/commit/da722dda4097d77aec2a8d863b0e3467edbc9d78 though if we keep this it would be good to verify that this is correct.  Here is a gif.

![cf1ac2d94738727279a0c3df84f3e4fc](https://user-images.githubusercontent.com/6396244/67134279-7a197300-f1df-11e9-82db-e6ac388e283c.gif)

There is a fl

[2019-10-21 16:52] KatieWoe opened #139 "CT Tandem was required but not supplied"
[code]

[2019-10-21 18:03] jessegreenberg commented on #139
Thanks @KatieWoe sorry about that.

[2019-10-31 16:31] jessegreenberg commented on #139
Fixed above.

[2019-10-31 16:31] #139 closed

[2019-11-01 19:38] zepumph opened #140 "' => { return ' is bad text"
Because of work in https://github.com/phetsims/chipper/issues/791, this lint rule has been broken, but commits in https://github.com/phetsims/chipper/issues/808 fixed it, and I saw a few errors in this repo (and basics).

@jessegreenberg assigning over to you to fix a few lint rules. You can do so by uncommenting the last rule in bad-text.js (the one marked with the todo pointing to this issue). P

[2019-11-06 17:01] jessegreenberg commented on #126
Sim speed up again when the semi-transparent points are removed so it seems related to opacity.

[2019-11-06 20:32] jessegreenberg commented on #126
Using canvas fixes the drop in performance when some samples are fading away. Above commit does this.

[2019-11-06 21:10] jessegreenberg commented on #126
Above commit re-implents the indication of sample selection after switching to Canvas.

[2019-11-06 21:11] jessegreenberg commented on #126
THis is much smoother, I feel that it can be closed now.

[2019-11-06 21:11] #126 closed

[2019-11-06 21:21] jessegreenberg opened #141 "Cant start timer on an iPad"
NOt likely specific to iPad but to touch input, but I am not able to hit the "Play" button on the new TimerNode when it is is in the screen. But the button can be clicked with a mouse.

[2019-11-06 21:27] jessegreenberg commented on #141
If I remove the DragListener from EnergySkateParkTimerNode the button is clickable with a finger.

[2019-11-06 21:29] jessegreenberg commented on #141
This is not a problem for masses-and-springs whcih also uses a TimerNode that can be pulled out from a toolbox.

[2019-11-06 21:37] jessegreenberg commented on #141
That example is using MovableDragHandler.

[2019-11-06 22:06] jessegreenberg commented on #141
This seems to be a general problem, possibly with DragListener - I created an issue here: https://github.com/phetsims/scenery/issues/1012

[2019-11-07 16:58] jessegreenberg commented on #141
Fixed in the above commit, after learning more in https://github.com/phetsims/scenery/issues/1012

[2019-11-07 16:58] #141 closed

[2019-11-07 17:11] jessegreenberg commented on #125
Trying to see where time is spent by tethering iPad to Mac and usign timelines tools, but Safari keeps crashing when I stop recording.

[2019-11-07 21:01] jessegreenberg commented on #125
I am not too familiar with Safari dev tools, so just taking notes as I poke around.
![image](https://user-images.githubusercontent.com/6396244/68427089-7b531580-0177-11ea-83bf-15f3a2404346.png)

I think this report shows that most time is being spent in the painting of the content. The area section in the table shows what is being repainted. When you hover over it, it displays the poriton of the p

[2019-11-07 21:03] jessegreenberg commented on #125
When the pie chart is not visible, report is very similar - but the time spent painting is quite a bit less.
![image](https://user-images.githubusercontent.com/6396244/68427466-2368de80-0178-11ea-89ae-b85413f9883c.png)

[2019-11-07 21:12] jessegreenberg commented on #125
I see that I had selected "Layout and Rendering" and so it was only showing time spent there. De-selecting that I see
![image](https://user-images.githubusercontent.com/6396244/68428041-5495de80-0179-11ea-9168-1d8bfb6aa536.png)

I can't get anything to show more info, im not sure how to interpret this.

[2019-11-07 21:15] jessegreenberg commented on #125
Ultimately, I am trying to get information that will guide in deciding what can be optimized. From the above I *think* that we have proven that extra time is going to painting (which makes a lot of sense). Ill try changing the `renderer` of the pie chart and seeing if performance improves. Then we can think about implementing with Canvas or something. At the moment, the Pie chart is implemented wi

[2019-11-07 21:36] jessegreenberg commented on #125
Well, `renderer: canvas` on the PieChartNode does seem to improve performance quite a bit on an iPad Air 2.

[2019-11-07 21:40] jessegreenberg commented on #125
This is much improved, closing.

[2019-11-07 21:40] #125 closed

[2019-11-07 21:46] jessegreenberg opened #142 "Color of the measureing tape readout"
I find it a bit hard to see the white value readout on the light blue sky. Just thought I would point it out to @arouinfar, what do you think?

[2019-11-07 21:50] jessegreenberg opened #143 "[iPad Air 2] Performance while dragging anything other than the skater"
Sim slows down by about 30% while dragging the timer/measuring tape.

[2019-11-07 21:51] jessegreenberg commented on #143
This does not happen for the skater, likely because of `rendere: canvas`.

[2019-11-07 22:06] jessegreenberg commented on #143
@ariel-phet can you please take a look and determine if this is worth any time to improve? To see the issue just get the skater moving on the track and drag either the timer or the measuring tape around the screen.

[2019-11-08 17:45] jessegreenberg commented on #140
Fixed in this sim, Ill un-comment rule and commit to master next.

[2019-11-08 18:45] jessegreenberg commented on #140
OK, fixed in a few different places (energy-skate-park, molecules-and-light, mobius) and uncommented the rule. I think this can be closed.

[2019-11-08 18:45] #140 closed

[2019-11-08 19:20] jessegreenberg commented on #124
There is a pretty noticable boost in performance when the bar graph NOT rendered in canvas.

We decided that it should be rendered in canvas for #42 because otherwise the performance dropped when the skater was moved off screen. Is that still true for iOS 13?

[2019-11-08 19:30] jessegreenberg commented on #124
OK, since I am not seeing https://github.com/phetsims/scenery/issues/270 anymore and the sim is smoother without rendering the bar graph with canvas, I am going to remove this from EnergyBarGraph

[code]

[2019-11-08 19:33] #124 closed

[2019-11-08 19:48] jessegreenberg commented on #143
Just realized it is anything other than the skater, not just toolbox items.

[2019-11-08 20:11] jessegreenberg opened #144 "[Measure SCree] ControlPanel goes underground on iPad"
Not sure why, but the layout is different for iPad Air 2. Even when screen dimensions match dev bounds, this issue does not appear in Chrome.

[2019-11-08 20:16] jessegreenberg commented on #144
I am seeing other weird layout differences on iPadOS. See how on iPad Air 2 the TimerNode is about 2 meters along the grid in model coordinates. On Windows Chrome it is more like 2.5 meters.

![image](https://user-images.githubusercontent.com/6396244/68507815-c7b35980-023a-11ea-8594-b9e9516e48a5.png)

[2019-11-08 20:21] jessegreenberg commented on #144
There is much more spacing for the Chrome font. Im not using any layout options so the wider text is probably driving this.

[2019-11-08 20:33] jessegreenberg commented on #144
Without going into text differences too much I just reduced the spacing between title and number display for the NumberControls in this sim, which bought some space and still looks nice.

[2019-11-08 20:33] #144 closed

[2019-11-13 21:59] arouinfar commented on #142
@jessegreenberg let's make the text black and add a transparent white rectangle behind the readout. We did this in Wave Interference, and the string stays readable.
![image](https://user-images.githubusercontent.com/8419308/68807970-150e3d00-0626-11ea-8e93-0a68fcb9f247.png)

Also, I think we could use "m" instead of "meters" to tighten up the string a bit.

[2019-11-15 16:22] KatieWoe commented on #143
@ariel-phet asked me to make a recording, but I'm having trouble reproducing this on either our iOS 12 or iOS 11 iPad Air 2 devices.  Was this found on master or a dev version? What OS? Any other information?

[2019-11-18 18:25] oliver-phet opened #145 "User request: save track"

[2019-11-18 18:36] arouinfar commented on #145
@oliver-phet unfortunately save and load is not something that the ESP (or CCK) sims will have anytime soon. My suggestion would be for students to take a screenshot of the sim at the end of the class period (with the grid on), as it may cut down on some of the time needed to remember/recreate their tracks from a sketch.

[2019-11-18 23:12] jessegreenberg commented on #143
Thanks @KatieWoe - that may be good news. I am testing on an iPad Air 2 with iPad OS 13.1.2. Do you have access to a device with that?

[2019-11-18 23:14] KatieWoe commented on #143
No. Our device running OS 13 is newer, and the iPad Air 2s are both dedicated to running the older OS. If it is still a problem though, I can walk you through how to make a recording on the device you have? It isn't too hard.

[2019-11-18 23:15] jessegreenberg commented on #143
Yes it it still slower on my device, lets make a recording so we can review to see if it is worth any more time.

[2019-11-18 23:38] jessegreenberg commented on #143
Here are a couple recordings of what I am seeing. What is captured here isn't as severe as I remembered when I first opened the issue, but it it still there.

https://drive.google.com/open?id=1YSSS7ueK7NBVPwBnib7o2NQxt5-o1zYX

https://drive.google.com/open?id=1eFlNBAp0YLh-ozXFqDSTJ-0r8PZNS0a4

[2019-11-21 16:19] jessegreenberg commented on #84
I think we are good here, any other changes can have new issues.

[2019-11-21 16:19] #84 closed

[2019-11-22 17:17] jessegreenberg commented on #129
@arouinfar and I met for this:
- We are going to go with saveFrequency=0.01 now.
- We need to adjust the max limit for how many points are saved - this frequency increases the number of points saved so for low gravity and slow movement only a small portion of the skater path is plotted.
- There is an issue with how points fade away, they don't seem to all clear at the same time when skater directi

[2019-11-22 17:21] jessegreenberg opened #146 "Reference height should be on top of tracks"
Probably introduced in another issue related to z ordering, but the reference height in the measure screen is currently behind the track, it should be above the track.

[2019-11-22 17:22] jessegreenberg commented on #127
Discussed with @arouinfar - the graph represents saved data and so it was decided that the data should  not redraw when paused and the reference height changes. That aligns with current behavior, so this issue can be closed.

[2019-11-22 17:22] #127 closed

[2019-11-22 17:30] jessegreenberg commented on #78
Discussed with @arouinfar - it is nice for the grid to fall on x = 0 and every 1 meter. We are going to go with that for all screens - the Y labels of the grid need to be shifted to the right a little bit to look nice. They should align with the bottom right corners of each grid square. For example, these should be shifted a little to the right
![image](https://user-images.githubusercontent.com/63

[2019-11-22 17:37] jessegreenberg commented on #45
I met with @arouinfar for this today - @arouinfar agreed that option a is reasonable and thinks we should go ahead with that as a solution. I will finish up that fix and make sure the issue identified in https://github.com/phetsims/energy-skate-park/issues/45#issuecomment-544010202 is resolved. We also found an issue where the skater would switch to ground on some premade tracks because they weren

[2019-11-22 17:48] arouinfar opened #147 "Items for Teacher Tips"
For #1

- [x] Graph data isn't redrawn when PE reference line is moved
- [x] Measure dots aren't recalculated when the model changes (such as clearing heat or changing g) - #310
- [x] Total energy in pie chart - #20, #180
- [x] `altAccelerationUnits` - #293

[2019-11-22 19:46] jessegreenberg commented on #146
Fixed above, the reference line is above the track but below the skater so the center of mass point on the skater is always visible.

[2019-11-22 19:46] #146 closed

[2019-11-22 20:00] jessegreenberg commented on #142
Done above. We also changed the units to readout 'm' instead of 'meters'.,

[2019-11-22 20:00] #142 closed

[2019-11-22 20:07] jessegreenberg commented on #129
The second two points are actually pretty much the same issue - we need to change the way graphed skater sampelse are added and removed. At the moment skater samples are only added and removed based on amount of time. But they need to behave more like the skater samples in the measure screen. I am going to make a new issue for this because it isn't related to this one. Closing this because we deci

[2019-11-22 20:07] #129 closed

[2019-11-22 20:11] jessegreenberg opened #148 "Energy Graph data removal behavior"
From https://github.com/phetsims/energy-skate-park/issues/129.

The energy graph data needs a change in behavior. Currently, all plotted data simply exists for a bit of time then fades away before removal. We need that data to behave more like the measurable points in the measure screen.

On the measure screen, all data is removed with fade away when the skater direction changes. Then, when the sk

[2019-11-22 20:11] oliver-phet commented on #145
replied to user, closing!

[2019-11-22 20:11] #145 closed

[2019-11-22 20:24] jessegreenberg opened #149 "GraphsModel and MeasureModel can probably share code"
From #148, GraphsModel and MeasureModel are pretty similar in behavior. And #148 will have them become even more similar in the way they save and clear saved energy data.

They should probably extend a common supertype or something like that,

[2019-11-22 21:33] arouinfar commented on #80
@jessegreenberg these are all looking good. It's possible to make a few odd tracks, but I think overall flexibility of the larger drag bounds is worth it.

[2019-11-22 21:33] #80 closed

[2019-11-22 23:53] jessegreenberg commented on #45
That portion fixed in the above commit.

[2019-11-22 23:57] jessegreenberg commented on #148
I think this was done through work in #149. Behavior is now
- IF plotting against position
  - All data is cleared if the skater is picked up
  - No data is plotted while the skater is being dragged.
  - All data is removed with fadeout when the skater changes directions
  - All data is cleared when the track changes.
- If plotting against time
  - Data remains and continues to be plotted during d

[2019-11-25 18:41] ariel-phet commented on #143
@jessegreenberg I think this issue is worthy of a bit of investigation.

Considering that it is unlikely students will be moving the timer all around while playing, I don't think it is a huge concern, but I do think it would be useful to spend 1-2 hours seeing if the slow down can be reduced/eliminated. We certainly prefer to be glitch free, but if such an investigation yields no improvement, feel

[2019-12-04 16:44] jessegreenberg commented on #149
This is done. GraphsModel and MeasureModel now both extend EnergySkateParkSaveSampleModel, which is responsible for saving all SkaterSamples for plotting or inspection.

[2019-12-04 16:44] #149 closed

[2019-12-04 16:53] jessegreenberg commented on #78
Part of this was done in a5ce542

[2019-12-04 16:59] jessegreenberg commented on #78
@arouinfar Grid shifted and label alignment changed - example between two panels
![image](https://user-images.githubusercontent.com/6396244/70163415-6cd01f00-168d-11ea-9a77-3ae441525401.png)

Closing.

[2019-12-04 16:59] #78 closed

[2019-12-04 18:28] jessegreenberg commented on #143
OK sounds good.

[2019-12-04 18:43] jessegreenberg commented on #143
Notes from investigation:

- I am not able to investigate with Safari performance tools because Safari and tethering crashes after recording. I have encountered this before. So ill keep trying with other methods.

[2019-12-04 22:08] jessegreenberg commented on #143
Alright @ariel-phet, I am out of time for this unfortunately but see above notes. I was able to investigate just about all things I could think to try.

Closing as `wontfix` for now from https://github.com/phetsims/energy-skate-park/issues/143#issuecomment-558286596.

[2019-12-04 22:08] #143 closed

[2019-12-05 00:12] jessegreenberg commented on #45
Done with the above commit.

@samreid pointed out that this

This will only ever happen while the user is dragging control points. On release, the track is bumped above ground so this will never happen when the user has a track fully set up for play. This assertion hasn't been hit since https://github.com/phetsims/energy-skate-park/commit/da722dda4097d77aec2a8d863b0e3467edbc9d78 so I think this ca

[2019-12-11 19:20] jessegreenberg opened #150 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2019-12-11 23:21] jessegreenberg commented on #150
Done in the above commit.

[2019-12-11 23:21] #150 closed

[2019-12-12 15:50] KatieWoe opened #151 "CT cannot read property skater of null"
ESP and ESPB
[code]

[2019-12-12 16:02] jessegreenberg commented on #151
Thanks, looking into it.

[2019-12-12 16:26] #151 closed

[2019-12-13 16:59] jessegreenberg commented on #2
@arouinfar I don't think this is an issue in HTML5 version. I just tried with the "measure" screen and after many oscillations I could see that the total energy was conserved. Can this be closed?

[2019-12-13 17:01] jessegreenberg commented on #4
@arouinfar can you please comment on the state of this issue? Anything else to do?

[2019-12-13 17:04] jessegreenberg commented on #5
We do have a timer in this sim now. But @arouinfar can you comment if there is anything else to do for this?

[2019-12-13 17:08] jessegreenberg commented on #7
This type of issue was discussed earlier this year. From the Developer meeting doc:

And so we will live with duplication of strings in energy-skate-park and energy-skate-park-basics for now. Previous strings should remain in energy-skate-park-basics-strings_en.json.

[2019-12-13 17:08] #7 closed

[2019-12-13 22:12] jessegreenberg commented on #18
model.md and implementation-notes.md have been added.

[2019-12-13 22:12] #18 closed

[2019-12-13 22:13] jessegreenberg commented on #65
@zepumph as we are approaching a code revew for this sim, can you please comment on the status of this branch?

[2019-12-13 22:20] jessegreenberg commented on #44
This correction was originally added in https://github.com/phetsims/energy-skate-park-basics/commit/11a1a1d1cf3c03cd80f2608500818a7817d93468 and at that time the correction occured if `if ( newThermalEnergy < 0 ) ` which matches the comment. NOW the correction is         if ( `newThermalEnergy < skaterState.thermalEnergy ) {`. I want to see why that changed.

[2019-12-13 23:04] jessegreenberg opened #152 "Assertion when transitioning to ground from "slope" track"
When the skater leaves the slope track we are currently hitting an assertion once energy is corrected

[code]

Surprised this simple case hasn't shown up on CT yet. Ill investigate.

[2019-12-13 23:05] jessegreenberg commented on #44
Just hit this with the following track while fuzzing
![image](https://user-images.githubusercontent.com/6396244/70837755-1ff9f000-1dd3-11ea-936c-a8e7e4df63b2.png)

[2019-12-13 23:06] zepumph commented on #65
I would say we should ditch these. I forgot this existed. @samreid do you agree?

[2019-12-13 23:10] samreid commented on #65
Yes, this branch should be deleted, thanks!

[2019-12-16 17:31] jessegreenberg commented on #152
This is happening because we changed the premade tracks to have all points above ground. Previously, the slop had its final points below ground and so the in `correctEnergy` the energy was too high as we added potential energy to the system by bumping the skater up. But now we are bumping the skater down and removing potential energy. I think before correctEnergy in this case, we need to add kinet

[2019-12-16 19:28] jessegreenberg commented on #152
This has been fixed with the above commit. For conservation of energy we restore potential energy lost to kinetic energy. Closing.

[2019-12-16 19:28] #152 closed

[2019-12-16 19:28] jessegreenberg commented on #65
Great, thanks! Deleting.

[2019-12-16 19:31] jessegreenberg commented on #65
Deleted.

[2019-12-16 19:31] #65 closed

[2019-12-16 22:39] jessegreenberg opened #153 "EnergySkateParkTimerNode can get lost if dragged out of availableModelBounds"
EnergySkateParkTimerNode can get lost off screen if `EnergySkateParkModel.availableModelBoundsProperty.value` is reduced while the timer is out of bounds.  When the available bounds change, we need to make sure that the timer is still within bounds.

Over slack @samreid said that he is doing common code that may touch this it may be resolved through that work. We can check in after that work and s

[2019-12-17 01:12] jessegreenberg commented on #44
Every time I have seen this  newPotentialEnergy ~= initialEnergy, within the realm of precision error. Certainly these are values that would not be observable by the user. See above values. When we hit this assertion we have determined that we cannot pull energy from thermal or kinetic energy. So I recommend that we just allow the energy loss from the system and reduce from total energy.

IF this

[2019-12-17 01:24] jessegreenberg commented on #44
Proposed change in the above commit. This error has appeared twice in the last two days. I replaced teh existing assertion with a new one

1E-8 is used throughout to ensure conservation of energy in the limit of computational precision.
I will wait to see if this new assertion appears before closing, will give CT a few days.

[2019-12-17 01:36] jessegreenberg commented on #45
I hit this again doing local fuzz testing

[2019-12-17 01:44] jessegreenberg commented on #45
Wait, is this related to #44 then? Here is the current code that attempts to conserve energy in #44
[code]

And in switchToGround we have '
[code]

So perhaps it is possible that under certain dt (or when potentialEnergy ~= totalEnergy like in #44!) we need to apply this same correction.

[2019-12-17 19:05] samreid opened #154 "Use SCENERY_PHET/Stopwatch and StopwatchNode"
From https://github.com/phetsims/gas-properties/issues/170, `EnergySkateParkTimerNode` and several model Properties in `EnergySkateParkModel` should be replaced with SCENERY_PHET/Stopwatch and StopwatchNode.

I've implemented this change, and created this issue primarily to facilitate review.  Committing shortly.

[2019-12-17 23:00] samreid commented on #153
This was addressed as part of https://github.com/phetsims/gas-properties/issues/170 and https://github.com/phetsims/energy-skate-park/issues/154.  I think it can be closed but will defer to @jessegreenberg to double check.

[2019-12-17 23:00] samreid commented on #154
Please note there is one TODO in the commit above. It's unclear whether it's desirable for the StopwatchNode to always be above ground, but that's the previous and current implementation.

[2019-12-18 15:56] KatieWoe opened #155 "CT tandem was required but not supplied"
[code]

[2019-12-18 16:23] jessegreenberg commented on #155
Fixed in above commit, thanks

[2019-12-18 16:23] #155 closed

[2019-12-18 16:24] jessegreenberg commented on #153
Its working great, thanks!

[2019-12-18 16:24] #153 closed

[2019-12-18 21:37] jessegreenberg commented on #45
This appeared on CT again with

Query: brand=phet&ea&fuzz&stringTest=xss&memoryLimit=1000
Uncaught Error: Assertion failed: Thermal energy should be non-negative: skaterState: [object Object], oldPotentialEnergy:-0.0002012054320273447, skaterPositionY:-3.2849866453444034e-7, initialEnergy: -0.0002012054320273447, proposedPosition: Vector2(-6.385311486205166, 0), proposedVelocity: Vector2(1.0001228

[2019-12-18 22:27] jessegreenberg commented on #45
I generalized https://github.com/phetsims/energy-skate-park/issues/45#issuecomment-566341820 so that this similar correction can be used both in `interactWithTracksWhileFalling` and `switchToGround`. Ill be watching CT.

[2019-12-18 22:29] jessegreenberg commented on #44
It appears that the correction used here may also resolve #45. https://github.com/phetsims/energy-skate-park/commit/b81ff3226aac21fd6055606ed6e61b91d3af7639 was generalized to apply to both cases. Ill be watching CT.

[2019-12-18 23:27] jessegreenberg commented on #156
Transfering to energy-skate-park because it applies to both.

[2019-12-19 15:49] jessegreenberg commented on #158
@samreid @arouinfar what are your thoughts on this now, do you still think it would be an improvement? This button now exists in scenery-phet with default appearance strategy `RectangularButtonView.FlatAppearanceStrategy` so it seems this button is generally flat now. If we do change for this sim, should it be changed for all sims?

[2019-12-19 16:38] phet-steele opened #164 "Total Energy is changing sporadically"
@samreid @ariel-phet this is revealed via PhET-iO. It's very obvious every time the skater goes airborne; you can see the TE decrease. I'm sorry if the numbers are too small, the value you should be watching is blue and underneath the highlighted text.
![espb01](https://cloud.githubusercontent.com/assets/5863899/17867614/70652ed4-6868-11e6-861b-b068d364947e.gif)

[2019-12-19 16:44] jessegreenberg commented on #164
Regarding https://github.com/phetsims/energy-skate-park/issues/164#issuecomment-242501400,

There are a number of heuristics used in this sim to attempt to conserve energy when the skater state changes. In many of these we ensure that total energy is only conserved within 1E-8 Joules.

[2019-12-19 16:48] jessegreenberg commented on #159
https://github.com/phetsims/energy-skate-park-basics/issues/369 may have additional information about this, but https://github.com/phetsims/energy-skate-park/issues/159#issuecomment-57089706 was also suggested there as the reason and it seems like that is likely.

[2019-12-19 17:10] samreid commented on #165
`PhetioGroup` should be used for this part.  Are you preparing for phet-io and phet brand publication for the new sim, or only PhET-brand?

[2019-12-19 17:13] samreid commented on #158
The clear thermal button in the sim looks nice to me, but I'm wondering if a designer could comment on the "3d" zoom buttons next to the "flat" clear thermal button:

![image](https://user-images.githubusercontent.com/679486/71193909-2ca19c80-2248-11ea-8762-6da6fcb1e7e5.png)

Should these looks be unified?

[2019-12-19 17:13] samreid commented on #158
Also, does the "clear thermal" button look kind of "grayed out" to you?

[2019-12-19 17:16] jessegreenberg commented on #165
Only PhET brand - should this wait until a PhET-iO publication?

[2019-12-19 17:49] jessegreenberg opened #166 "Skater can fall out of loop track"
From https://github.com/phetsims/energy-skate-park-basics/issues/421

There is a looped track where the skater can fall out of the track, even with no friction. The following recording demonstrates.

https://drive.google.com/open?id=1FqS6lNk8VcYjdsTcIfmeRCSKk04cgGd6

This was assigned low priority.

[2019-12-19 20:15] jessegreenberg opened #167 "Use isSlowMotionProperty for play speed radio buttons with TimeControlNode"
Noticed in https://github.com/phetsims/sun/issues/549, the TimeControlNode used here isn't opting into the radio buttons that come with it. There are custom radio buttons controlling play speed in this sim which have inconsistent instrumentation with what is in common code.

[2019-12-19 22:07] jessegreenberg commented on #161
Ill take a loot at this, more than some of the other existing bugs it seems like it would be easier for the user to encounter this case.

[2019-12-19 22:14] jessegreenberg commented on #160
I will take a look at this issue for the publication of energy-skate-park.

[2019-12-19 22:15] jessegreenberg commented on #159
Ill investigate this, it may be a straight forward fix if https://github.com/phetsims/energy-skate-park/issues/159#issuecomment-57089706 is correct.

[2019-12-19 22:24] jessegreenberg commented on #158
@arouinfar and I met for this issue -

We tried a flat appearance strategy for the zoom buttons, but care for the appearance.
![image](https://user-images.githubusercontent.com/6396244/71214818-1a455400-2284-11ea-88fd-4f404a89a1e0.png)

@arouinfar is OK with the difference in appearance strategy for these buttons because we want the zoom buttons to appear more attractive as they are more important

[2019-12-19 22:24] #158 closed

[2019-12-19 22:26] jessegreenberg commented on #157
Reviewed colors with @arouinfar -

The thermal energy is represented by PhetColorScheme.RED_COLORBLIND and that is important because it is used in combination with other bright colors.

The other usages of 'red' are for the skater "point mass" and the track control points which are in isolation and look best as they are.

Closing.

[2019-12-19 22:26] #157 closed

[2019-12-20 20:33] jessegreenberg commented on #167
Resolved with above commits.

[2019-12-20 20:33] #167 closed

[2019-12-20 21:14] jessegreenberg commented on #163
Currently float and other layout is being done in the overridden`layout` function of EnergySkateParkScreenView. So one way to align with strategies used in CCK and others would be to take work out of `layout` function and distribute to various components by passing them the `visibleBoundsProperty`.

[2019-12-20 22:58] jessegreenberg commented on #163
Done with the above commits. The work for floating components has been moved out of `layout` and linked to `ScreenView.visibleBoundsProperty`. I think this distributes the work well.
- `layout` - responsible for custom positioning of the EnergySkateParkScreenView so that content is fixed to the navigation bar to create more vertical space where possible
- `floatInterface` - responsible for positio

[2019-12-20 22:58] #163 closed

[2019-12-20 23:00] jessegreenberg commented on #45
Looks like we still hit this:

[code]

[2019-12-20 23:06] jessegreenberg commented on #156
`lineJoin: round` for the kinetic and potential energy slices seems to remove all artifacts but I want to test a little more.

[2019-12-24 02:12] samreid commented on #165
I think this sim should be changed to use `PhetioGroup` when it is time to instrument the sim, or when we eliminate the legacy pattern as part of https://github.com/phetsims/tandem/issues/87

[2019-12-28 19:47] jessegreenberg commented on #156
I tested more thoroughly and didn't notice any issues with adding  `lineJoin: 'round'` to energy slices. This has resolved  the issue. Closing.

[2019-12-28 19:47] #156 closed

[2019-12-28 19:53] jessegreenberg commented on #159
I confirmed that in this  case the skater has passed through the track and hit the ground in the same step with `EnergySkateParkModel.stepFreeFall`.  It seems like the fix is to check for track collision before  checking for collision with ground.  And this feels safe because all track points should be above ground.

[2019-12-28 20:30] jessegreenberg commented on #159
Fixed by the above commit. The skater switches to ground only if it has not crossed  a track in the same  step during `stepFreeFall`. Closing.

[2019-12-28 20:30] #159 closed

[2019-12-28 21:09] jessegreenberg commented on #160
I am not sure how to go about fixing this. This is happening because we have conflicting pedagogical goals.

One goal is listed in https://github.com/phetsims/energy-skate-park/issues/160#issuecomment-62419815, when the skater is moving very slowly we want the kinetic energy to appear zero because we want to convey "The kinetic energy is zero at the top of the trajectory (turning point)".

But thi

[2019-12-28 21:12] jessegreenberg opened #168 "Skater switches directions when leaving slope track with low energy"
I noticed this while investigating #160, if the skater is placed on the premade slope track with very little initial energy,  it  will switch directions when it switches to ground.

[2019-12-28 21:14] jessegreenberg commented on #168
This is not an issue for the deployed sim, and I suspect this is caused by the change we made to push all track points above ground.

[2019-12-28 21:46] jessegreenberg commented on #168
This is happening in the case of  #152, if we enter that correction this is happening now. Ill start there next.

[2019-12-30 01:29] jessegreenberg commented on #168
OK I think I tracked this down to #152, the fix introduced there is not correct, we are adding too much kinetic energy to the system after correcting for taking out potential energy.

Since we are adding too much energy, we then enter `EnergySkateParkModel.correctEnergy` whose algorithm can eventually change direction of the skater.

Currently, we  try to add kinetic energy to the system by turnin

[2019-12-30 01:49] jessegreenberg commented on #168
Verified that this fixed the issue in the above commit.

[2019-12-30 01:49] #168 closed

[2019-12-30 02:52] jessegreenberg opened #169 "Skater can "strikeGround" after slope track"
There is a case where a sloped track can cause the skater to strike the ground when the skater leaves the track and all kinetic energy becomes thermal energy and motion stops.

This is happening because if a "slope" track control point is dragged on the measure screen, we set `track.slopeToGround` to false and disable heuristics for correcting energy for that special track since we can no longer g

[2019-12-31 02:36] jessegreenberg commented on #169
Change made above and verified that this fixed the problem. In this case I verified that energy is conserved and that when switching to ground the kinetic energy is correct.

[2019-12-31 02:36] #169 closed

[2020-01-02 20:50] KatieWoe opened #170 "CT Assertion Failed from SkaterState.strikeGround"
[code]

[2020-01-06 16:42] jessegreenberg commented on #170
The API mismatches have been resolved, remaining issues are related to strikeGround.

[2020-01-06 22:11] jessegreenberg commented on #170
The assertion is
[code]

[2020-01-07 00:29] jessegreenberg commented on #170
This was caused by change in #169, but has always been an issue. `continueFreeFall` used to be
[code]
where initialEnergy was total skater energy. But with negative potential energy possible this is no longer correct, we need to convert all kinetic energy to thermal. It should be
[code]

[2020-01-07 00:32] jessegreenberg commented on #170
Verified as fixed after the above commit.

[2020-01-07 00:32] #170 closed

[2020-01-08 04:58] jessegreenberg commented on #44
Yes, it seems so, closing this one.

[2020-01-08 04:58] #44 closed

[2020-01-08 04:58] jessegreenberg commented on #45
I think I tracked it down again - error in `correctThermalEnergy` where the new position wasn't applied to the corrected skater state and so potential energy was incorrect after correction. Fixed above but ill be watching.

[2020-01-08 18:00] jessegreenberg commented on #166
I made a test track in the above commit to reproduce this but it doesn't happen too consistently. I don't see anything incorrect about the energy when it happens, but somehow the calculation in EnergySkateParkModel.crossedTrack is returning false.

[2020-01-08 19:46] pixelzoom opened #171 ""location" appears in string files"
Over in https://github.com/phetsims/phet-info/issues/126, we are changing "location" to "position throughout the code base.   I noted that energy-skate-park has occurrences of "location" in *strings*.json files.

In https://github.com/phetsims/phet-info/issues/126#issuecomment-568008965, @jbphet said:

Assigning to @samreid and @jessegreenberg to decide what (if anything) to do.

[2020-01-08 20:13] jessegreenberg commented on #166
I added a visualization to see the lines the model is using to determine skater/track intersection. The red line is the line parallel to the track, short blue line is the line of potential movement of skater. When they intersect, skater attaches to track.

![a1b055a914c6167031a5933e665e1a5b](https://user-images.githubusercontent.com/6396244/72011840-a82fb180-3228-11ea-9d14-f5cd6735b6c3.gif)

Here

[2020-01-08 20:22] jessegreenberg commented on #166
In lineSegmentIntersection, we are not hitting this case and so my theory may be incorrect.
[code]

[2020-01-08 20:49] jessegreenberg commented on #166
The issue is that it is possible for skater segment to completely jump over the track between time steps.

Here it is on the "left" side of one time step:
![image](https://user-images.githubusercontent.com/6396244/72013962-f6df4a80-322c-11ea-9975-cafe782c916c.png)

And next frame the segment is on the other side of the track:
![image](https://user-images.githubusercontent.com/6396244/72014010-0eb6

[2020-01-08 20:51] jessegreenberg commented on #165
OK thanks, in that case this issue can be picked up at that point.

[2020-01-08 21:11] jessegreenberg opened #172 "Total energy increase when reattaching to track"
While investigating #166 I noticed that there are times when the skater reattaches in an open loop track that total energy will noticeably increase.

Here is track in question (with testTrackIndex=16 param)
![image](https://user-images.githubusercontent.com/6396244/72016321-8edf3300-3231-11ea-8679-095569a2609e.png)

[2020-01-08 21:31] jessegreenberg commented on #172
Fixed after the above commit, I tried several times to make this happen and cannot anymore.

[2020-01-08 21:31] #172 closed

[2020-01-08 21:41] jessegreenberg commented on #161
I found the code to verify https://github.com/phetsims/energy-skate-park/issues/161#issuecomment-207842169 in `EnergySkateParkModel.deleteControlPoint`.
[code]

And so in the next animation frame we will call `stepFreeFall` and decide if the skater should reattach to the track.

[2020-01-08 21:46] jessegreenberg commented on #161
And so the ways to proceed may be

- Proceed with publication of Energy Skate Park 1.0 without addressing. It was also deferred for ESP:B and we haven't received issues reports about this since that publication.
- If skater is on track when control point is deleted, bump skater back to nearest track point if possible. May fix this issue, but will result in changing potential/total energy of the sy

[2020-01-08 21:51] jessegreenberg commented on #45
We have had 10 CT iterations since commit without error. I think this issue can now be closed. At this point we are finding and closing new issues related to this classification of issue which is "substantial total energy change after ... correction". And so if it shows up again I feel comfortable proceeding in a new issue.

[2020-01-08 21:51] #45 closed

[2020-01-16 23:04] arouinfar commented on #161
@jessegreenberg I think we can safely defer this issue. (Alternatively, we could decide to close as wont-fix since this has been deferred for almost four years now.) I think moving the skater's position to some other location on the track would be a strange UX and could look buggy, so I would prefer to leave it as-is.

[2020-01-16 23:17] arouinfar commented on #4
@jessegreenberg this really isn't a primary learning goal of ESP, and this isn't something we would need to support in the phet-brand sim. There are low-tech ways that teachers could hide these labels in the the sim, such as obscuring the pie chart legend with a post-it note. It's already possible to hide the legend in phet-io, so I'm going to go ahead and close this issue.

[2020-01-16 23:17] #4 closed

[2020-01-16 23:22] arouinfar commented on #3
I think the only relevant suggestion left to consider is adding zoom in/out buttons to the playground screen. If we add the ability to zoom out, we will need to deal with a much larger range for potential energy, which complicates the graph scaling. We might also need to consider adding extra track pieces to accommodate  the larger play area.  I do not think zooming out really furthers the learnin

[2020-01-16 23:22] #3 closed

[2020-01-16 23:25] arouinfar commented on #5
I do not think a precise time readout is within the scope of the goals for the E vs. t graph. We also now have a StopwatchNode to measure the time precisely, so I think we can go ahead and close.

[2020-01-16 23:25] #5 closed

[2020-01-16 23:28] arouinfar commented on #148
@jessegreenberg this is all looking good in master, thanks!

[2020-01-16 23:28] #148 closed

[2020-01-16 23:40] arouinfar commented on #160
@jessegreenberg I am hesitant to make any changes. If I recreate the scenario in https://github.com/phetsims/energy-skate-park/issues/160#issuecomment-62502109 in energy-skate-park and zoom all the way in, there is a non-zero KE bar. However, it is a bit jumpy due to the threshold. Similarly, https://github.com/phetsims/energy-skate-park/issues/160#issuecomment-404880091 is a bit tricky to reprodu

[2020-01-16 23:41] arouinfar commented on #2
I'm also unable to see this in the HTML5 version. Let's close.

[2020-01-16 23:41] #2 closed

[2020-01-18 19:51] jessegreenberg commented on #161
Thanks @arouinfar, I am going to go ahead and close this issue since we have made this decision several times and the sim has existed for so long with it.

[2020-01-18 19:51] #161 closed

[2020-01-20 02:05] samreid commented on #171
It looks like ESP and ESPB do not have any location strings in the english files.  I'll leave this up to @jessegreenberg to confirm or comment.

[2020-01-23 17:30] mattpen opened #173 "Matt should be present for the next RC deploy"
See phetsims/perennial#146 (comment).

I'd like to be present for the next RC deploy so I can investigate permissions issues on bayes if needed.

[2020-01-23 19:30] jessegreenberg commented on #173
Assigning to myself to make sure we remember to coordinate when we do this.

[2020-01-23 23:28] jessegreenberg commented on #171
I verified that none of the strings removed in https://github.com/phetsims/energy-skate-park-basics/commit/3e689653b2a2b2299d0ec933ff3427a593079040 are used in live version (1.1) or in master. I am not sure how they got translated.

@jbphet do you think it is worth removing these unused translated strings? Is there a process for that or is it manual?

[2020-01-24 16:40] jessegreenberg commented on #162
This can be closed, MS no longer supports Windows 7 and so the project decided to stop supporting Windows 7 as well.

[2020-01-24 16:40] #162 closed

[2020-01-24 17:34] jbphet commented on #171
It's a manual process - just edit the string files and commit them.  Just be sure they aren't used.  As far as whether to remove, I generally to do when I encounter a situation like this, but it doesn't hurt anything to keep them around.  So, I'd say it's up to you.

[2020-01-24 18:27] zepumph opened #174 "Redesign PhET-iO api"
Slim down tandems and thoughtfully design the api.

This is for research with a client. Dates: Dev version 3/31/2020; Data collection begins May 2020

[2020-01-24 20:25] samreid commented on #123
At today's meeting, we agreed @zepumph and @samreid will work on this, but we should be careful to wait until the sim is in RC, so we don't disrupt in-progress work.

[2020-01-24 22:54] samreid commented on #154
@jessegreenberg can you please review at your convenience?

[2020-01-27 18:15] jessegreenberg opened #175 "Don't save save SkaterSamples when dragging a control point"
Control points are removed when the track changes, but they continue to be added to the model. The result is flickering control points under the skater while the track is moved and it doesn't look very good.

Instead, samples shouldn't be added to the model while the track is changing.

[2020-01-27 21:32] jessegreenberg commented on #175
Behavior is much better after above commit.

[2020-01-27 21:32] #175 closed

[2020-01-27 22:03] jessegreenberg commented on #154
I checked in with @arouinfar about this, she said that keeping both tools above ground is reasonable since there isn't a need to measure below ground and that it seems best for both tools to have the same drag bounds.

[2020-01-27 22:07] jessegreenberg commented on #154
The code changes to use StopWatch and StopWatchNode look very good, thanks! It is working well in the sim too.

[2020-01-27 22:07] #154 closed

[2020-01-27 23:03] jessegreenberg commented on #171
Thanks, that sounds good. I started to go through removing the unused strings but realized that this will take a substantial amount of time. https://github.com/phetsims/energy-skate-park-basics/commit/3e689653b2a2b2299d0ec933ff3427a593079040 removed 84 strings and each had been translated into 37 different languages. Removing these manually doesn't seem worthwhile at this point unless they are cau

[2020-01-27 23:03] #171 closed

[2020-01-29 00:07] arouinfar commented on #81
@jessegreenberg the skater assets are ready for integration: [skaters.zip](https://github.com/phetsims/energy-skate-park/files/4125523/skaters.zip)

The images all have the same dimension, so shorter characters have empty space above their heads. If this is undesirable, let me know and I can trim it off.
![image](https://user-images.githubusercontent.com/8419308/73316578-848cd500-41f0-11ea-9136-52

[2020-01-29 16:10] jessegreenberg commented on #81
Nice, thanks @arouinfar! Can you assign default masses to these as they will appear in the cass comboboxes?

[2020-01-29 16:13] jessegreenberg commented on #81
Also, are we still going to use the existing PhET girl? Or is PhET girl in the green shirt going to replace that image? And does the decision here apply to basics as well?

[2020-01-30 07:05] ariel-phet commented on #160
@jessegreenberg @arouinfar I agree the thresholds should not be adjusted and the sim has been very successful without concerns from users.

However, if we wanted to address this concern, one avenue we could consider is to include the measure tool on the Lab screen. That way the kinetic energy value could be displayed and seen to be nonzero. I am not sure if that is a complication we want to add, h

[2020-01-30 07:13] ariel-phet opened #176 "Measurement tool and path checkbox might need stronger UX coupling"
In playing a bit with https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.6/phet/energy-skate-park_all_phet.html

I noticed on the measure screen that without the "Path" option checked, the energy measurement tool is basically useless.

A few considerations:

1. Do we need the "Path" checkbox even? What is the point of being on this screen without the path active?

2. If the "Path" is n

[2020-02-03 22:46] JRomero0613 opened #177 "Clock Does Not Advance When Skip Forward Button is Pressed"
For https://github.com/phetsims/QA/issues/470 when testing I realized that the clock does not advance when the skip forward button is pressed. To replicate this grab the clock tool, press the play button for the overall sim, and press the clock play button to start recording time. Once time is being recorded hit the pause button for the overall sim to stop any motion in the sim. Now press the skip

[2020-02-04 21:02] loganbraywork opened #178 "When playing back previously recorded actions Skater is leaning to the side"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470

When on the graphs screen and "Time" is selected, if the skater is manipulated it appears to be leaning to the side when played back.
**Steps to reproduce**
1. Enter the Graphs screen
2. Switch from Position to Time on the graph
3. Drop the ska

[2020-02-04 21:18] loganbraywork opened #179 "Pointer Area for Measuring device strange shape"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470

The Pointer area for the movable portion of the measurement device on the Measurement screen is a strange shape, and will randomly change to either conform to the actual shape of the object and back.

**Steps to reproduce**
1. Use the query par

[2020-02-04 22:50] loganbraywork opened #180 "Total redundant on Energy Legend for Pie Chart"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470

The pie chart legend contains the key "Total", which is redundant for the pie chart since it never displays the Total energy, only thermal, potential, and kinetic, unless reference height is moved, wherein it shows a transparent version of the