[2020-02-04 23:21] lmulhall-phet opened #181 "It would be nice to be able to put track back in toolbox"
For https://github.com/phetsims/QA/issues/470.

It would be nice to be able to put a piece of track back in the toolbox without having to click and delete the vertices.

Would it be difficult to implement a feature that uses the y-coordinate of the cursor to determine whether the user is trying to place a track on the ground or trying to put the track back in the toolbox?

[2020-02-05 18:42] KatieWoe commented on #179
Same issue as in https://github.com/phetsims/scenery-phet/issues/488

[2020-02-05 19:40] jessegreenberg commented on #181
Ah interesting thought, something like this would be convenient. My concern is that there will be cases where the user finds this surprising. Like when trying to drag the track back to ground but mouse goes a little underground and it disappears. We don't have a "ghost" or anything that shows where the track would be below ground to indicate that it will return to toolbox.

I am curious to hear wh

[2020-02-05 19:44] jessegreenberg commented on #180
Thanks for reporting @loganbraywork.

In my opinion, this part makes the total energy important to display.

[2020-02-05 19:46] jessegreenberg commented on #179
Thanks for reporting. Indeed, this is the same as https://github.com/phetsims/scenery-phet/issues/488, and was determined to be an issue with our tool and not the actual pointer areas. Closing.

[2020-02-05 19:46] #179 closed

[2020-02-05 19:48] jessegreenberg commented on #178
Thanks @loganbraywork, I will take a look.

[2020-02-05 19:55] jessegreenberg commented on #178
When the skater is dragged we zero the kinetic energy. I think we also need to reset the angle.

[2020-02-05 19:57] jessegreenberg commented on #178
Hmm, it seems like we are already doing that.

[2020-02-05 20:03] KatieWoe opened #182 "Energy charts don't update when reference line is changed while paused"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470.
When the sim is paused, the energy representation in the bar and pie charts updates as you drag the skater up and down. However, it does not change as you move the reference height. You need to step forward for it to update

**Visuals**
![updatebargraph](https:

[2020-02-05 20:07] KatieWoe commented on #172
Did a quick second look in https://github.com/phetsims/QA/issues/470 and I'm not seeing this issue there.

[2020-02-05 20:16] loganbraywork commented on #182
Pie chart and Energy graph also fail to update when paused if gravity is changed as well

[2020-02-05 20:23] #178 closed

[2020-02-05 20:28] jessegreenberg commented on #182
Thanks @loganbraywork. It does however update while paused when mass changes. So I suspect that it should. I will go ahead and do that, but @arouinfar please let me know if you disagree.

[2020-02-05 20:35] KatieWoe opened #183 "Pointer areas of play and step forward overlap"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470.
When the pause button is visible it is small and the touch pointer area just touches the step forward touch pointer area. When the play button is visible it bigger and the pointer area moves so that it overlaps the touch are for step forward.

**Visuals**
![tou

[2020-02-05 20:41] jessegreenberg commented on #182
Fixed in the above commit. Energies update when the sim is paused if mass, reference height, skater height, or gravity change. But @arouinfar can you still review? I have a memory of discussing this and I am afraid maybe I am forgetting a reason that they shouldn't.

[2020-02-05 20:46] loganbraywork opened #184 "Pie chart can obscure the skater if skater is upside down"
**Test device**
Windows 10 Laptop
**Operating System**
Windows 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470

When the skater is upside down on a track the pie chart can obscure it.
**Steps to reproduce**
1. Enter the Lab screen
2. Create a circular track
3. Use the gravity slider to turn gravity to max
4. Use the friction slider to turn friction to No

[2020-02-05 21:09] KatieWoe opened #185 "Design Recommendation: Change 0 kg to <1 kg"
For https://github.com/phetsims/QA/issues/470 I noticed that, on screens with a mass slider, you can set the mass of the skater to 0 kg. However, skater still falls, has kinetic energy, and behaves as if it has mass. I think it would make more sense for that lower bound to be <1 kg or a more specific decimal value.
![zeromass](https://user-images.githubusercontent.com/41024075/73883235-d2bd5c00-48

[2020-02-05 21:33] jessegreenberg commented on #185
Thanks @KatieWoe , Im not sure why current range allows it to go all the way to zero.

[2020-02-05 21:40] KatieWoe opened #186 "Time moves forward when dragging the skater"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470.
On the Graphs screen, when looking at the time version of the energy graph, you can get time to behave as if it is moving even when paused. To do this you just drag the skater around, or even just hold down your mouse on the skater.
**Steps to reproduce**
1. Go

[2020-02-05 21:46] jessegreenberg commented on #184
Thanks @loganbraywork - the current behavior is to put the pie chart 50 view coordinates above the head, always.

The reason for this is so that the pie chart looks good when on an angled track (like the porabola)
![image](https://user-images.githubusercontent.com/6396244/73886018-ca701b80-4836-11ea-8135-8b04f1d658f2.png)

We could try putting it 50 view coordinates below the skater when upsidown.

[2020-02-05 21:47] jessegreenberg commented on #186
Definitely a but, thanks for reporting. Ill take a look.

[2020-02-05 21:49] jessegreenberg commented on #186
Interesting it is only happening for the energy vs time graph.

[2020-02-05 21:52] KatieWoe opened #187 "Timer doesn't change speed when speed is slow"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470
When you have the timer running, there is no difference in its speed counting forward between normal and slow speed. See Masses and Springs published for how it should probably work.

**Visuals**
![timerdoesntchangespeed](https://user-images.githubusercontent.co

[2020-02-05 22:12] jessegreenberg commented on #186
@KatieWoe can you please make sure this is fixed in master?

[2020-02-05 22:13] jessegreenberg commented on #187
Yikes,  thanks!

[2020-02-05 22:15] KatieWoe commented on #186
This looks fixed on master

[2020-02-05 22:18] jessegreenberg commented on #187
Fixed in the above commit.

[2020-02-05 22:18] #187 closed

[2020-02-05 22:18] jessegreenberg commented on #186
Thank you, closing.

[2020-02-05 22:25] jessegreenberg commented on #177
Thanks very much @JRomero0613, fixed in the above commit.

[2020-02-05 22:25] #177 closed

[2020-02-05 22:32] jessegreenberg commented on #183
Thanks @KatieWoe,  I increased the spacing so there is no overlap when the button gets bigger.

[2020-02-05 22:32] #183 closed

[2020-02-05 22:43] KatieWoe opened #188 "Reference line goes over graph"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470.
On the graphs screen, the reference height line can go over the graph. This was determined to be in error. On slack it was suggested limiting the line on that screen to 5m.

**Visuals**
![shouldgoover](https://user-images.githubusercontent.com/41024075/73890019

[2020-02-05 22:46] KatieWoe commented on #188
5m may still be too much:
![stilltoomuch](https://user-images.githubusercontent.com/41024075/73890183-9db80600-482e-11ea-9f8c-9008b2e4fe86.png)

[2020-02-05 23:00] KatieWoe opened #189 "Raised tracks now cover graph"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470. Related to https://github.com/phetsims/energy-skate-park/issues/115, which involves extending the fixed track on the graphs screen by continually manipulating the three point track under the ground to push it up. This was decided to not be fixed. However, the t

[2020-02-05 23:00] jessegreenberg commented on #188
Limited reference height range to (0, 4.5) meters in the graphs screen. There is still more space when the  accordion box is closed. @arouinfar can you please review?

[2020-02-05 23:01] jessegreenberg commented on #189
Thanks @KatieWoe, ill take a look.

[2020-02-05 23:18] KatieWoe commented on #189
Interestingly it does stop going up at a certain point:
![stopsgoingup](https://user-images.githubusercontent.com/41024075/73892091-2769d280-4833-11ea-9dcb-5b2f3db2c6dd.png)

[2020-02-05 23:19] jessegreenberg commented on #189
Thanks for verifying! We did decide to fix this, it is just that the limiting bounds are too large for the graphs screen. Can you please check to see if this is fixed in master?

[2020-02-05 23:23] KatieWoe commented on #189
Looks fixed in master

[2020-02-05 23:33] KatieWoe commented on #188
Few other instances of the reference line being layered on top when we may not want it to be:
![moreover](https://user-images.githubusercontent.com/41024075/73892827-2afe5900-4835-11ea-8cc5-0de32900d014.png)
![movers](https://user-images.githubusercontent.com/41024075/73892828-2afe5900-4835-11ea-9df3-72e645e4a5d1.png)
![somanyover](https://user-images.githubusercontent.com/41024075/73892831-2df949

[2020-02-06 00:33] KatieWoe opened #190 "Inconsistent dropdown menu layering"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/470
The drop down menus have layering such that objects (such as the skater or movable track) can be in front of part of it, and behind another when the drop down is open.

**Visuals**
![layeringdropdown](https://user-images.githubusercontent.com/41024075/73895662-8

[2020-02-06 00:47] lmulhall-phet opened #191 "Still possible for track to be below ground"
**Test Device**

MacBook Air

**Operating System**

macOS 10.15.2

**Browser**

Firefox 72.0.2

**Problem Description**

For https://github.com/phetsims/QA/issues/470. I searched the ESP repo and the ESPB repo, but I didn't find this exact issue. If it exists, sorry for the duplicate.

That being said, see title and gif.

**Steps to Reproduce**

I don't think there's a sequence of steps that will

[2020-02-06 03:34] jessegreenberg commented on #189
Great, thanks for checking.

[2020-02-06 03:34] #189 closed

[2020-02-06 03:51] jessegreenberg commented on #191
Found a track where this is happening:
![image](https://user-images.githubusercontent.com/6396244/73904373-d88b5f80-4869-11ea-837e-ebe78bcebc1a.png)

Control points:
var controlPoints = [new ControlPoint(-1.5792371376866505,8.918939632639875),new ControlPoint(1.1724084337323326,8.904145784631758),new ControlPoint(3.495033259423506,8.297600273652469),new ControlPoint(3.9832288328454144,3.7854938434

[2020-02-06 03:52] jessegreenberg commented on #191
That theory matches the order of bumpAboveGround
[code]

[2020-02-06 04:14] jessegreenberg commented on #190
Hmm, this is interesting, thanks. I agree this looks odd, but I think this is correct. The skater and other draggables are on top of most UI components (like the combo box button) because it would look strange if the skater got lost behind fixed buttons. But usually the ComboBox menu is on top of everything else when open. The menu is modal, it is only open when the user is actively using it. So i

[2020-02-06 23:36] arouinfar commented on #190
I would agree @jessegreenberg. While it looks odd, it is indeed the correct behavior.

Here's a similar case in Masses and Springs:
![2020-02-06 16 35 34](https://user-images.githubusercontent.com/8419308/73988007-c14a8180-48fe-11ea-8c75-dff45b766941.jpg)

[2020-02-06 23:36] #190 closed

[2020-02-06 23:41] arouinfar commented on #185
@jessegreenberg I think 1.0 kg would be an appropriate minimum for mass.

[2020-02-06 23:56] arouinfar commented on #184
Nice attention to detail @loganbraywork.

Originally I had a similar idea, but I think it would look pretty jarring to shift the position of the chart once the skater ends up upside down.

While it's true the pie chart can end up underground, I think it will generally remain visible throughout the skater's motion.
![piechart](https://user-images.githubusercontent.com/8419308/73988862-315a0700-4901

[2020-02-07 00:09] arouinfar commented on #182
Nice catch @KatieWoe.

@jessegreenberg I definitely think we should be updating the pie chart and bar graph whenever the reference line is moved, including when the sim is paused.

What gets tricky is how we handle the E(x) and E(t) graphs. In these graphs, moving the reference height will only affect the data drawn after the line was moved. Given the real-time nature of these graphs, that seems a

[2020-02-07 00:16] arouinfar commented on #181
Thanks for the suggestion @lmulhall-phet.

Agreed.

Would we only allow single track pieces to be dragged back into the toolbox, or would it work for connected pieces as well? Given the complicated nature of the track, I'm not sure we want to support this functionality. While it could be convenient at times, it's honestly not that inconvenient to have an extra track piece out in the play area or d

[2020-02-07 00:27] arouinfar commented on #180
I completely agree @jessegreenberg.

Pie charts are not designed to handle negative values, so it was a real challenge to decide what to do when the skater has negative potential energy (see #20). We could think of three options:
1. Hide the pie chart when PE < 0. This was the behavior in Java, which we felt looked really jarring.
2. Show only the total energy when PE < 0. This emphasizes that the

[2020-02-07 00:27] #180 closed

[2020-02-07 14:56] jessegreenberg commented on #181
Sounds good, thanks. Closing this issue then.

[2020-02-07 14:56] #181 closed

[2020-02-07 15:06] jessegreenberg commented on #182
Sorry, this is a bug in master after commit https://github.com/phetsims/energy-skate-park/commit/307889e030fe65ed938cae374797ee99b3f75276 and is not in https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.6/phet/energy-skate-park_en_phet.html. That was not intended.

I also prefer (1).

[2020-02-07 15:54] jessegreenberg commented on #186
This fix made it so that all data is cleared on pause.

[2020-02-07 16:01] jessegreenberg commented on #186
New fix in the above commit.

[2020-02-07 16:01] #186 closed

[2020-02-07 16:02] jessegreenberg commented on #182
Fixed in https://github.com/phetsims/energy-skate-park/commit/510893fe9af416b2adaea4a610489845cdd98cd3

[2020-02-07 16:04] jessegreenberg commented on #184
OK  thanks @arouinfar.

[2020-02-07 16:04] #184 closed

[2020-02-07 23:58] loganbraywork opened #192 "Using two fingers and changing or resetting the track while holding the skater causes various issues."
<b>Test Device</b>

Ipad 6th generation

<b>Operating System</b>

IOS 13

<b>Browser</b>

Safari

<b>Problem Description</b>

For  https://github.com/phetsims/QA/issues/470

When the skater is held above the track using one finger and the track is switched via the radio button, the skater will automatically drop. Switching the track further causes a strange conservation of momentum. If the skater

[2020-02-09 23:42] jessegreenberg commented on #192
When the scene changes, it is by design that the skater should return to ground.

[code]

But it looks like the drag handler isn't interrupted for cases of multitouch,

[2020-02-10 17:06] jessegreenberg commented on #192
Fixed in the above commit, closing.

[2020-02-10 18:13] ariel-phet commented on #182
@arouinfar @jessegreenberg in reference to https://github.com/phetsims/energy-skate-park/issues/182#issuecomment-583172866 I think we should go with (1). That behavior seems correct to me.

I think the graph should correspond to the reference height at the time of taking that data. So I see no problem with the graph not changing until after the pause, if the reference height is changed during a pa

[2020-02-10 20:04] arouinfar commented on #81
@jessegreenberg the updated artwork can be found here:  [skaters.zip](https://github.com/phetsims/energy-skate-park/files/4182798/skaters.zip)

## General
- For screens with a mass NumberControl, the range will be 1-100 kg.
- The skater images should scale linearly between some min and max size. The sizes used in ESPB for min/max mass look good.
- Skater artwork has been rescaled so that the skate

[2020-02-11 17:20] jessegreenberg opened #193 "Grouping implementation for the EnergySkateParkControlPanel"
To support https://github.com/phetsims/energy-skate-park/issues/81, the control panel needs to support different groups of controls so that horizontal spacers can be inserted between groups
![image](https://user-images.githubusercontent.com/6396244/74261072-9da18580-4cc8-11ea-9ae5-4f370c5e7fa1.png)

Current implementation has you pass in an array of controls that just get added to the control pane

[2020-02-12 04:18] jessegreenberg commented on #185
This is done as part of #81

[2020-02-12 04:18] #185 closed

[2020-02-12 04:19] jessegreenberg commented on #182
OK thanks - I belive that is the  behavior of master, @arouinfar can you confirm?

[2020-02-12 05:47] jessegreenberg commented on #193
Big overhaul to EnergySkateParkControlPanel and its components in the above commit, but we are better prepared for latest designs of the control panel and can proceed with #81

[2020-02-12 05:47] #193 closed

[2020-02-12 22:27] lmulhall-phet opened #194 "Points on energy graph exceed bounds of energy graph"
**Test Device**

MacBook Air

**Operating System**

macOS 10.15.2

**Browser**

Chrome 79.0.3945.130

**Problem Description**

The points on the energy graph can exceed the bounds of the energy graph if some conditions are met.

**Steps to Reproduce**

1. Graphs screen.
2. Increase mass to maximum value.
3. Place skater at the very top of the ramp.

There are other mass values that can produce thi

[2020-02-12 22:37] jessegreenberg commented on #194
Thanks @lmulhall-phet - this is useful, but also part of #101 so I am going to close this and reference over there.

[2020-02-12 22:37] #194 closed

[2020-02-12 22:38] jessegreenberg commented on #101
https://github.com/phetsims/energy-skate-park/issues/194#event-3032702599 was another description of this issue.

[2020-02-12 23:17] jessegreenberg commented on #81
Alright @arouinfar this should be working to specification in https://github.com/phetsims/energy-skate-park/issues/81#issuecomment-584325175. The images you provided were formatted so that it made it very easy to put them in the sim, thank you! Back to you to review additions.

[2020-02-13 16:12] jessegreenberg opened #195 "Images for home screen and navigation bar"
I had forgotten that we have template images for these currently, especially for Measure and Graph screens. @arouinfar can you please create new  images for this?

[2020-02-13 16:14] jessegreenberg commented on #195
Here is what we have now
![image](https://user-images.githubusercontent.com/6396244/74454463-ef294c00-4e51-11ea-9049-616ada058db1.png)

[2020-02-13 21:20] loganbraywork commented on #192
Just tested this in the published version Basics and it appears, so basics probably needs a maintenance release. Also appears for windows touch devices.

[2020-02-14 21:22] KatieWoe opened #196 "CT phetioID already registered"
[code]

[2020-02-14 22:13] jessegreenberg commented on #196
Thanks, fixed in above commit.

[2020-02-14 22:13] #196 closed

[2020-02-14 22:20] jessegreenberg commented on #192
Thanks @loganbraywork - confirmed this is happening on published version.

I would say it is up to @ariel-phet if a fix should be applied to energy-skate-park-basics 1.4 and a maintenance release deployed. https://github.com/phetsims/energy-skate-park/commit/c77ee6310e933d34130894a922602888ea58a12e (or something similar) could be done on the 1.4 branch of  energy-skate-park-basics.

[2020-02-17 16:48] KatieWoe opened #197 "CT various"
[code]

[2020-02-17 18:52] ariel-phet commented on #192
@jessegreenberg - I think considering that lots has been refactored, the plan was to fully redeploy ESPB off master after ESP has been published. So I think full deployment is more appropriate than a maintenance release -- especially considering that such a bug has not been user reported.

[2020-02-18 16:40] jessegreenberg commented on #197
I tried looking into this, but I am afraid I don't know enough about PhET-iO to fix. The error appears without ?fuzz on startup of the state wrapper, and I am not sure why Track.dispose is being called on startup. @samreid @zepumph @chrisklus what should be done for this assertion?

[2020-02-18 16:41] jessegreenberg commented on #192
OK sounds good - since this has been fixed I will close and it will go out with energy-skate-park-basics republication off of master.

[2020-02-18 16:41] #192 closed

[2020-02-21 15:54] jessegreenberg opened #198 "Performance improvements for ChromeOS"
Frome https://github.com/phetsims/QA/issues/470, Performance of the Graphs screen on ChromeOS was reported as "fair" and it was requested that we look into performance improvements for that screen.

[2020-02-21 15:57] jessegreenberg commented on #198
I suspect that performance hit is coming from the graphs and griddle as a lot  of animation. To verify it would be helpful to see where time is spent on the device. @KatieWoe and I will meet today to investigate (either with screen share or setting up remote access).

[2020-02-21 16:38] jessegreenberg commented on #191
Another issue here seems to be precision. If the track has its lowestY at something like -1E-16, bumping above ground by that much will still produce a track with its lowestY at around -1E-16. Since thhis is still below zero,  the skater could hit ground in that case.

[2020-02-21 20:28] jessegreenberg commented on #198
I am not able to see where time is being spent on ChromeOS, im inspecting a build with `--minify.mangle=false`. @KatieWoe helped me set up remote access but the dev tools don't really show anything.

With the same build on my Windows 10 machine I can see the following however on Chrome:
![image](https://user-images.githubusercontent.com/6396244/75069236-c7279180-54be-11ea-8c32-d1838bdb779d.png)

W

[2020-02-21 20:35] jessegreenberg commented on #198
drawSkatterData is slow because we draw every single point with fill/stroke, rather than drawing them all at once. But that is necessary because different points could have different colors and opacity.

[2020-02-21 21:26] jessegreenberg commented on #198
In the above commit I removed the repaint when opacity of a data point changes. This is massively inefficient because it repaints the canvas when ever a single data point's opacity changes. Over slack I asked @KatieWoe to see if removing this improves things and she said that performance is

This code can be fully removed because of changes to point behavior in https://github.com/phetsims/energy-s

[2020-02-21 21:57] jessegreenberg commented on #198
The data point removal could probably be improved. Every time a point is removed the plot is redrawn. And the behavior currently is that we remove many points at once. So there are frames where we remove ~200 points at once, and therefore redraw the canvas 144 times in a single frame.

[2020-02-25 15:53] KatieWoe commented on #197
Noting that this is also in ESPB
[code]

[2020-02-25 16:15] jessegreenberg commented on #191
@lmulhall-phet the above commit should fix this, can you please confirm?

[2020-02-25 17:36] jessegreenberg opened #199 "SkaterSamples should clear when skater returns"
Noticed while working on #198, if skater leaves screen and doesn't change directions samples persist for too long
![image](https://user-images.githubusercontent.com/6396244/75272132-58527d00-57cb-11ea-9842-0215a9d5d1de.png)

I think samples should fade away when the skater returns with the green/red"Return Skater" buttons.

FYI @arouinfar, making this change, let me know if you can think of issues

[2020-02-25 21:43] jessegreenberg commented on #198
The above commits support https://github.com/phetsims/energy-skate-park/issues/198#issuecomment-589854379.

[2020-02-25 22:18] jessegreenberg commented on #198
@KatieWoe can you please check performance of the graphs screen in this version?
https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.8/phet/energy-skate-park_en_phet.html

[2020-02-25 22:21] jessegreenberg commented on #199
Ah, I see why it wasn't initially in graphs screen. When plotting time vs energy, we do not want to clear samples when the skater returns. So Ill make it so that samples clear only when plotting position vs energy

[2020-02-25 22:29] jessegreenberg commented on #199
Done in the above commit.

[2020-02-25 22:29] #199 closed

[2020-02-25 23:47] KatieWoe commented on #198
Seems to run faster but definitely has jumpy behavior where it slows down a fair amount.

[2020-02-27 04:23] jessegreenberg commented on #198
Upon further inspection, I found that the canvas for the graph is repainted with updateDisplay and `invalidatePaint()` signifies s that it must be repainted on the next `updateDisplay`.  And so I don't  expect any performance improvement from https://github.com/phetsims/energy-skate-park/issues/198#issuecomment-589854379. In fact, I am going to revert the above two commits because I don't expect t

[2020-02-27 04:29] jessegreenberg commented on #198
On RequireJS I caught this time spent
![image](https://user-images.githubusercontent.com/6396244/75412100-6d283100-58ef-11ea-95fe-f48c090286f1.png)

Can see much time spent in griddle, that is likely still the bottleneck.

For the same time I see some time in the model
![image](https://user-images.githubusercontent.com/6396244/75412227-d1e38b80-58ef-11ea-80c5-abf79e1bd919.png)

But half of that is

[2020-02-27 05:27] jessegreenberg commented on #198
So another way to improve performance could be to reduce the fadeaway effect. Comparing two builds, master vs a build with much faster fade out (with minify.mangle=false) :
Build off of master:
![image](https://user-images.githubusercontent.com/6396244/75414490-b3cd5980-58f6-11ea-8aa7-6c0412cffa53.png)

Fast fade:
![image](https://user-images.githubusercontent.com/6396244/75414750-9482fc00-58f7-11

[2020-02-27 05:41] jessegreenberg commented on #198
Done in the above commit.  On Windows Chrome with ?profiler, I could see a noticeable dip to ~40-50 fps when fading out many points.  After above commit this is gone.

[2020-02-27 15:26] jessegreenberg commented on #198
@KatieWoe could you please do another performance check on ChromeOS for this version?
https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.9/phet/energy-skate-park_en_phet.html

[2020-02-27 15:26] jessegreenberg commented on #198
@KatieWoe could you please do another performance check on ChromeOS for this version?
https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.9/phet/energy-skate-park_en_phet.html

[2020-02-27 15:48] jessegreenberg opened #200 "Memory testing"
The following heap snapshots were taken on 2/27/20 with ?fuzz at 1 minute intervals.
![image](https://user-images.githubusercontent.com/6396244/75459500-a2636c00-594d-11ea-8a6d-2a6d8b61ae49.png)

There is a slight increase overall, but it stabilizes around snapshot 7. It is slow enough that it could be in the noise or in typical behavior of a sim with ?fuzz.  This is sufficient to say there is no

[2020-02-27 15:48] #200 closed

[2020-02-27 15:50] jessegreenberg opened #201 "Simulation Credits"
To be filled in just prior to publication, but creating issue as required before code review.

[2020-02-27 16:34] jessegreenberg opened #202 "Code Review"
@ariel-phet @samreid Energy Skate Park  is ready for a code review. To assist in review, I wanted to list out the new features and changes which resulted in the largest changes to code. Other than these, the code remained mostly the same from energy-skate-park-basics.

**New Features and Important Changes**
  - Moving energy-skate-park-basics code to energy-skate-park (#6 )
  - Model and view type

[2020-02-27 16:35] jessegreenberg commented on #202
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️
* Mark items that are not applicable with "N/A"

## GitHub Issues

The following standard GitHub issues should exist. If any of these issues is missing, or have not been completed, pause code review until the issues have been created and addressed by the responsible dev.

GitHub issues should e

[2020-02-27 19:01] KatieWoe commented on #198
Better. Still there, but less obvious. I'm using a different device right now, so I may need to look at the other one later to confirm for sure.

[2020-02-27 19:59] samreid commented on #202
I pushed a reference version before the review: https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.10/phet/energy-skate-park_en_phet.html

[2020-02-27 20:22] samreid opened #203 "Update author annotations"
From https://github.com/phetsims/energy-skate-park/issues/202, it would be nice to add `@author` annotations as appropriate.

[2020-02-27 20:23] samreid commented on #203
To be more specific, there are many files with probably should add `@author Jesse Greenberg (PhET Interactive Simulations)`

[2020-02-28 13:52] samreid opened #204 "Some JSDoc need @public/@private visibility annotation"
I started marking some with // REVIEW comments, but it seems liked this warranted a separate issue.  From #202

[2020-02-28 16:17] samreid opened #205 "GridNode should be common code"
Discovered during #202, Energy Skate Park has a GridNode.  We now have nearly 9 simulations with types named `GridNode` or similar.  Should this be factored out into common code?  I can see that Energy Skate Park has special customizations of the GridNode, but perhaps those could be options or decorations instead of a whole new reimplementation.

[2020-02-28 16:18] samreid opened #206 "Performance problems when "Grid" is enabled"
On MacOS Catalina 10.15.3 (19D76) running Chrome Version 80.0.3987.122, performance is very smooth until the Grid is enabled.  When the grid is enabled, performance becomes stuttery/juddered/janky.  Is this a known problem?  Can it be improved?

[2020-02-28 16:24] samreid opened #207 "Grid lines don't drag based on deltas"
Noticed during #202, the grid lines don't drag based on deltas.  This means, for example, if you click on the top edge, then drag down, the lines jump up:

![Kapture 2020-02-28 at 9 23 13](https://user-images.githubusercontent.com/679486/75565881-05b3d380-5a0c-11ea-8776-cb86e1359310.gif)

(Note that one of the three stutters in this GIF is actually the GIF restarting though).

[2020-02-28 17:07] KatieWoe commented on #198
On the original chromebook it looks about the same.

[2020-02-28 18:11] jessegreenberg commented on #207
Thanks! Fixed in above commit. I also factored in the start offset so it doesn't jump if dragging starts above or below the line (like along the arrow). Back to @samreid.

[2020-02-28 18:11] jessegreenberg commented on #206
Thanks, not a known problem. Ill take a look.

[2020-02-28 18:15] samreid commented on #207
Works great, thanks!  But I'm surprised DragListener can't do some of that arithmetic.  Can some of that work be offloaded to DragListener options?

[2020-02-28 18:34] jessegreenberg commented on #207
I originally went with a custom drag function because we want the DragListener to control the NumberProperty `referenceHeightProperty`, which is not a Vector2Property for DragListener's `positionProperty` option.

But the above commit is an alternative that uses more of DragListener , back to @samreid to review.

[2020-02-28 18:37] jessegreenberg commented on #206
I see that the grid uses a `clipArea`, that has often been a source of performance burden for me. Ill see if removing that improves things.

[2020-02-28 18:49] jessegreenberg commented on #205
That sounds great, I started https://github.com/phetsims/scenery-phet/issues/580 for this.

[2020-03-01 17:03] samreid opened #208 "Memory footprint is higher than normal"
While reviewing https://github.com/phetsims/energy-skate-park/issues/202, I noticed that the sim memory footprint on startup is around 155MB (on Mac Chrome).  Compare this to a few other sims:

ESPB: 155MB
Energy Forms and Changes: 19MB
Number Line Integers: 24MB
States of Matter: 18MB

On the other hand, I noticed Gas Properties is up around 153MB--but maybe that should be investigated too?

[2020-03-02 16:07] samreid opened #209 "Should this simulation use phet-core/EventTimer?"
Discovered during https://github.com/phetsims/energy-skate-park/issues/202, I noticed that several simulations use EventTimer in order to provide smoother motion.  Should we use it in this simulation as well?

@jonathanolson can you comment on general heuristics to determine when EventTimer should be used in a simulation?

[2020-03-02 17:27] samreid opened #210 "Should model.md describe more parts of the model?"
Discovered during https://github.com/phetsims/energy-skate-park/issues/202.  It seems model.md only has the following equations:

Should we describe some or all of the following?

* The Tracks are modeled via cubic splines (this is mentioned in the implementation notes though)?
* The equation for motion F=ma, and the integration algorithm?
* How it is determined whether the skater "goes off a jump

[2020-03-02 17:29] samreid opened #211 "Several links in implementation-notes are broken"
While reviewing #202, I noticed that many links in the implementation-notes.md are broken.  For instance:

https://github.com/phetsims/energy-skate-park/blob/master/js/common/model/EnergySkatePark.js
https://github.com/phetsims/energy-skate-park/blob/master/js/common/model/Skater.js
https://github.com/phetsims/energy-skate-park/blob/master/js/common/model/Track.js

are all hyperlinked, but they ar

[2020-03-02 17:58] samreid opened #212 "GaugeNode.updateNeedle is called and taking up CPU even when the GaugeNode is not displayed"
Discovered during #202, I noticed this code in the profile running even when the GaugeNode was not selected:

![image](https://user-images.githubusercontent.com/679486/75703388-9ab90580-5c74-11ea-930c-405de181921d.png)

I wonder if we can avoid that cost when the GaugeNode is not displayed?  A reminder to additionally call updateNeedle when it is shown so it is correct right away without waiting f

[2020-03-02 19:25] jonathanolson commented on #209
Generally if a simulation uses a fixed-time model step somewhere, it's best to use EventTimer to compensate for varying frames.

[2020-03-03 17:40] samreid opened #213 "Performance is sluggish on the Measure screen and Graphs screen."
From #202: Performance is sluggish on the Measure screen and Graphs screen.  Slow/juddery/stuttery much like https://github.com/phetsims/energy-skate-park/issues/206

[2020-03-03 17:50] samreid opened #214 "Should checkbox icons be clickable?"
Discovered in the "usability" section of #202.  I noticed that some PhET simulations allow you to click on the icon next to checkbox text, such as Gas Properties:

![image](https://user-images.githubusercontent.com/679486/75804037-a66fff00-5d3c-11ea-9644-e5b84b7d9306.png)

However, in Energy Skate Park, clicking on the icons next to checkbox text does nothing:

![image](https://user-images.githubu

[2020-03-03 17:53] samreid opened #215 "The pointer area shows incorrectly for the meter node"
From #202, it looks like this:

![image](https://user-images.githubusercontent.com/679486/75804444-2f873600-5d3d-11ea-980e-7317b4a7bf9c.png)

Is there an issue for that?

[2020-03-03 18:12] samreid opened #216 "Why is the mouse cursor a "right arrow" when I can drag the chart slider to the left?"
From #202 in the "Usability" section.  Why is the mouse cursor a "right arrow" when I can drag the chart slider to the left?

![image](https://user-images.githubusercontent.com/679486/75805845-cfde5a00-5d3f-11ea-88e6-72330b338379.png)

[2020-03-03 18:15] samreid opened #217 "Why do the scissors sometimes point toward the control point and sometimes point away?"
From #202 in the Usability section.  Why do the scissors sometimes point toward the control point and sometimes point away?

![image](https://user-images.githubusercontent.com/679486/75805982-17fd7c80-5d40-11ea-82c6-665f5d0136d8.png)

![image](https://user-images.githubusercontent.com/679486/75806038-2f3c6a00-5d40-11ea-9da6-41d147f82295.png)

It would be nicer if the scissors always pointed toward

[2020-03-03 18:16] arouinfar commented on #216
@jessegreenberg let's use a double-headed arrow (like Neuron).

[2020-03-03 18:19] samreid opened #218 "Some pointer areas seem too small"
From #202.  For instance, the "clear thermal" button in the pie chart legend and bar chart, and the zoom in/out buttons in the bar chart.

![image](https://user-images.githubusercontent.com/679486/75806357-bab5fb00-5d40-11ea-9007-4faf49ec7844.png)

[2020-03-03 18:20] samreid opened #219 "Planet names not i18nized"
From #202, the planet names are not i18nized:

![image](https://user-images.githubusercontent.com/679486/75806495-fbae0f80-5d40-11ea-8ede-01717099fc2c.png)

[2020-03-03 18:24] samreid opened #220 "Make sure the string keys are all perfect, because they are difficult to change after 1.0.0 is published."
From #202
Make sure the string keys are all perfect, because they are difficult to change after 1.0.0 is published.

I'm seeing a lot of keys that have dots in them:

[code]

Perhaps this would be a good opportunity to exercise the new "structured strings" paradigm we introduced.

[2020-03-03 18:27] samreid opened #221 "Translated strings shouldn't contain mass values"
During #202 I saw this:

[code]

Putting mass values in the translated strings will make it difficult or impossible for us to change those values in the code.  The masses should be removed from the strings using `{{}}` pattern.

[2020-03-03 19:01] arouinfar commented on #215
See https://github.com/phetsims/scenery-phet/issues/488

[2020-03-03 19:02] arouinfar commented on #217
This exists in the latest version of ESPB, but was not present in the [1.0.0 ](https://phet-dev.colorado.edu/html/energy-skate-park-basics/1.0.0/energy-skate-park-basics_en.html) release. The preferred orientation would be for the scissor blades to point toward the control point:

![image](https://user-images.githubusercontent.com/8419308/75808287-15048b00-5d44-11ea-94cc-f6e4ae906b32.png)

[2020-03-03 19:44] samreid opened #222 "Extraneous "js/energy-skate-park" subdirectory"
From #202 the "Is the js/ directory properly structured?" section indicates directory structure like this:

[code]

However, energy skate park has an extra "energy-skate-park" directory above everything.

Will renaming this now make it difficult to track `// REVIEW` comments across versions?  If so, this change should be done "last".

[2020-03-03 19:47] samreid opened #223 "Is there a file in assets/ for every resource file in sound/ and images/?"
From #202, the code review checklist says:

There are lots of new skater images in the images directory, but no commits to assets/ since May 2018.

[2020-03-03 19:47] samreid commented on #202
Yes, but its usages look safe.  I'll leave it to QA team to test built version on IE.

Difficult to test due to another assertion failure.

I don't see a memory leak, but the footprint is relatively large, see #208

There are many `Property.link` without `unlink`, but I don't think this sim needs the unlinks because most of these cases are static.  How should that be documented?

[2020-03-03 19:53] samreid opened #224 "Is the LICENSE file correct? (Generally GPL v3 for sims)"
From #202: Is the LICENSE file correct? (Generally GPL v3 for sims)

ESP specifies MIT, but it looks like it should be GPLv3

[2020-03-03 19:56] samreid opened #225 "Clean up branches"
From #202

These branches are listed, they should probably be deleted before we publish 1.0?

1.0-deprecated
1.2-phetio
1.4-phetio
1.4-deprecated
1.3-phetio

[2020-03-03 20:29] samreid opened #226 "Get rid of all * @constructor annotations"
The `* @constructor` annotations are no longer necessary now that we have a `constructor` keyword in ES6.  From #202

[2020-03-03 20:34] samreid opened #227 "Use this + arrows instead of self"
From #202, it seems we should use `this` and arrow functions instead of `self`.

[2020-03-03 20:40] samreid opened #228 "Are Validator validation options (valueType, validValues, etc...) utilized?"
From #202,

It seems like this coverage could be better. For instance:

[code]

and
[code]

and
[code]

as well as more sites could all benefit from validation.

[2020-03-03 20:45] samreid commented on #226
CRC says:

[2020-03-03 20:56] samreid opened #229 "Is there any unnecessary coupling?"
From #202 I searched for "model, " and found occurrences that may be over-coupled, including:

* new Track(model)
* new ToolboxPanel(model,view)
* ControlPointUI(model)
* new EnergyBarGraphAccordionBox( model,
* new VisibilityControlsPanel( model,

[2020-03-03 20:58] samreid opened #230 "6 TODOs in the code"
Discovered during #202

[2020-03-03 21:30] samreid opened #231 "Too many separators"
Discovered in #202 ESPB has too many separators in the 1st screen:

![image](https://user-images.githubusercontent.com/679486/75821474-94518900-5d5b-11ea-8740-06b7d9c07a2b.png)

[2020-03-03 21:32] samreid commented on #222
Same problem in energy-skate-park-basics.

[2020-03-03 22:22] samreid commented on #202
Review complete.  Things are generally looking good, nice work!  Anything unchecked in the checklist above has one of the following:

* A comment in this issue
* A // REVIEW comment in the code, and a commit that references this issue
* An issue that references this issue.

In summary, I added 142 // REVIEW comments (note some of these are in the "basics" repo), and opened 28 issues.  I also made

[2020-03-05 04:25] samreid commented on #215
Thanks!  It makes sense to place this issue on hold pending a fix in the scenery-phet issue.

[2020-03-05 21:50] jessegreenberg commented on #188
We reviewed during meeting 3/5/20, and agreed that current behavior is OK. Limits on each screen are acceptable. Closing.

[2020-03-05 22:06] samreid opened #232 "Should modifyBarHeight be rolled into each Property?"
Discovered during #202, we saw that BarNode has an option `modifyBarHeight` and were wondering why this isn't a part of the `barEntry` Property--perhaps as a derived Property.  @jessegreenberg can you please take a look?

Also related to #160

[2020-03-05 22:06] jessegreenberg commented on #160
3/5/20 - We decided to reduce the threshold for when the kinetic and potential energies are fully hidden to make it more difficult to encounter cases like the ones pointed out in this issue.

[2020-03-05 23:39] jessegreenberg commented on #160
Done in above commit, this can be closed again.

[2020-03-05 23:39] #160 closed

[2020-03-09 15:30] KatieWoe opened #233 "CT Mismatched index, possible start/end mismatch"
[code]

[2020-03-09 19:09] KatieWoe opened #234 "Launched sim won't leave home menu"
For ES6 testing.
When launching from studio, I was on the third screen. However, the launched sim is on the home screen. I was unable to navigate into the sim from the home screen.
![launchedsim](https://user-images.githubusercontent.com/41024075/76248540-25ff4180-6207-11ea-87db-c18c4a1679db.png)

[2020-03-09 19:24] KatieWoe commented on #234
In ESPB as well

[2020-03-09 19:51] chrisklus commented on #234
@samreid could you clarify why this is high priority? Is state currently expected to work in this sim? From the console errors I'm seeing, it seems to be crashing before `screenProperty`'s state has been set, which would explain why it's on the first screen instead of the third.

[2020-03-09 19:53] samreid commented on #234
Thanks for correcting me, I incorrectly hypothesized that this was a cross-sim issue.  Changing priority accordingly.

[2020-03-10 20:10] jessegreenberg commented on #203
I added myself as author to many files which were touched by me in energy-skate-park.

[2020-03-10 20:10] #203 closed

[2020-03-10 20:15] jessegreenberg commented on #209
And ESP does.
[code]

Ill take a look at using EventTimer.

[2020-03-11 19:54] jessegreenberg commented on #209
I used EventTimer in this sim and I think it is working well. The result is a different behavior on slower platforms. Rather than time slowing down, the sim looks choppier. I think this is better altogether, because it prevents the skater from looking like it slows down when there is a larger performance burden.

@samreid would you mind reviewing this change?

[2020-03-11 20:46] jessegreenberg opened #235 "Make overrides in SkaterState.update a required param"
From review comment made for #202, @samreid said

[code]

Upon inspection, all calls to `SkaterState.update`, including `new SkaterState` pass in overrides or just a reused empty object except one usage in the new GraphsModel.

[2020-03-11 20:55] jessegreenberg commented on #235
Done in https://github.com/phetsims/energy-skate-park/commit/e16271dc5c87db6a0bafb8bce83b85acadd2341f

[2020-03-11 20:55] #235 closed

[2020-03-11 20:56] jessegreenberg opened #236 "PlaybackSpeedControl can be deleted"
Noticed while working on review comments in #202, this was replaced by TimeControlNode

[2020-03-11 21:08] jessegreenberg commented on #236
Done

[2020-03-11 21:08] #236 closed

[2020-03-11 21:14] jessegreenberg opened #237 "Rename floatInterface function"
A review comment for the `floatInterface` function of energy-skate-park ScreenViews is

`layout` is already a function of the ScreenView supertype so we cannot use that.  "float" seems like a conventional choice to describe what this layout function is doing.

Alternatives could include `floatLayout`, `floatControls`, `layoutControls`? @samreid do you have a preference or other ideas?

[2020-03-11 21:34] jessegreenberg opened #238 "Move initialTracksOffsetVector to the view"
This seems large enough to warrant an issue to track changes, from #202.

[2020-03-11 21:34] jessegreenberg commented on #238
EnergySkateParkPlaygroundModel has this in options
[code]

[2020-03-11 21:38] jessegreenberg opened #239 "Change how tracks are added to the EnergySkateParkPlaygroundModel from the toolbox"
Related to #238, as this function is the usage of that field. From #202,
[code]

[2020-03-11 21:43] jessegreenberg commented on #239
The track toolbox is currently just a rectangle that contains a TrackNode for each modelled track in https://github.com/phetsims/energy-skate-park/issues/239#issue-579560068. We should create a new class called TrackToolboxPanel that is responsible for creating the icon, input listeners, creating the new Track, new TrackNodes, then forwarding the input to the new TrackNode.

[2020-03-11 22:17] arouinfar opened #240 "Pixel polishing"
@jessegreenberg here are the recommended pixel polishes. Where applicable, the changes would also affect ESPB.

- [x] Use consistent corder radii for all panels/accordion boxes/legends, let's try 8 px
- [x] Use 14 pt font for checkboxes
- [x] Size of checkboxes is generally too large and should match the text height
- [x] Left-align checkboxes with "Friction" in the main control panel.
- [x] Incre

[2020-03-11 22:24] arouinfar commented on #182
Thanks @jessegreenberg. Looks good in master.

[2020-03-11 22:24] #182 closed

[2020-03-11 22:31] arouinfar opened #241 "Rename "Lab" screen "Playground""
This was discussed some time ago at a design meeting, but it looks like it never made it onto GitHub. There are a few reasons to change the name to "Playground"

* Playground is the name used in ESPB
* Playground is a more fun/inviting name
* "Lab" is usually means that the screen includes all the features of previous screens (e.g. Lab screen in Pendulum Lab), which is not true for this sim.

[2020-03-11 22:59] arouinfar commented on #176
No, the Path checkbox is definitely not necessary on the Measure screen. I think it was a leftover feature of an earlier scaffolding/screen arrangement. I think we could get rid of it on Measure.

I do wonder if it would be helpful to include the Path checkbox on the Intro and/or Lab screens though, because it nicely shows how the speed changes throughout the track. I don't think it's absolutely n

[2020-03-11 23:02] arouinfar commented on #81
@jessegreenberg this is all looking great in master! I don't have any further changes to request.

Glad to hear it! That was the goal :smile:

[2020-03-11 23:04] arouinfar commented on #99
Thanks @JRomero0613. I'm seeing the correct axis labelling in master, so I think it must have been corrected.

Pixel polishing is being handled in #240, so I'm going to go ahead and close this issue.

[2020-03-11 23:04] #99 closed

[2020-03-12 00:38] jessegreenberg commented on #239
I would like for the icon to use TrackNode but currently the input listeners on the TrackNode make it so that the icon itself cannot forward a listener to a new TrackNode because the  Pointer becomes attached. Also, the TrackNode control points are only displayed if they are `draggable`, and therefore have listeners attached to them. I considered making a new icon Node that doesn't use TrackNode,

[2020-03-12 14:40] jessegreenberg commented on #239
I am running into https://github.com/phetsims/energy-skate-park-basics/issues/205 again because our pattern for forwarding creates the new object on press rather than on drag.

[2020-03-12 14:47] jessegreenberg commented on #239
Also related to phetsims/energy-skate-park-basics#282, current implementation of dragging has the Track model with a reference to the TrackDragHandler

[2020-03-13 02:50] mattpen opened #242 "Delete temp production deploy"
Per request from @kathy-phet, there was a temporary dev version deployed to the production location. This must be removed from phet-server before version 1.0 is deployed with the build server.

It can be removed by running the following on phet-server:

`rm -rf /data/web/static/phetsims/sims/html/energy-skate-park/`

Contact me if there are any questions.

[2020-03-14 20:00] samreid commented on #237
`ScreenView.layout` is called when the window resizes.  In the case of Energy Skate Park, `EnergySkateParkScreenView` extends `ScreenView` and overrides `ScreenView.layout` with its own implementation.  Would it work to put the body of `floatInterface` into the body of `EnergySkateParkScreenView.layout`?

Some other thoughts as a reference for when we discuss this further.  @jonathanolson and I di

[2020-03-14 20:03] samreid commented on #237
To elaborate more on the reason for recommending changes here: there are currently 2 channels for updating the layout.  `EnergySkateParkScreenView.layout` and `EnergySkateParkScreenView.floatInterface`.  The goal is to see if these can be combined and simplified.

[2020-03-14 20:13] samreid commented on #209
I reviewed the implementation and compared to the implementation in Projectile Motion and it seemed reasonable.  I also tested normal mode and with 6x throttle.  This issue is probably good to close but part of me think it would be wise to run it past @jonathanolson if he has time to take a quick look.

[2020-03-16 21:31] arouinfar commented on #101
@jessegreenberg I'm not entirely sure how the graph range and zoom levels are currently specified. Do the zoom level need to be equally spaced? Is is possible to specify the zoom ranges with an array, similar to https://github.com/phetsims/circuit-construction-kit-common/issues/536#issuecomment-577433716?

I think the most zoomed-out range would need to be [-25000 J, 25000 J] and the most zoomed-i

[2020-03-17 01:08] ariel-phet commented on #176
@arouinfar

1. I like the idea of having the probe color match, but I agree, the whole body matching is a bit much

2. I think having the path always on for that screen and getting rid of the checkbox is a good idea

3. As for having the path checkbox available on the intro or Lab screen is probably good to include @kathy-phet as a question. The lab screen could get difficult, as some pretty whack

[2020-03-18 23:58] arouinfar commented on #176
Thanks for the feedback @ariel-phet.

@kathy-phet can you take a look at this issue and let me know your thoughts?

[2020-03-19 15:34] arouinfar commented on #101
@jessegreenberg said:

Ah, definitely possible we can make the ranges whatever we want, they don't have to be evenly spaced.

Back to me to make recommendations on the zoom levels.

[2020-03-19 16:34] jessegreenberg commented on #238
The initialTracksOffsetVector option has been entirely removed after switching to the Creator pattern for tracks from the Toolbox. Closing this issue.

[2020-03-19 16:34] #238 closed

[2020-03-19 16:43] jessegreenberg commented on #239
This is done in the above commits. but was a fairly large change to ESP. @samreid can you please review the new TrackToolboxPanel and its usage of the Creator pattern?

[2020-03-19 17:30] jessegreenberg opened #243 "Review comment: BackgroundNode performance"
A review comment related to BackgroundNode layout was added
[code]
The original comment related to performance was carried from ESP:B. Perhaps this came after changing from a different implementation that may have been slower? @samreid do you recall? Alternatively, we could remove this comment.

[2020-03-20 14:47] KatieWoe opened #244 "CT Energy SkateParkQueryParameters is defined but never used no-unused-vars"
Impacts perennial and basics as well
[code]

[2020-03-20 16:42] jessegreenberg commented on #244
Thanks @KatieWoe, sorry this was fixed earlier today and should be resolved in future CT iterations.

[2020-03-20 16:42] #244 closed

[2020-03-20 20:46] jessegreenberg opened #245 "Use Enumeration for Skater direction"
From code review comment:
// REVIEW: Use Enumeration.byKeys for these values

referring to 'left' and 'right' for skater direction.  This includes the actual Property for direction as well,  which will become an EnumerationProperty.

Making an issue for this one since the change will be large enough.

[2020-03-20 21:13] jessegreenberg commented on #245
Done with the above commit. this was relatively straight forward so I don't feel it warrants further review.

[2020-03-20 21:13] #245 closed

[2020-03-26 13:17] jessegreenberg commented on #240
When I increased the font size of checkboxes I noticed that the grid/reference height panel becomes wide enough to occlude grid labels. @arouinfar what should we do?

![image](https://user-images.githubusercontent.com/6396244/77650945-72a28680-6f42-11ea-8f0e-ba7c28d5ae5f.png)

[2020-03-26 13:36] jessegreenberg opened #246 "Large skater image flashes when switching Screens"
Just noticed, when switching Screens a large skate image flashes for half a second then becomes invisible again. Its very large, takes up about half of the ScreenView. Seen in unbuilt version, haven't tested build yet.

[2020-03-26 13:37] jessegreenberg commented on #246
It is inconsistent, I am not always seeing it.

[2020-03-26 15:31] jessegreenberg commented on #214
Something similar to https://github.com/phetsims/energy-skate-park/issues/214#issuecomment-595505403 was done in the above commit.

[2020-03-26 15:41] jessegreenberg commented on #214
Hmm, some of the icons still aren't clikcable.

[2020-03-27 01:07] samreid commented on #243
I don't recall offhand.  Would it simplify it to hardcode the dimensions (rather than fit it each time) and run a performance check?

[2020-04-01 19:21] arouinfar opened #247 "Gravity on Jupiter is incorrect"
Observed in master and the prototype. When selecting Jupiter from the gravity ComboBox, the displayed value is 26.0 m/s^2. However, the value of gravity on Jupiter should be 24.8 m/s^2.

[2020-04-01 19:26] arouinfar opened #248 "Change background artwork when Moon or Jupiter selected"
In the Java version of the simulation, the background artwork changes if one of the gravity benchmarks are chosen.

Moon:
![image](https://user-images.githubusercontent.com/8419308/78177806-eac5ec00-741b-11ea-8ff4-ad2e80efac40.png)

Jupiter:
![image](https://user-images.githubusercontent.com/8419308/78177831-f7e2db00-741b-11ea-9fbe-d5f76430350e.png)

@ariel-phet and I discussed this previously, an

[2020-04-01 20:56] jessegreenberg commented on #217
I don't know why this stopped pointing to the control point, as this line and seemingly the code supporting it has been the same since the 1.0.0 release. But I don't think it is worth more time to investigate why behavior changed. The above commit fixes this.

[2020-04-01 20:56] #217 closed

[2020-04-01 21:23] jessegreenberg commented on #218
I increased the touch areas for these buttons. There isn't a ton of space for the zoom buttons, so I shifted horizontally to make them larger:
![image](https://user-images.githubusercontent.com/6396244/78187829-28873c80-743d-11ea-8150-aa4f7a4d8a42.png)

[2020-04-01 21:25] jessegreenberg commented on #218
I inspected other bottons in the sim looking for small touch areas and the other buttons are either larger anyway or already have dilated touch areas.

@arouinfar can you make sure these touch areas are sufficient?

[2020-04-01 21:32] jessegreenberg commented on #221
That is a really good point, thank you. Done in the above commit.

[2020-04-01 21:32] #221 closed

[2020-04-01 21:43] jessegreenberg commented on #219
Thank you, fixed in the above commit
![image](https://user-images.githubusercontent.com/6396244/78189559-3ee2c780-7440-11ea-8a13-2fe8778620e5.png)

[2020-04-01 21:43] #219 closed

[2020-04-01 21:52] jessegreenberg commented on #247
Interesting, thanks @arouinfar. Master is currently using the value that was used in the java sim (25.95 N/kg). Fixed in the above commit.

The range of allowable gravity is currently 1 - JUPITER_GRAVITY. So this reduced the gravity range just a little bit, is that OK?

Does the version available as the "prototype" need to be updated with this fix?

[2020-04-01 21:56] jessegreenberg commented on #246
I haven't seen this in a long time, closing but staying on guard.

[2020-04-01 22:09] jessegreenberg commented on #241
There is already an EnergySkateParkPlaygroundScreenView, which is extended by EnergySkateParkLabScreenView, so the rename will take a little thought. This list is for myself to think through steps.
- [ ] Rename the `lab` directory to `playground`, update relative paths used by modules
- [ ] Move EnergySkateParkPlaygroundScreenView from `common` to `playground` directory
- [ ] Delete LabScreenView,

[2020-04-01 22:40] arouinfar commented on #247
Oh wow, looks like Java was incorrect for all these years!

I don't think the calculation is currently working in master, because the max is now `JUPITER_GRAVITY`. Does the range need to reference `JUPITER_GRAVITY`? I think a max of 26.0 was fine.

![image](https://user-images.githubusercontent.com/8419308/78193141-0985ac00-7437-11ea-9afd-251041355c59.png)

[2020-04-01 22:41] arouinfar commented on #247
Once this issue is worked out, it might be nice to republish if master is in a good place.

[2020-04-02 03:36] jessegreenberg commented on #241
Done in the abvoe commits
![image](https://user-images.githubusercontent.com/6396244/78208160-acf3b280-7471-11ea-9317-a5341e46904f.png)

[2020-04-02 03:36] #241 closed

[2020-04-02 03:44] jessegreenberg commented on #247
OK sounds good. Lets publish a new version after #240 is done, unless it is important to fix this right away, @arouinfar let me know.

[2020-04-02 03:44] #247 closed

[2020-04-02 03:58] jessegreenberg commented on #237
OK that makes sense. In the above commits I move the work of floatInterface into layout so there is only one function that manages layouts for the screen views. Back to @samreid to review.

[2020-04-02 04:18] arouinfar commented on #240
Can we move the `0 m` marker to the lower right corner of the first grid square (just above ground level)? It looks like all the other height measurements are in the lower right corner, just above the line they are measuring.

<img width="90" alt="Screen Shot 2020-04-01 at 10 18 17 PM" src="https://user-images.githubusercontent.com/8419308/78210208-b75c7f00-7466-11ea-9c0d-e2ed657708d0.png">

[2020-04-02 04:43] jessegreenberg commented on #229
I reviewed the classes mentioned, some of them could be decoupled but most seemed best as they are.
- Track: Actually, several of the args to this constructor can be found on the model anyway. And three other model fields were used in this class. So I removed these args from the constructor.
- ToolboxPanel: The class uses 4 model fields and 3 view fields. Decoupling would result in a constructor w

[2020-04-02 15:06] jessegreenberg commented on #240
Good idea! Done.

[2020-04-02 15:29] jessegreenberg commented on #214
I think this is happening because icons text and icon AlignBoxes are created then immediately used for checkbox content before the rest of the boxes are created.  AlignGroup supports this by resizing, but Checkbox makes things pickable by adding a Rectangle around content on construction then making icons unpickable.

[2020-04-02 22:54] jessegreenberg commented on #214
https://github.com/phetsims/energy-skate-park/issues/214#issuecomment-607916921 is correct, and the above commit fixes this by creating all checkbox icons and labels in their alignboxes before creating checkboxes. It seems that checkboxes do not support icons with variable dimensions. This is working well now, closing,.

[2020-04-02 22:54] #214 closed

[2020-04-02 23:04] jessegreenberg commented on #216
Interesting, ESP uses the same cursor as neuron ("e-resize") and on my machine it looks like a double headed arrow:
![image](https://user-images.githubusercontent.com/6396244/78307803-ca2d8d00-7514-11ea-833d-e8bb08a332ea.png)

[2020-04-02 23:05] jessegreenberg commented on #216
I think what we want to be doing is "ew-resize" which indicates bidirectional resize.

[2020-04-02 23:07] jessegreenberg commented on #216
Change made to griddle's XYCursorPlot above, @arouinfar @samreid can you verify it looks better?

[2020-04-02 23:38] arouinfar commented on #218
@jessegreenberg the dilated touch areas look good to me.

[2020-04-02 23:38] #218 closed

[2020-04-02 23:39] arouinfar commented on #216
Looks good to me @jessegreenberg.

[2020-04-06 15:11] KatieWoe commented on #233
Possibly related?
[code]

[2020-04-06 15:49] jessegreenberg commented on #233
Thanks @KatieWoe, tandem names fixed in above commit. But I don't think it is related to the original "index" issue so leaving this open.

[2020-04-08 16:41] jessegreenberg commented on #240
This list of changes is done @arouinfar. Reassigning to you to review.

[2020-04-08 17:01] jessegreenberg commented on #231
Thanks! Fixed in the above commit so that the layout works for the controls used in basics.

![image](https://user-images.githubusercontent.com/6396244/78812222-12c3cb00-7999-11ea-84a0-d6b093dbefac.png)

[2020-04-08 17:01] #231 closed

[2020-04-08 17:20] jessegreenberg commented on #230
One of the TODOs has been addressed by other review issues. But the rest seem related to PhET-iO work and it seems unlikely that they should be addressed until we revisit this sim for instrumentation.

[2020-04-08 20:20] jessegreenberg commented on #228
I reviewed all Properties and added `valueType` to many and `validValues` to several. These were added to all Properties that did not use `phetioType` or a subtype of Property that included inherent validation.

[2020-04-08 20:20] #228 closed

[2020-04-08 20:24] jessegreenberg commented on #224
The MIT license is correct, sources of funding for this sim required that it be MIT license instead of GPL, see https://github.com/phetsims/energy-skate-park/issues/15.

[2020-04-08 20:24] #224 closed

[2020-04-08 21:17] jessegreenberg commented on #227
No more usages of `self`, thanks!

[2020-04-08 21:17] #227 closed

[2020-04-08 21:22] jessegreenberg commented on #226
Thanks, they have all been removed.

[2020-04-08 21:22] #226 closed

[2020-04-08 21:25] jessegreenberg commented on #211
I was going to update links, but realized that proceeding with https://github.com/phetsims/energy-skate-park/issues/222 would break them all again. Any similar move or rename would break all of these. So they are something else to maintain and I don't think they are all that helpful. I am going to remove the links and just give information about where to find more information in implementation-not

[2020-04-08 21:31] jessegreenberg commented on #211
Links referencing types in this sim have been removed.

[2020-04-08 21:31] #211 closed

[2020-04-08 21:32] jessegreenberg commented on #216
Thanks for checking @arouinfar. Since you were able to verify the cursor on a Mac I am going to go ahead and close.

[2020-04-08 21:32] #216 closed

[2020-04-08 21:46] jessegreenberg commented on #225
Looks like these branches came from energy-skate-park-basics when we mirrored the repository. Over slack @samreid said that the "deprecated" branches can be deleted.

[2020-04-08 21:50] jessegreenberg commented on #225
Furthermore, the phetio branches from energy-skate-park-basics may be used by partners, so those should remain in the basics repository. But all can be deleted from energy-skate-park.

[2020-04-08 21:54] jessegreenberg commented on #225
Branches have been pruned, and only master remains in energy-skate-park. phetio branches remain untouched in basics.

[2020-04-08 22:19] jessegreenberg commented on #208
I am seeing that energy-skate-park is a bit more memory heavy, but not by such a large margin.

Built
ESP: 43.1MB on startup
EFAC: 22MB on startup
states-of-matter: 19.3
gas-properties: 37 MB

Unbuilt:
ESP: 38 MB
EFAC: 20.5
states-of-matter: 18.6MB
gas-properties: 37.8MB

energy-skate-park and gas-properties have four screens, which could explain their larger size. Checking other 4 screen sims (al

[2020-04-09 14:30] jessegreenberg commented on #204
I used eslint to find all method documentation that was missing visibility annotations (https://github.com/phetsims/chipper/issues/932). They have been added in the above commit.

[2020-04-09 14:30] #204 closed

[2020-04-09 14:46] jessegreenberg commented on #212
The gauge in this sim is using the feature `enabledProperty` feature of GaugeNode
[code]

And I confirmed that when the gauge is not visible we are not doing any of the work in `updateNeedle`, so I think this can safely be closed.

[2020-04-09 15:26] jessegreenberg commented on #210
I tried to summarize each of these in model.md, @samreid could you take a look? The only one I didn't try to add was

I am not familiar with the "circualr motion approximation".

[2020-04-09 19:17] jessegreenberg opened #249 "Track options"
Tracks now have the following options
[code]

And @samreid asked

    // REVIEW: When in the sim is a Track splittable but not attachable?
    // REVIEW: Can any of these options be combined?

In the measure screen, Tracks are configurable but not splittable. EnergySkatePark doesn't have any tracks that are splittble but not attachable, but these felt like distinct model properties to keep track o

[2020-04-09 19:19] jessegreenberg commented on #249
I considered adding documentation to Track.js about how the UI changes depending on `attachable` and `splittable`, but that felt like the model having knowledge of the view in a way! So I am going to leave as is for now. Assigning back to @samreid to review.

[2020-04-09 19:20] jessegreenberg commented on #249
FOr #202

[2020-04-09 19:32] jessegreenberg opened #250 "Review comment: numDivisions in stepEuler"
Review comment involving this:
[code]

[2020-04-09 19:34] jessegreenberg commented on #250
At eeba7114c29720de6879135b7ac751901a4cf668, the number of divisions was 10, with code comment `//ORIGINAL ENERGY SKATE PARK BASICS HAD VALUE 10`

[2020-04-09 19:34] jessegreenberg commented on #250
At 449914875254484d62896750c885cc3027a1929e, the comment "Turning this value to 5 or less causes thermal energy to decrease on some time steps."

[2020-04-09 19:39] jessegreenberg commented on #250
Then 437dd1bc857fed5186ce7ff0a7add4489202e53d reduced the number to 4 with comment

[2020-04-09 19:40] jessegreenberg commented on #250
And 4 was kept but the original comment was not removed. So yes, it seems safe to remove this comment.

[2020-04-09 19:41] #250 closed

[2020-04-22 16:10] #243 closed

[2020-04-22 16:27] jessegreenberg commented on #233
I am seeing this in the state wrapper but I am not sure what needs to change. We will revisit this sim for PhET-iO after PhET brand is published, removing my assignment.

[2020-04-22 16:29] jessegreenberg commented on #205
https://github.com/phetsims/scenery-phet/issues/580 is done and is ready for review. energy-skate-park GridNode was renamed to EnergySkateParkGridNode and is now using scenery-phet/GridNode.

GridNode and its usage is reassigned for review in https://github.com/phetsims/scenery-phet/issues/580 so I feel like this can be closed.

[2020-04-22 16:29] #205 closed

[2020-04-22 17:09] jessegreenberg opened #251 ""Custom" is in combobox twice"
Just noticed, not sure if its always been like this or regressed:
![image](https://user-images.githubusercontent.com/6396244/80011850-6efb1480-849a-11ea-8ca1-ab88aeeaed97.png)

[2020-04-22 17:12] arouinfar commented on #251
@jessegreenberg I think the first "Custom" is probably supposed to be the Moon.

[2020-04-22 20:28] jessegreenberg commented on #220
The above commit uses nested string keys. I don't feel like every file touched needs to be reviewed, but reassigning to @samreid to review the structure, if you wish. Otherwise this can just be closed.

[2020-04-22 21:32] jessegreenberg commented on #232
`modifyBarHeight` was added to griddle for this case. It could potentially be removed to simplify the `barEntry`. Right now EnergyBarGraph works by modifying bar height if the height is less than some threshhold in *view coordinates*. By rolling into the Property, the modification would change to a *model coordinate* cut off.

We could change the behavior, with DerivedProperties like
[code]

Keep

[2020-04-22 21:33] jessegreenberg commented on #232
I think I am leaning toward the second option to remove `modifyBarHeight` from griddle.

[2020-04-22 22:10] jessegreenberg commented on #232
This was done, reassigning to @samreid to take a look. If this seems best, I will remove `modifyBarHeight` from griddle's BarNode.

[2020-04-22 22:17] jessegreenberg opened #252 "ReferenceHeightLine dragPositionProperty"
This section was flagged for review.

[code]

This was necessary because DragListener requires a Vector2Property, but the model uses a NumberProperty for the reference height. I am not sure yet how DynamicProperty would be better here.

[2020-04-22 22:31] jessegreenberg opened #253 "Change scene implementation in this sim?"
From #202 Review comment in EnergySkateParkTrackSetModel for updateActiveTrack:

It seems like this could work. But each "scene" is just one active track and so switching scenes updates the active track. We could create an abstraction for EnergySkateParkScene but I don't think it would bring much benefit.

Assigning to @samreid for further discussion.

[2020-04-22 22:49] jessegreenberg opened #254 "Default return value in EnergySkateParkModel.stepModel"
From #202 a review comment was added:

[code]

It seems reasonable to me that the default case would return an un-modified SkaterState, but it would be good for @samreid to confirm in case he still thinks is something that should be caught.

[2020-04-23 01:52] jessegreenberg opened #255 "Should the reference height change when track scene changes?"

[2020-04-23 01:52] jessegreenberg opened #256 "Should the reference height change when track scene changes?"
Just noticed that changing the premade track in the first three screnes resets the reference height. Is this as it should be?

[2020-04-23 01:54] jessegreenberg commented on #255
Weird duplicate.

[2020-04-23 01:54] #255 closed

[2020-04-23 03:01] jessegreenberg opened #257 "Review comment in joinTracks"
For #202 A review comment was added in EnergySkateParkModel.joinTracks
[code]

I don't see it yet, can you show how filter would clarify?

[2020-04-23 04:00] jessegreenberg opened #258 "Do paintCanvas functions need to save/restore the context?"
From a review comment in SkaterSampleCanvasNode

I was not aware of CanvasRenderingContext2D's `save` and `restore` feature, thanks! It isn't something I have ever used when I make CanvasNodes. But I do see many usages through the project.

[2020-04-23 04:02] jessegreenberg commented on #258
CanvasNodeDrawable has
[code]

And so the context is restored to default state after painting.

[2020-04-23 04:06] jessegreenberg commented on #258
I learned some things in https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/restore and https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/save. But since the snippet above wraps the `paintCanvas` with `save` and `restore` pair I feel OK closing this without changes in ESP.

From #202

[2020-04-23 04:06] #258 closed

[2020-04-23 05:21] arouinfar commented on #256
Good catch @jessegreenberg. It seems a bit odd to me, actually. I think it would make more sense for the reference height to stay in place. What do you think?

[2020-04-23 05:29] jessegreenberg opened #259 "SkaterState overrides"
Two review comments were added related to SkaterState and the way things can be set by using optional overrides

In `updateThermalEnergy`

And for `getValue`, which is used to implement SkaterState overrides.

And I am not sure for either!  SkaterStates are almost never constructed with overrides. The only place is in two usages of `SkaterState.update`

[code]
but then other places `updateThermalE

[2020-04-23 05:34] jessegreenberg commented on #259
This review comment:

Presumably also applies to all of the `update*` functions. @samreid I am curious if you have thoughts about this. I am tempted to remove overrides from SkaterState. Does this make sense to you? Is it worth the effort?

[2020-04-23 05:38] jessegreenberg commented on #251
Ah thanks! You are correct,

[2020-04-23 05:40] jessegreenberg commented on #251
Fixed above.

[2020-04-23 05:40] #251 closed

[2020-04-23 05:42] jessegreenberg commented on #256
OK thanks @arouinfar that makes sense to me.

[2020-04-23 05:43] arouinfar opened #260 "Measure tool data visible after path dot disappears"
Procedure
1. Release skater on the track
2. Place probe over one of the path dots
3. After the dot disappears, the data is still visible.

![image](https://user-images.githubusercontent.com/8419308/80063231-b4e3c700-84f2-11ea-8237-996e8c69b2e3.png)

@jessegreenberg I think the data should clear once the dot's opacity reaches zero.

[2020-04-23 05:44] jessegreenberg commented on #256
Changed in the above commit.

[2020-04-23 05:44] #256 closed

[2020-04-23 05:47] arouinfar opened #261 "Add "Stick to Track" checkbox to Intro screen"
Currently, the Intro screen is the only screen without the "Stick to Track" checkbox. However, this feature would be appropriate to have on all screens. Can you add it @jessegreenberg?

[2020-04-23 05:48] arouinfar commented on #176
Kathy and I discussed this some, and we thought it would be nice to add the Path feature to Intro and Playground. Tagging for further discussion at tomorrow's design meeting.

[2020-04-23 05:50] jessegreenberg commented on #260
Thanks for pointing out @arouinfar, that makes sense. Should be fixed in the above commit, can you please verify?

[2020-04-23 05:53] arouinfar commented on #260
Looks good in master, thanks @jessegreenberg!

[2020-04-23 05:53] #260 closed

[2020-04-23 06:12] arouinfar commented on #240
Thanks @jessegreenberg! The sim is definitely looking cleaner, but I found a few more pixels to polish.

- [ ] Increase font size of `Height = 0` label on the reference line to 14 pt.
- [ ] The graphic return skater buttons still have the old skater artwork on them. Can you use Skater 1 instead?
- [ ] The background of the Energy bar graph AccordionBox and the pie chart legend should be white. (Pl

[2020-04-23 06:28] arouinfar opened #262 "Refinements to Energy Graph AccordionBox"
The Energy vs. Position/Time AccordionBox currently looks like this:
![image](https://user-images.githubusercontent.com/8419308/80066009-5f121d80-84f8-11ea-861b-1bc1009e6fe0.png)

I have some concerns with the current legend/energy type checkboxes.
1. The color contrast between the text and gray background is poor. Should we use black text and a color swatch instead?
2. There isn't a lot of real e

[2020-04-23 06:40] arouinfar commented on #195
Some rough ideas for discussion in design meeting

Intro: Skater on double well track with energy pie chart on
![image](https://user-images.githubusercontent.com/8419308/80066672-9a611c00-84f9-11ea-88f5-234caa2f09ed.png)

Measure: Skater on parabola track, path dots on, probe on dot. Data would be hidden, and the probe could be cartoonishly big.
![image](https://user-images.githubusercontent.com/8

[2020-04-23 06:47] arouinfar opened #263 "Add skater with adjustable mass to Intro screen?"
Kathy suggested adding a Custom skater with adjustable mass to the Intro screen. This would add quite a bit of flexibility, and may be desirable functionality for PhET-iO clients.

When selecting "Custom", a NumberControl with a range of 1-100 kg would appear below the Skater ComboBox. We may need an additional piece of skater artwork for the Custom option, or we could consider using the default S

[2020-04-23 15:46] jessegreenberg commented on #261
This was added @arouinfar.

[2020-04-23 15:53] jessegreenberg commented on #263
My question for this is what would happen to control panel layout when the the NumberControl appears?

Would the panel grow and the measuring tape/timer toolbox panel shift down?

Instead, could we have the NumberControl always visible and have its enabled state toggle?

Or could we use the mass control on the Playground screen for all screens?
![image](https://user-images.githubusercontent.com/63

[2020-04-23 16:21] arouinfar commented on #261
Looks good, thanks!

[2020-04-23 16:21] #261 closed

[2020-04-23 20:53] arouinfar commented on #262
4/23/20 design meeting notes:

* Use "Kinetic" and "Potential" like we do in the bar graph and pie chart legend. This would eliminate the need for an Energy dialog.
* Expand AccordionBox so it is left-aligned with the Grid/RefHeight panel so string have more room for i18n.
* Vertically align color dots.
* Reduce zoom button size by 10% (but maintain the same touch areas).
![image](https://user-ima

[2020-04-23 21:00] arouinfar commented on #262
Energy Graph AccordionBox pixel polishes (moved from #240).

- [ ] Increase size of AccordionBox by expanding it to the left (grid position should not change) so it is left-aligned with Grid/Reference Height panel below.
- [ ] Increase the left-padding of ExpandCollapseButton to match its top-padding. (Shift it to the right 1-2 px)
- [ ] Left-align energy type checkboxes with ExpandCollapseButton.

[2020-04-23 21:06] arouinfar opened #264 "Gravity NumberControl tweaker increment should be 0.1 m/s^2"
Noticed during the 4/23/20 design meeting.

The tweakers should increment/decrement the value in steps of 0.1 m/s^2. Currently, the tweaker step size matches the constrainValue increment which snaps the thumb in 1 m/s^2 steps which prevents users from setting precise g values.

[2020-04-23 21:08] arouinfar commented on #195
Feedback in 4/23/20 design meeting
* Try showing just the graph for the Graphs icon
* Might want to zoom in more on Playground icon

[2020-04-23 21:10] arouinfar opened #265 "Updates to Mass NumberControl"
Discussed in 4/23/20 design meeting

- [x] Change minimum to 5 kg
- [x] Use `constrainValue` to snap thumb in 5 kg increments.
- [x] Tweaker increment should be 1 kg.

[2020-04-23 21:46] arouinfar commented on #176
4/23/20 design meeting notes

* Remove Path checkbox from Measure
* Add Path checkbox to Intro screen between Speed and Stick to Track.
* Don't add Path to the Playground screen. The tracks are more complex, and the goals are served by the static tracks on Intro. We may reconsider if it becomes a common user request.
* Try making the tool body a darker version of `EnergySkateParkColorScheme.pathFi

[2020-04-24 15:00] KatieWoe opened #266 "CT All non-dynamic schema entries must be registered"
[code]

[2020-04-24 17:47] jessegreenberg commented on #266
Sorry, my fault. Baslines have been updated.

[2020-04-24 17:47] #266 closed

[2020-04-25 14:17] samreid opened #267 "SkaterState pooling"
SkaterState says:

and also:

[code]

Which is correct?

[2020-04-25 14:21] samreid commented on #259
Yes, SkaterState constructor and usages should be cleaned up.  These should just say `new SkaterState()` without having to pass `EMPTY_OBJECT`.

![image](https://user-images.githubusercontent.com/679486/80282220-7bb37e80-86cd-11ea-922a-9ac5a8c91cd0.png)

And the places you identified about the thermal energy should use a simpler approach.

[2020-04-25 14:26] samreid commented on #257
Perhaps something like this? (untested)

[code]

[2020-04-25 15:44] samreid commented on #254
It does seem impossible to reach that condition, and we could perhaps combine the parts that check for track existence.  How about something like:

[code]

[2020-04-25 15:47] samreid commented on #254
Note I forgot some `;` above.

[2020-04-25 16:10] samreid commented on #253
Yes, it seems the design is just to change the track.  Other sims might keep track of the skater position as part of the scene, but it looks like that is not part of the design here.  So perhaps this is best to leave as it is.  But perhaps rename `scene` to `sceneIndex`?

[2020-04-25 16:11] samreid commented on #252
@jonathanolson is best suited to recommend how to proceed here.  @jonathanolson can you please take a look?

[2020-04-25 16:16] samreid commented on #249
I recommend adding the documentation from https://github.com/phetsims/energy-skate-park/issues/249#issue-597497741 to Track.js.  It's helpful to know how a feature can be used, which screens it is used in, etc. even if it breaks the model/view barrier.  For example, see this model code in gas properties which describes how the data is used downstream in the view:

https://github.com/phetsims/gas-p

[2020-04-25 16:27] samreid commented on #239
The changes look really nice and match what is done in a number of other sims.  One potential change would be to make it so the forwarding listener communicates to the `trackNode` via the model, say, through emitters.  @jonathanolson and I used this pattern in https://github.com/phetsims/circuit-construction-kit-common/blob/22ac3ed217eefd1132383bbf9249364fb243de03/js/view/CircuitElementToolNode.js

[2020-04-25 16:28] samreid commented on #237
Excellent, thanks!  Closing.

[2020-04-25 16:28] #237 closed

[2020-04-25 16:30] samreid commented on #234
Unassigning until we turn our attention to phet-io for this sim.

[2020-04-25 16:34] samreid commented on #232
This looks like the right way to accomplish it for now.  In the future if lots of several sims use this functionality, then we may come up with a nice way to do this across sims (perhaps through a common code DerivedProperty derivation or an API on griddle).  But for now this seems great.  Back to @jessegreenberg for discussion and/or to remove `modifyBarHeight` from griddle.

[2020-04-25 16:35] samreid commented on #230
Unassigning until we turn our attention to PhET-iO for this sim.

[2020-04-25 16:35] samreid commented on #123
Unassigning until we turn our attention to PhET-iO for this sim.

[2020-04-25 16:35] samreid commented on #197
Unassigning until we turn our attention to PhET-iO for this sim.

[2020-04-25 16:37] samreid commented on #229
That makes perfect sense to me, thanks!  The commits look good, closing.

[2020-04-25 16:37] #229 closed

[2020-04-25 17:00] samreid commented on #220
I skimmed the strings file and the new structure looks great, thanks!  Closing.

[2020-04-25 17:00] #220 closed

[2020-04-25 17:03] samreid commented on #212
Thanks, I also confirmed that `updateNeedle` is not being called when that checkbox is deselected.  Not sure what I saw before, sorry for the false alarm.  Closing.

[2020-04-25 17:03] #212 closed

[2020-04-25 17:08] samreid commented on #210
For the circular motion approximation, we treat the part of the track as if it is a circle (where we compute the radius of curvature based on local estimation), then we use a=v^2/r like in http://farside.ph.utexas.edu/teaching/301/lectures/node91.html

Other changes look great, thanks!

[2020-04-25 17:08] samreid commented on #208
That seems reasonable, thanks for checking on this.  Closing.

[2020-04-25 17:08] #208 closed

[2020-04-25 17:10] samreid commented on #207
The changes look great, thanks!  I think part of this is out to @jonathanolson for discussion in https://github.com/phetsims/energy-skate-park/issues/252, but this one can be closed.

[2020-04-25 17:10] #207 closed

[2020-04-25 17:11] samreid commented on #68
Unassigning until we turn our attention to phet-io for this sim.

[2020-04-27 16:09] jessegreenberg commented on #265
Thanks @arouinfar, this is done. Can you please review?

[2020-04-27 16:14] jessegreenberg commented on #267
Hmm, there are other references to pooling in comments too. That issue is https://github.com/phetsims/energy-skate-park-basics/issues/50, and it looks like pooling was added but has since been removed?

[2020-04-27 16:17] jessegreenberg commented on #267
According to phetsims/energy-skate-park-basics@ca6a554 pooling was removed in phetsims/energy-skate-park-basics#252

[2020-04-27 16:19] jessegreenberg commented on #267
The stubs were added to short-circuit pooling to test and see if performance / GC impacts were actually reduced with pooling.  In https://github.com/phetsims/energy-skate-park-basics/issues/252 it was determined that pooling did not improve performance and so it was removed.

I will remove stubs and documentation referencing pooling.

[2020-04-27 16:23] jessegreenberg commented on #267
I removed old documentation about pooling, but added some content referencing this issue and https://github.com/phetsims/energy-skate-park-basics/issues/252 showing that pooling was used but determined to be ineffective.

[2020-04-27 16:23] #267 closed

[2020-04-27 16:45] jessegreenberg commented on #265
NOt quite ready, over slack we discussed that the mass slider (in ESPB) should snap to 5kg as well.

[2020-04-27 16:48] jessegreenberg commented on #265
OK, ready again.

[2020-04-27 16:52] jessegreenberg commented on #264
This is done, over to @arouinfar to verify or just close

[2020-04-27 16:55] jessegreenberg commented on #263
This was discussed in design meeting we are going to make some changes. @arouinfar is going to produce some new mock ups and update this issue.

[2020-04-27 16:56] arouinfar commented on #263
4/23/20 design meeting notes

* Add Mass NumberControl to Intro screen (separated from Gravity by horizontal line)
* Below that, add "Skater" section with RadioButtonGroup of skater headshots.
* Intro and Playground screens will have the same design.

This will take some mockups, so self-assigning.

[2020-04-27 17:30] jessegreenberg commented on #262
@arouinfar another thing related to the accordion box...Do you think the title bar should be clickable? This sim puts controls in the title bar and so if you click near a control but not quite on it, the box will collapse. I have found this to be a little annoying sometimes.

[2020-04-27 17:35] jessegreenberg commented on #262
Here is an example, clicking to the left of the ABSwitch toggle, but to the right of the label closes the box.
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/6396244/80402402-dd214c00-888b-11ea-8556-99d171c2bfd5.gif)

[2020-04-27 18:39] arouinfar commented on #262
I've also had similar frustrations with accidentally closing the AccordionBox. Does AccordionBox have an option to make the title bar unpickable? I know there has been some back and forth on this in https://github.com/phetsims/sun/issues/477 and https://github.com/phetsims/sun/issues/502. Given the presence of other UI elements in the title bar, I think it's appropriate for the title bar to be unp

[2020-04-27 18:42] arouinfar commented on #265
👍

[2020-04-27 18:42] #265 closed

[2020-04-27 18:42] arouinfar commented on #264
👍

[2020-04-27 18:42] #264 closed

[2020-04-27 19:09] jessegreenberg commented on #262
It does, done in the above commit.

You are right! I am seeing this for all ABSwitches in the project, taking to sun.

[2020-04-27 20:58] jessegreenberg commented on #262
https://github.com/phetsims/energy-skate-park/issues/262#issuecomment-620161307 should both be fixed.

[2020-04-27 22:59] arouinfar commented on #195
Based on our discussion during design meeting, I've cleaned up the icons. @ariel-phet can you take a look and let me know your thoughts?

| Screen | Icon |
| --- | --- |
| Intro | ![screen-icons_intro](https://user-images.githubusercontent.com/8419308/80428391-f257a400-88a6-11ea-913e-6d2858a0a56f.png) |
| Measure | ![screen-icons_measure](https://user-images.githubusercontent.com/8419308/80428396-

[2020-04-27 23:33] arouinfar commented on #263
I've mocked up the updated Skater controls. The skater headshot radio buttons are 30x30 px. We can fit 5 in a single row, though I don't think there's enough padding for this to be feasible on touch. If we move the radio buttons onto two rows, there'll be enough for all six skater options. We'll need to do a little bit of pixel polishing to buy the necessary vertical space, but I think it's doable

[2020-04-28 00:00] arouinfar commented on #176
In design meeting, we decided to explore using a darker shade of the `pathFill` for the tool body. If we go two shades darker, the contrast ratio of the white text against the tool body color is ~7:1.  I've mocked up a few variations.

(1) Probe matches path fill, body 2 shades darker.
![image](https://user-images.githubusercontent.com/8419308/80431430-ac064300-88ae-11ea-973a-cdbef85b3d4b.png)
![E

[2020-04-28 00:05] kathy-phet commented on #176
I like 3.

[2020-04-28 00:27] jessegreenberg commented on #262
This was done naturally with the addition of the energy circles. But it will be tricky to align with the grid/reference height panel because that panel floats with wider screens. At default dev bounds the two are now reasonably aligned.

@arouinfar that completes the list in https://github.com/phetsims/energy-skate-park/issues/262#issuecomment-618667971, can you please review how the graph accordi

[2020-04-28 00:36] arouinfar commented on #262
@jessegreenberg it's looking really good in master! Just one last polish request -- can you reduce the size of the erase button by 10%? It's looking just a bit too crowded and could use some more padding. The touch area size can remain as it is now.

![image](https://user-images.githubusercontent.com/8419308/80434033-e7584000-88b5-11ea-8f8c-80978c03f1d8.png)

[2020-04-28 02:18] ariel-phet commented on #195
@arouinfar those all look the correct direction to me. My only concern is on the navbar, so you might want to see how they look at that size, but looking at ESPB, it seems like these all should work.

[2020-04-28 02:21] ariel-phet commented on #263
@arouinfar I think I would just remove the word "Skater" and buy yourself some room. I think the radio button group is kind of self evident in what you are doing, and labeling it has no pedagogical value. Then I think the two rows of 3 would work well and not be too crowded

[2020-04-28 03:13] jessegreenberg commented on #262
Sure, it was reduced 10%. How is that?

[2020-04-28 03:40] jessegreenberg commented on #259
OK thanks. In the above commit overrides have been removed from SkaterState.

[2020-04-28 03:40] jessegreenberg commented on #259
The sim has been fuzzing successfully for a while, and I have been playing with the sim as well and behavior is looking correct. Closing htis issue.

[2020-04-28 03:40] #259 closed

[2020-04-28 03:48] jessegreenberg commented on #257
Ah yes, _.find makes a lot of sense. Thanks! Done in the above commit, sim behavior looks correct and has been fuzzing for a while locally. Closing.

[2020-04-28 03:48] #257 closed

[2020-04-28 03:49] jessegreenberg commented on #254
OK sounds good, thanks - Ill go with the abvove.

[2020-04-28 03:58] jessegreenberg commented on #254
Done in the above commit. Sim is fuzzing and behavior looks correct locally. Closing.

[2020-04-28 03:58] #254 closed

[2020-04-28 17:05] ariel-phet commented on #176
3 works for me!

[2020-04-28 17:38] arouinfar commented on #176
Thanks @kathy-phet @ariel-phet!

@jessegreenberg here are the todos:

- [ ] Change color of body and ProbeNode to `rgb( 103, 80, 113 )`
- [ ] Remove Path checkbox from Measure screen.
- [ ] Add Path checkbox to Intro screen, between Speed and Stick to Track.

[2020-04-28 17:39] arouinfar commented on #195
Thanks for your feedback @ariel-phet! I had similar concerns about navbar readability, but these seem on par with the ESPB icons.

I cleaned up the icons a bit, and updated the color of the ProbeNode based on the decision made in #176.  @jessegreenberg here are the assets for the screen icons:
[screen-icons.zip](https://github.com/phetsims/energy-skate-park/files/4547476/screen-icons.zip)

[2020-04-28 17:40] arouinfar commented on #262
Looks great, thanks!

[2020-04-28 17:40] #262 closed

[2020-04-28 18:06] arouinfar commented on #263
Great idea, @ariel-phet! If we remove "Skater" I think we'll have room for 35x35 px skater radio buttons. The toolbox height and inter-checkbox padding can remain untouched.

![image](https://user-images.githubusercontent.com/8419308/80512060-33e55f00-893a-11ea-859b-9d0b0683e7c9.png)

I've cleaned up the skater headshots a bit. Here are the assets @jessegreenberg:
[skaters.zip](https://github.com/

[2020-04-28 18:30] arouinfar commented on #101
The most zoomed-in range no longer needs to go all they way down to [-5 J, 5 J] due to the changes in #265.

@jessegreenberg let's try these zoom levels.

[code]

[2020-04-28 20:12] jessegreenberg commented on #263
@arouinfar @ariel-phet unfortunately this "grid" layout for buttons is not supported by RadioButtonGroup. See https://github.com/phetsims/sun/issues/513. vector-addition is using a custom solution to support this layout. If we want this layout in energy-skate-park it will take extra work and we will need to either
- Get to the bottom of https://github.com/phetsims/sun/issues/513, making general ch

[2020-04-28 21:21] arouinfar commented on #263
Long term, I think we should absolutely address https://github.com/phetsims/sun/issues/513. Since this is the 2nd sim to need a grid layout, it seems like the appropriate time to generalize. However, I can't make that call. It's up to @ariel-phet to decide the next steps.

[2020-04-29 02:01] ariel-phet commented on #263
@jessegreenberg just floating an idea...

It seems fixing up RadioButtonGroup would be a good project (perhaps post sim), it also seems that having an eye towards fixing it with a nice keyboard navigation strategy in mind and such would also be good.

If you were the one doing the RadioButtonGroup work, perhaps we could do the quick solution first, get ESP out the door, and this work would be your

[2020-04-30 00:13] jessegreenberg commented on #263
@ariel-phet that sounds resonable to me and I would be happy to take that on after energy-skate-park is republished.

[2020-04-30 15:13] jessegreenberg commented on #263
This was done, the radio button group was added in the above commits. It looks great in the playground screen. On the intro screen, the panel doesn't have enough room because it also has the track radio buttons. @arouinfar what would you like to do about this?

[2020-04-30 15:18] jessegreenberg commented on #253
OK sounds good, ill rename so that it is clear it isn't taking a "scene" object but the index for the scene.

[2020-04-30 15:31] jessegreenberg commented on #249
OK, that makes sense to me. I added the documentation from that comment to the options in Track.js. Closing.

[2020-04-30 15:31] #253 closed

[2020-04-30 16:29] ariel-phet commented on #263
@jessegreenberg @arouinfar to my eye, the check box group at the top could be tightened up in terms of vertical spacing and actually look better and still be quite usable, so some pixels could be shaved off there.

[2020-04-30 17:26] arouinfar commented on #263
@ariel-phet I was thinking along the same lines. However, we decided to add the Path checkbox to this screen in #176, so it will take a bit more polishing than reducing checkbox padding.

I was able to buy enough vertical space by
* Reducing vertical padding between all elements in the panel to 10px.
* Reducing the height of the checkbox icons to 16 px.
* Reducing the height of the skater radio bu

[2020-04-30 18:51] jessegreenberg commented on #240
Hmm, it turns out that griddle forces these labels to match the bar color so Ill need to make changes there to do this.

[2020-04-30 19:16] arouinfar commented on #240
I would be fine with doing this universally across all energy graphs. I suspect that the colors do not have sufficient contrast against light gray or white backgrounds to pass at the WCAG AAA level. https://webaim.org/resources/contrastchecker/

[2020-04-30 19:33] jessegreenberg commented on #240
Oh I see - in that case other sims that use BarChartNode are masses-and-springs and pendulum-lab. I would change default behavior in griddle to have black label text, but you could optionally pass in a different color. @arouinfar can you please confirm that you are OK changing labels to black in all three sims?

[2020-04-30 23:59] jessegreenberg commented on #240
Questions in https://github.com/phetsims/energy-skate-park/issues/240#issuecomment-622060414 will be moved to https://github.com/phetsims/griddle/issues/49.

The labels are now black. @arouinfar re-assigning to you to review.

[2020-05-01 17:12] jessegreenberg opened #268 "Prepare new prototype version"
To update the link currently on the website. I think this could be done after these are finished:

- [x] #263
- [x] #176
- [x] #101
- [x] #240

[2020-05-01 17:39] arouinfar commented on #240
@jessegreenberg the updated labelColor looks good in master. I've also commented in https://github.com/phetsims/griddle/issues/49.

[2020-05-01 17:42] arouinfar commented on #240
I just realized that all items in https://github.com/phetsims/energy-skate-park/issues/240#issuecomment-618200193 were checked off, so I reviewed those in master.
Everything's looking great @jessegreenberg!

I don't think there's any remaining work for this issue, so I'll go ahead and close.

[2020-05-01 17:55] arouinfar commented on #240
So sorry to re-open so quickly, but it seems appropriate to group this last set of requests in with this issue.

The font sizes in the Energy Sensor on the Measure screen all seem a bit too small compared to other text in the sim.
![image](https://user-images.githubusercontent.com/8419308/80828377-68f3ea80-8ba2-11ea-8956-d6418100ab05.png)

- [ ] "Energy" title: 16 pt
- [ ] All other labels/values

[2020-05-01 19:05] jessegreenberg opened #269 "Generalize the saving of SkaterSamples"
The current class hierarchy is making https://github.com/phetsims/energy-skate-park/issues/176 tricky. The intro model now needs to save samples, but that isn't supported right away.

Considering changing the model hierarchy to this:
  - EnergySkateParkModel
    - EnergySkateParkSaveSampleModel
       - EnergySkateParkTrackSetModel
       - EnergySkateParkPlaygroundModel

So that all playground an

[2020-05-01 19:08] jessegreenberg commented on #269
Or if all energy skate park models need to support saving samples, maybe EnergySkateParkSaveSampleModel should just be removed and put into EnergySkateParkMOdel

[2020-05-01 19:12] jessegreenberg commented on #269
Seems like a good encapsulation to have everything involved with saving SkaterSamples in another file. EnergySkateParkMOdel is quite large. And there is also benefit that models which don't need to save samples can avoid the overhead of EnergySkateParkSaveSampleModel. So I am going to proceed with

- EnergySkateParkModel
  - EnergySkateParkSaveSampleModel
      - EnergySkateParkTrackSetModel
  - E

[2020-05-01 19:25] jessegreenberg commented on #269
Done. To match, I think we need the following view structure
- EnergySkateParkScreenView
  - EnergySkateParkSaveSampleScreenView (new)
    - EnergySkateParkTrackSetScreenView
      - GraphsScreenView
      - IntroSCreenView
      - MeasureScreenView
  - EnergySkateParkPlaygroundScreenView

[2020-05-01 21:18] jessegreenberg commented on #269
OK, this was done. I think #176 should be easier now.

[2020-05-01 21:18] #269 closed

[2020-05-01 21:24] jessegreenberg commented on #176
OK, https://github.com/phetsims/energy-skate-park/issues/176#issuecomment-620753134 is done, reassigning to @arouinfar to review.

[2020-05-01 21:31] jessegreenberg commented on #263
OK, this is done. Reassigning to @arouinfar for review!

[2020-05-01 21:42] jessegreenberg commented on #240
OK, text sizes were increased. @arouinfar can you review again?

[2020-05-01 21:43] arouinfar commented on #263
Looks great, thanks @jessegreenberg!

[2020-05-01 21:43] #263 closed

[2020-05-01 21:44] arouinfar commented on #176
Looks good in master!

[2020-05-01 21:44] #176 closed

[2020-05-01 21:46] arouinfar commented on #240
Thanks @jessegreenberg! I think the data will be much more readable when the sim is being projected in a classroom.
![image](https://user-images.githubusercontent.com/8419308/80843987-d9126880-8bc2-11ea-9b12-9ab65b27c233.png)

[2020-05-01 21:46] #240 closed

[2020-05-01 21:50] arouinfar commented on #268
@jessegreenberg if it'd be quick to do, can you also address https://github.com/phetsims/energy-skate-park/issues/195#issuecomment-620753651? I think it would be nice to have the updated screen icons in the prototype, but not necessary.

[2020-05-01 23:34] jessegreenberg commented on #101
@arouinfar this was done, can you take a look and review these ranges?

One thing to think about is spacing for grid lines. Each range breaks nicely into 4 so I went with grid lines along the 1/4 for each range.

[2020-05-02 00:13] arouinfar commented on #101
@jessegreenberg this looks really nice! Breaking things into 4 looks good.

After playing with some extreme cases, I think we can eliminate the last two levels of [-22500, 22500] and [-25000, 25000]. Looks like the [-25, 25] level was excluded, but looking at min mass/min g I don't think it's necessary after all.

[2020-05-02 01:26] jessegreenberg commented on #101
Hmm, looks like a bug where the zoom button was set to disabled one level too early. But sounds good, ill leave that one out anyway.

I removed the last two ranges. Back for review!

[2020-05-02 02:19] jessegreenberg commented on #195
New screen icons have been added @arouinfar, can you review their look in the sim?

[2020-05-02 03:15] arouinfar commented on #195
Looks great, thanks @jessegreenberg!

[2020-05-02 03:15] #195 closed

[2020-05-02 03:17] arouinfar commented on #101
Looks good in master. Thanks!

[2020-05-02 03:17] #101 closed

[2020-05-02 03:18] arouinfar commented on #268
@jessegreenberg we're good to go!

[2020-05-03 16:53] samreid commented on #233
Marking for https://github.com/phetsims/tasks/issues/1035.

[2020-05-05 16:28] jessegreenberg commented on #268
A new prototype was deployed, latest is using https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.11/phet/energy-skate-park_en_phet.html

[2020-05-05 16:28] #268 closed

[2020-05-14 15:29] jessegreenberg commented on #239
I really like that, thanks! `EnergySkateParkView.getTrackNode` was added just for this, so that function could be removed entirely. This was done in the above commit. I think this issue can be closed.

[2020-05-14 15:29] #239 closed

[2020-05-14 15:32] jessegreenberg commented on #206
The grid was reimplemented for #205 and I wonder if it will be faster now. It is no longer using clipping.

[2020-05-14 15:40] jessegreenberg commented on #206
Testing on macOS Catalina 10.14.4, I don't notice too much of a slowdown when the grid is enabled, but overall the sim performance is generally pretty choppy. I think I would like to investigate https://github.com/phetsims/energy-skate-park/issues/213 before narrowing in on the grid specifically.

[2020-05-14 15:43] jessegreenberg commented on #213
Performance is fairly jittery on the Intro screen as well, but a bit better on the Playground screen. Indicates it is related to SkaterSamples and display of the skater path, but ill do some profiling.

[2020-05-20 20:39] jessegreenberg commented on #213
Recorded time allocation  on a Mac:
![image](https://user-images.githubusercontent.com/6396244/82494782-1f6b3100-9ab8-11ea-81a1-9e537f06d556.png)

A fair amount of time spent painting. `drawDataScatter` stands out here.

[2020-05-20 23:26] jessegreenberg commented on #213
`drawDataScatter` is pretty slow because every scatter point gets its own `stroke` and `fill` call, rather than calling `stroke` and `fill` once for every point. But each scatter point can have its own color, opacity, stroke style, and so on, so it is necessary to do so. I also considered optimizing by collecting points with the same stroke/fill style and drawing them once. But I didn't see a perf

[2020-05-20 23:32] jessegreenberg opened #270 "Default friction for graphs screen?"
I just noticed it is currently "none" by default for that screen. @arouinfar is that correct?

[2020-05-20 23:40] jessegreenberg commented on #213
The profiler is reporting 50-60 fps on all screens (with/without grid and other things visible). I think this can be closed.

[2020-05-20 23:40] #213 closed

[2020-05-21 19:35] jessegreenberg commented on #206
In #213 I worked on performance with macOS Catalina and reported

This issue can be closed.

[2020-05-21 19:35] #206 closed

[2020-06-01 17:38] jessegreenberg opened #271 "SkaterSamples need to save more state"
Was discussed at a recent design meeting that the SkaterSamples need to include more information so that when scrubbing back the simulation state is fully restored. For instance, Skater mass, sim friction, sim gravity, and Track (control points) need to be saved.

[2020-06-01 17:41] jessegreenberg commented on #271
This is now saving more than Skater data, maybe this needs to be a SimSample or something.

[2020-06-01 19:42] jessegreenberg commented on #271
Track and renames done in the above commit.

[2020-06-01 20:02] jessegreenberg commented on #271
OK, now track control points, friction, gravity, and mass are part of sample data that get restored when scrubbing through data on the Graphs screen. @arouinfar can you please review and make sure this is correct?

It looked a little strange to me to see the values change on sliders when scrubbing through data, I am not sure why. Im probably just not used to it.

[2020-06-02 04:13] arouinfar commented on #271
@jessegreenberg this is looking good in master!

I think it's because we're not used to it, but it's important for the gravity/mass/friction to sync up with the data in the graph.

[2020-06-02 04:13] #271 closed

[2020-06-25 22:08] KatieWoe opened #272 "CT cannot read property skaterState of undefined"
[code]

[2020-06-29 14:54] KatieWoe opened #273 "CT data should exist for the cursor to be draggable"
[code]

[2020-06-30 15:26] jessegreenberg opened #274 "How should the StopwatchNode behave when scrubbing back through data?"
I noticed that time is not tied to plot time on the graphs screen.  And so going back  in time with the cursor on the plot does not change time on the StopwatchNode either. At first I found this strange.  But then I realized it could be correct because the Stopwatch has its own play/pause functionality so it may be totally different from plotted time anyway.

@arouinfar do you think  the current b

[2020-06-30 15:33] arouinfar commented on #274
@jessegreenberg I think the StopwatchNode should be its own independent thing, so the current behavior is good.

[2020-06-30 15:33] #274 closed

[2020-07-01 17:18] jessegreenberg commented on #272
Thanks @KatieWoe, I think this is fixed in the above commit, but not entirely sure. The assertion message I hit was different (earlier) than the one presented here, but think it has been fixed.  This is happening on the graphs screen, and sim is fuzzing locally with ?screens=3 for me, but I will keep this open or a few CT iterations.

[2020-07-01 17:28] jessegreenberg commented on #272
OK I just hit this while fuzzing locally.

[2020-07-01 17:37] jessegreenberg commented on #272
There is a problem in DynamicSeries from griddle, when we call removePointAtX without redrawing (for performance) we are also not doing other things like hiding the cursor when it is time. So we remove a bunch of data but the cursor remains visible and can still be clicked by the fuzzer.

[2020-07-01 19:11] jessegreenberg opened #275 "Should the reference height be part of saved data on the Graphs screen?"
On the graphs screen, plot energy against time.  Move the reference height line. Then drag the plot cursor left to go back in time. Friction, gravity, mass, energies all go back to what they were at the time of the cursor but reference height does not change. Should it?

My guess is "yes", but this wasn't mentioned as a physical property that should when scrolling back last we discussed.

@arouinf

[2020-07-01 19:19] jessegreenberg commented on #273
OK, I figured this one out, resolved in #272.

[2020-07-01 19:19] #273 closed

[2020-07-01 19:20] jessegreenberg commented on #272
OK, the issue mentioned in https://github.com/phetsims/energy-skate-park/issues/272#issuecomment-652555360 has been resolved, and I verified that this assertion is not being hit from this case anymore.

[2020-07-01 19:20] #272 closed

[2020-07-01 19:24] jessegreenberg commented on #232
Sounds good, the optional modifyBarHeight option has been removed.

[2020-07-01 19:24] #232 closed

[2020-07-01 19:26] jessegreenberg commented on #191
I am assuming this is fixed now, closing.

[2020-07-01 19:26] #191 closed

[2020-07-01 19:44] jessegreenberg commented on #222
Thanks to WebStorm this was a very easy refactor. Done in the above commits, closing.

[2020-07-01 19:44] #222 closed

[2020-07-01 19:46] jessegreenberg opened #276 "Track radio buttons should have more bold icons"
Was mentioned recently that the icons on the radio buttons for track are too thin and difficult to see. They should have a "thicker stroke". That doesn't really apply at the moment because the icons are actually images rasterized from the track Nodes themselves.

So we may have to do some new drawing or other things to make the tracks look more prominent.

[2020-07-01 19:51] jessegreenberg commented on #223
Assets for all the new skaters have been added, and the artwork for original skater has been removed since it is no longer used in the sim.

[2020-07-01 19:51] #223 closed

[2020-07-01 19:53] jessegreenberg commented on #198
This issue was all about performance on the Graphs screen. The graphs on that screen have been entirely re-implemented to use griddle and so I am curious if hat has had an impact on this issue. Removing assignment for now, but will flag in a future QA test.

[2020-07-01 20:35] jessegreenberg commented on #210
Cool, I added a note about the circular motion approximation in the section about skater motion. CLosing.

[2020-07-01 20:35] #210 closed

[2020-07-01 20:41] jessegreenberg commented on #17
OK, closing this issue - though I did add a note "attach.png" and "detach.png" referring to this issue and mentioning that we do not have access to the original artwork.

[2020-07-01 20:41] #17 closed

[2020-07-01 21:41] jessegreenberg commented on #276
I made it so we can change the thickness of the track and modify other things for icons:
![image](https://user-images.githubusercontent.com/6396244/86294108-edbead00-bbc1-11ea-8344-b958faadc02c.png)

But see how the slope track looks thicker because it isn't scaled down as much to fit in the button. We need another way to draw these so that none of the tracks get scaled down.

[2020-07-01 21:48] jessegreenberg commented on #276
Each track in the icon group needs the same dimensions so they scale similarly. PremadeTracks can be modified to support this.

[2020-07-02 04:10] jessegreenberg commented on #276
This ended up as a pretty massive change because doing this made me think of a better way for the models to request their custom tracks. But the result is that the track selection buttons can have their own custom tracks so that their shapes are of identical bounds. @arouinfar could you please take a look at master and review? Shapes can be changed, paths can have different thickness, or anything

[2020-07-02 04:10] jessegreenberg commented on #276
Also, all the icons have their control points removed now.

[2020-07-07 14:47] KatieWoe opened #277 "CT no value for when the list box was opened"
[code]

[2020-07-07 15:05] jessegreenberg commented on #277
Thanks @KatieWoe. The assertion in ComboBoxListBox is
[code]

But for energy-skate-park, `null` is one of the ComboBoxItem values, and indicates that the physical value is something other than one of the entries in the ComboBox, which is possible since the user can tweak the value further with a slider. An adapter Property is used for this in PhysicalComboBox.js.

@jbphet instead of checking for `

[2020-07-07 18:16] jbphet commented on #277
I've changed it to check for `undefined` instead of `null` and fuzz tested.  This should fix the issue.  Closing, though I'll keep an eye on CT and make sure the fix worked.

[2020-07-07 18:16] #277 closed

[2020-07-07 23:22] jbphet commented on #277
PS - the next round of CT was clear of this error.

[2020-07-09 14:44] jessegreenberg opened #278 "Assertion: model has no saved EnergySkateParkDataSamples to retrieve"
Not on CT, but after quickly dragging the cursor as far left as possibhle on the graphs screen I hit

[2020-07-09 14:46] jessegreenberg commented on #278
Plot looks like this:
![image](https://user-images.githubusercontent.com/6396244/87054586-4816c980-c1d1-11ea-8a7f-3be3eda96a06.png)

dataSamples array is empty. cursor value is 60.528619583038434. Triggered from the drag listener on the cursor during
[code]

[2020-07-09 14:48] jessegreenberg commented on #278
I am confused because I thought data wasn't cleared until drag end.

[2020-07-09 14:51] jessegreenberg commented on #278
I notice the sim is paused in the assertion case:
![image](https://user-images.githubusercontent.com/6396244/87055257-194d2300-c1d2-11ea-98bc-b713cf7320b2.png)

[2020-07-09 15:01] jessegreenberg commented on #278
Hit it again. Seems like I really have to whip the mouse to get it to happen.

[2020-07-09 15:06] jessegreenberg commented on #278
Caught the trace that is clearing samplese during drag:
![image](https://user-images.githubusercontent.com/6396244/87056899-400c5900-c1d4-11ea-8a42-a9fc09dc316b.png)

[2020-07-09 15:20] jessegreenberg commented on #278
XYCursorPlot keeps the cursor within the chart bounds:
[code]

We should keep the cursor value within bounds as well, instead of just the Node position.

[2020-07-09 15:30] jessegreenberg commented on #278
Should be fixed in the above commit. The cursor value is now constrained to be within plot bounds. I think this is correct and we won't have precision comparison issues like https://github.com/phetsims/energy-skate-park/issues/278#issuecomment-656183427 because calculations for visibility and constraining are the same. Closing.

[2020-07-09 15:30] #278 closed

[2020-07-13 16:36] jessegreenberg opened #279 "Sim should use default layout bounds"
@ariel-phet noticed that this sim is using custom layout bounds, as they were copied from energy-skate-park-basics.
[code]

In https://github.com/phetsims/joist/issues/542 we decided that new sims should use the default layout bounds. At this point it could be difficult to make this change. Ill investigate and see how difficult it may be.

[2020-07-15 19:24] jessegreenberg commented on #279
Overall, the changes for this don't seem too difficult. Sim behavior is still correct and things are generally aligned in model coordinates.

Most changes will be front-end things like making panels larger, making Text a bit larger, making checkboxes larger so that the UI looks similar to what it did with the custom layout bounds. Constants for these things should be factored out and shared betwee

[2020-07-15 20:19] jessegreenberg commented on #279
For the transform, the default layout bounds and the custom layout bounds have almost the same aspect ratio, so the scale should be the only thing that needs to change. 834 / 504 uses scale of 50, so 1024/618 should use a scale of 50 * 1024 / 834  for the same model area to be within view bounds.

[2020-07-15 20:22] jessegreenberg commented on #279
In general, things in view coordinates need to be 1024/834 ~= 1.228 times larger to look the same.

[2020-07-16 00:26] jessegreenberg commented on #279
Initial commit for this is done in the following commit. I still need to review the other screens but things are looking pretty identical for the "Intro" screen. Left is after change, right is before change:
![image](https://user-images.githubusercontent.com/6396244/87612742-62710b80-c6d9-11ea-9580-893c608840c5.png)

[2020-07-16 15:25] jessegreenberg commented on #279
After the above commits, the sim is using default layout bounds. I went through UI components and compared each screen as in https://github.com/phetsims/energy-skate-park/issues/279#issuecomment-659083811 until everything looked the same. But tweaks can be made in any pixel polishing review. Closing this issue.

[2020-07-16 19:57] jessegreenberg commented on #202
I had forgotten about this issue, but code review is complete. REVIEW comments were removed and we had some back and forth in  dedicated issues sourced from this one, all of which have been closed.

[2020-07-16 19:57] #202 closed

[2020-07-16 20:01] jonathanolson commented on #209
The commit looks good to me.

[2020-07-16 20:01] #209 closed

[2020-07-16 20:03] jessegreenberg commented on #279
Hmm, actually this should be reopened and reviewed separately. @arouinfar can you please review the latest sim layout? Almost everything in the UI had potential to change in placement/sizing from prior to https://github.com/phetsims/energy-skate-park/commit/c9c06a5e7b2f122d0a5a14b0f8e683e34a1e4bc2, but I did my best to keep things as they were.

This also means that some buttons (TimeControlNode,

[2020-07-16 20:07] jonathanolson commented on #252
The advantage of DynamicProperty is that the dragPositionProperty would update if the model referenceHeightProperty updates. I'm not sure how relevant that is here.

I'm fine to leave it as-is for now, and if we run across this more often then it would make sense to find a better pattern.

[2020-07-16 21:26] jessegreenberg commented on #275
Everyone agreed that reference height should be saved.

[2020-07-16 21:30] jessegreenberg commented on #270
Discussed today - In energy-skate-park, default friction should be "none" for all screens. ESPB should have some friction on startup (for the friction screen).

[2020-07-17 19:25] jessegreenberg opened #280 "Change behavior for clearing saved data"
It was requested that the behavior for clearing data on the energy plot of the graphs screen needs to change. Currently, the data gets cleared when the cursor drag ends. Instead it should behave as follows:
- The data should not clear but remain on the plot for playback from where the cursor is dropped.
- Data will begin recording again once the cursor reaches the last saved data point.
- If at an

[2020-07-17 21:47] arouinfar commented on #279
@jessegreenberg I think everything looks good in master. Unless I'm toggling between master and the latest prototype, it's very hard to notice any differences.

[2020-07-17 21:47] #279 closed

[2020-07-17 21:48] arouinfar commented on #276
Reviewed in the 7/16/20 design meeting. The team likes the bolder icon without the control points. Closing.

[2020-07-17 21:48] #276 closed

[2020-07-17 22:35] jessegreenberg commented on #280
During playback, we need a way to distinguish whether the user is controlling change of the physical Property. For example, say that during playback the frictionProperty is changed to match the value at the saved EnergySkateParkDataSample at that time. That change should NOT clear samples. But dragging the slider should.

I think in some sims I have seen `userControlled` flags to distinguish wheth

[2020-07-20 15:54] jessegreenberg opened #281 "Dragging skater steps stop watch, even when sim is paused"
Only on the graphs screen.

[2020-07-20 16:43] jessegreenberg opened #282 "Adapter Property in PhysicalComboBox could be a DynamicProperty"
[code]

For #280 - if this is a DynamicProperty, updating the physicalProperty can also update the AdapterProperty, so that the ComboBox correctly displays labelled mass ("Earth", "Moon", "Jupiter") during graph data playback.

However, this could interfere with the way we are setting "userControlledProperty" for the ComboBox:
[code]

That assumption would likely no longer be true.

[2020-07-20 17:24] jessegreenberg commented on #252
Thanks @jonathanolson - I changed it to use DynamicProperty in the above commit, it seems like the right thing to do since DynamicProperty supports this exact case with `map` and `inverseMap` (see usage in 29829fefb8aa4c4d7324b7aea8d7203c8671b063). Closing.

[2020-07-20 17:24] #252 closed

[2020-07-20 17:25] jessegreenberg commented on #281
This was fixed as part of #280

[2020-07-20 17:25] #281 closed

[2020-07-20 17:31] jessegreenberg commented on #275
@arouinfar this is done in the above commit.

[2020-07-20 17:31] #275 closed

[2020-07-20 19:17] jessegreenberg commented on #280
We are almost there, but I found a bug where changing between plotting position and time can stop all plotting. Haven't figured out exactly what is causing it yet,.

[2020-07-20 19:30] jessegreenberg commented on #280
Also, the "Return Skater" buttons need to work with this feature. It is sort of like a short cut to drag the skater to its original position, so I am going to clear any saved data to the right of the cursor when these buttons are pressed.

[2020-07-20 23:29] jessegreenberg commented on #282
I tried it out, but couldn't get a DynamicProperty to work as well as I wanted. I think one of the issues is that the adapterProperty can have a value of `null`, to signify that "Custom" values are being selected (values not provided by the combo box). But when the value is `null`, we never called the `map` function of DynamicProperty and so the ComboBox display wouldn't update.

Updating the Comb

[2020-07-20 23:29] #282 closed

[2020-07-21 01:07] jessegreenberg commented on #280
Ok, this is done. @arouinfar @kathy-phet @ariel-phet can you please review this new behavior? Should be as we discussed in design meeting. But please take a look at the following in this version:

https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.15/phet/energy-skate-park_en_phet.html

- The "Energy vs Time" plot now plays back recorded data instead of clearing data when the cursor is

[2020-07-21 14:41] KatieWoe opened #283 "CT cannot read property get of undefined"
[code]

[2020-07-21 16:03] jessegreenberg commented on #283
Thanks @KatieWoe, sorry- this has been fixed.

[2020-07-21 16:03] #283 closed

[2020-07-24 00:21] arouinfar commented on #280
@kathy-phet and I reviewed this, and it's looking really nice!

@jessegreenberg the pattern we usually follow for a NumberControl/ComboBox group is that the ComboBox displays "Custom" if the value is set by the slider thumb or tweaker buttons, regardless of the value. For example, if the user sets the gravity to 9.8 with the slider/tweakers, the ComboBox reads "Custom" not "Earth".

Yes, the Stick

[2020-07-24 16:10] jessegreenberg opened #284 "Add a double headed arrow to the cursor in the Graphs screen"
Discussed with @arouinfar on 7.24.20 -

Would like to add a double headed arrow to the chart cursor. Should be near the bottom of the cursor. Has the color of the grippy dots of the cursor.

[2020-07-24 16:11] jessegreenberg commented on #284
@arouinfar can you please add the mockup images you showed while we met?

[2020-07-24 16:12] jessegreenberg commented on #284
Also discussed - the arrow should disappear when user successfuly drags the cursor. Should come back on "Reset All".

[2020-07-24 16:19] arouinfar commented on #284
Here are the mockups:
![image](https://user-images.githubusercontent.com/8419308/87834229-20fe6e80-c847-11ea-85c3-70a1b3c597fe.png)

[2020-07-24 16:43] arouinfar commented on #280
@jessegreenberg and I discussed the gravity NumberControl/ComboBox issue, and decided to leave the behavior alone.

During playback, the sim adjusts the model property for gravity and doesn't know if the values it restores were originally set by the NumberControl or ComboBox. Previously, the ComboBox would only read "Custom" during playback. It now shows "Earth", etc. during playback, but the side

[2020-07-24 16:47] arouinfar commented on #215
I noticed that the scenery-phet issue had been closed, but it the fix is being tracked in https://github.com/phetsims/kite/issues/77.

[2020-07-28 23:10] jessegreenberg commented on #284
This has been added. @arouinfar can you please review?

[2020-07-29 17:17] jessegreenberg commented on #280
I think this was the last thing for this issue and it has been done in the above commits. @arouinfar can you please review the behavior of "Stick to Track" with saved data on the Graphs screen?

[2020-07-29 17:43] jessegreenberg commented on #270
Friction is now zero by default for energy-skate-park, but changes will need to be made so that ESPB doesn't have this.

[2020-07-29 18:14] jessegreenberg commented on #270
OK, this is done. Renamed/refactored a few things so that basics screens could have different initial/default values for friction from full sim. This can be closed.

[2020-07-29 18:14] #270 closed

[2020-07-30 00:09] arouinfar commented on #280
Looks great @jessegreenberg!

[2020-07-30 00:09] #280 closed

[2020-07-30 00:10] arouinfar commented on #284
@jessegreenberg this looks really good in master, thanks!

[2020-07-30 00:10] #284 closed

[2020-08-04 23:06] arouinfar opened #285 "Graph gridlines no longer aligned to play area grid"
For https://github.com/phetsims/QA/issues/523

In the [latest dev](https://phet-dev.colorado.edu/html/energy-skate-park/1.0.0-dev.17/phet/energy-skate-park_en_phet.html?screens=3), the graph and grid are slightly misaligned. The gridlines in the play area are slightly to the right of the vertical gridlines in the graph.
![image](https://user-images.githubusercontent.com/8419308/89352948-9e611600-d

[2020-08-06 16:45] jessegreenberg commented on #285
Hmm, interesting - I am not sure why this is happening. The plot uses the modelViewTransform to position grid lines, it should align just like the other grid in the view. I will take a look.

[2020-08-13 15:29] jessegreenberg commented on #285
I see that going back to old builds they have always slightly off of grid lines.

[2020-08-19 15:32] jessegreenberg commented on #285
Resolved with the above commit, which positions the accordionbox so that the right edge of the accordion panel falls on the grid line.
![image](https://user-images.githubusercontent.com/6396244/90655517-ad69cb80-e20f-11ea-81c8-6c7a7e6a87c9.png)

[2020-08-19 15:32] #285 closed

[2020-08-19 15:45] jessegreenberg opened #286 "Generate screenshots"
From https://github.com/phetsims/energy-skate-park/issues/1 and now that we are preparing a RC, we are ready for screenshots.

@arouinfar can you please create the look you would like for these images? I think the process is then for myself or @KatieWoe to generate them.

[2020-08-19 15:51] jessegreenberg opened #287 "Verify credits for 1.1"
Here are the current credits, taken from ESP:B HTML5.

![image](https://user-images.githubusercontent.com/6396244/90658938-210cd800-e212-11ea-8821-778a4ca54eb5.png)

I could add @arouinfar and myself. @ariel-phet @arouinfar are there any other additions to make to this list? The QA list can be updated after we complete the RC process.

[2020-08-19 16:23] jessegreenberg commented on #287
In the above commit I added myself, @arouinfar and @DianaTavares to credits as requested over slack convo.

[2020-08-19 17:33] ariel-phet commented on #287
Please move Amy to lead design, and just put me in "Team"

[2020-08-19 17:52] arouinfar commented on #287
Diana should also be alphabetized by Lopez, not Tavares.

[2020-08-19 22:38] arouinfar commented on #286
@jessegreenberg I've added the screenshot and alternates in the above commit.

[2020-08-19 22:51] jessegreenberg commented on #286
Oh awesome! Thanks @arouinfar!

[2020-08-19 22:51] #286 closed

[2020-08-19 23:36] jessegreenberg commented on #287
OK, https://github.com/phetsims/energy-skate-park/issues/287#issuecomment-676527059 and https://github.com/phetsims/energy-skate-park/issues/287#issuecomment-676571698 were done with the above commits.

[2020-08-20 17:59] jessegreenberg commented on #246
I am seeing this again.  I think what is happening is that the skater isn't transformed until the first model update. So when the screen first loads, you may see the skater out of place.  To fix this, I am going to make the skater invisible until the first update. The skater will become fisible on the first update. This should remove the skater flashing at the wrong spot for the first frame.

[2020-08-20 18:06] jessegreenberg commented on #246
Change made in the above commit. I think I was able to see this resolved because there was one load in my testing where the skater became visible quickly on screen load. Before this change, the skater would have shown up large in the screen left of the screen.

But this is happening very rarely anyway, and this is almost never detectable. Closing again.

[2020-08-20 18:06] #246 closed

[2020-08-27 18:50] jessegreenberg commented on #242
@mattpen deleted this before we published a prototype today on 8/27/20. Closing.

[2020-08-27 18:50] #242 closed

[2020-08-27 18:51] jessegreenberg commented on #173
There were no permissions issues during deploy of the 1.0 prototype version so we should be set. Closing this issue.

[2020-08-27 18:51] #173 closed

[2020-09-02 15:37] jessegreenberg opened #288 "Enable zoom feature in this sim"
We are almost ready to enable zoom for all sims, but there is a little more work to be done there to make sure it is working properly and is being tested with CT. This sim is ready for RC testing and should proceed before that, so creating this issue to enable and test in this sim.

[2020-09-02 15:46] jessegreenberg commented on #288
Above commit enables it, and sim has been fuzzing for about 10 minutes with fuzzPointers=2 and n issues.

[2020-09-02 16:13] jessegreenberg commented on #288
I played with the sim for a while, testing all of the UI components and things all seemed to work as I would expect. I took RC shas off of master a few days ago, I am going to merge https://github.com/phetsims/energy-skate-park/commit/cfa3b10538cafac0bdc41faf10ac6ab7705e22ef into the release branch and make sure things still are OK.

[2020-09-02 16:49] jessegreenberg commented on #288
energy-skate-park-1.1.0-rc.1 was deployed with magnification enabled. Closing this issue.

[2020-09-02 16:49] #288 closed

[2020-09-02 17:45] jessegreenberg commented on #287
Updated to reflect 1.1 release. Credits will be finalized after QA.

[2020-09-02 17:46] jessegreenberg commented on #201
Duplicate of #287

[2020-09-02 17:46] #201 closed

[2020-09-02 23:01] zepumph commented on #136
More specific error message handled above. I will check back on CT in a round or two.

[2020-09-02 23:58] zepumph commented on #123
Unassigning until we turn our attention to PhET-iO for this sim.

[2020-09-03 00:00] zepumph commented on #197
These are not on CT now, and we will handle them when we add ESP back on for PhET-iO testing. I think the easiest way to proceed is to close.

[2020-09-03 00:00] #197 closed

[2020-09-09 14:55] KatieWoe opened #289 "CT object is not compatible with merge"
[code]

[2020-09-09 15:59] jessegreenberg commented on #289
Thank you @KatieWoe - fixed in https://github.com/phetsims/griddle/issues/66.

[2020-09-09 15:59] #289 closed

[2020-09-14 21:34] KatieWoe opened #290 "CT Perennial task failed"
[code]

[2020-09-15 21:40] jessegreenberg commented on #290
I am not sure about this one, but looking at commits I suspect it is from https://github.com/phetsims/phet-io/issues/1672. @samreid can you take a look?

[2020-09-15 21:51] samreid commented on #290
Thanks, I committed a proposed fix. It's now working on my localhost, closing.

[2020-09-15 21:51] #290 closed

[2020-09-16 22:58] arouinfar opened #291 "[Measure Screen] Round height and speed readouts to the hundredths place"
Tangential to https://github.com/phetsims/QA/issues/544

A user wrote into phethelp:

The discrepancy is due to the rounding of the height and speed readouts. Calculating the height from the PE results in  4.0566 m, which rounds to 4.1 m. Similarly, calculating the speed from the KE results in 7.2613 m/s which rounds to 7.3 m/s.

It is not unreasonable for users to calculate the PE/KE from the hei

[2020-09-17 16:35] zepumph commented on #136
Looks like ESP is testing and there are no errors

![image](https://user-images.githubusercontent.com/6856943/93500534-b0181900-f8c0-11ea-9f87-cd970f45972a.png)

[2020-09-17 16:35] #136 closed

[2020-09-21 21:31] jessegreenberg commented on #291
Rounded to the hundredths place in the above commit. Will also cherry-pick into release branch.

[2020-09-21 21:33] jessegreenberg commented on #291
cherry-picked into 1.0 (protoytpe branch) and 1.1 (rc branch). @arouinfar can you please review?

[2020-09-21 21:48] arouinfar commented on #291
Looks good in master, thanks @jessegreenberg!

[2020-09-21 21:48] #291 closed

[2020-09-22 15:41] Denz1994 opened #292 "TimeSpeedProperty valid values don't match Time Speed radio buttons"
Discovered during phetsims/scenery-phet#607:

In the studio view of ESP, searching for "TimeSpeedProperty" shows `Valid Values: Fast, Normal, Slow`. However, the radio buttons are limited to only "Normal" and "Slow". Selecting the "Fast" option in the studio view will deselect both radio buttons in the sim view and seems like it sets the sim in the "Slow" mode.

I would expect the "Fast" option to

[2020-09-22 16:58] jessegreenberg commented on #292
Thanks @Denz1994, fixed in the above commit and speed options arecorrect in studio:
![image](https://user-images.githubusercontent.com/6396244/93913597-4db18500-fcd3-11ea-8350-e1a45b94a262.png)

[2020-09-22 16:58] #292 closed

[2020-10-12 16:02] oliver-phet opened #293 "User suggestion: Potential label, acceleration units"

[2020-10-12 17:42] arouinfar commented on #293
I appreciate the user's feedback, and they've clearly given this a lot of thought.  While I can appreciate some of the points they make, I am not inclined to make any of these changes.

When I think about the broader audience of this sim (global usage in high school and university), it is important to stick to conventional names and units. I also think a lot of the user's issues are easily address

[2020-10-12 18:19] brooklynlash opened #294 "Performance issues on Firefox"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/544
While on the "Energy Graphs" section of the Skate Park sim, both while using query parameters (including string tests), in the iframe, and in the Legends of Learning harness all produce performance problems. The skater and the graph la

[2020-10-12 19:57] DevonQui opened #295 "Skateboard loses contact with track at high speeds"
**Test device**
MacBook Pro

**Operating System**
Catalina 10.15.1

**Browser**
Safari 13.0.3

**Problem description**
This is for https://github.com/phetsims/QA/issues/544
At high gravity and at cusps near the ground, the skateboard will lose contact with the track and continue on the ground. In the video, I show it happening on the Measure section of the simulation but I have also been able to r

[2020-10-12 21:07] DevonQui opened #296 "Legends of Learning moves forward when paused"
**Test device**
MacBook Pro

**Operating System**
Catalina 10.15.1

**Browser**
Safari 13.0.3

**Problem description**
This is for https://github.com/phetsims/QA/issues/544
The Legends of Learning pause button doesn't work. When the simulation is paused and you open the Message Logs, the simulation will move forward by approximately 0.5 seconds.

**Steps to reproduce**
1. Open the Legends of Learn

[2020-10-13 05:21] ariel-phet commented on #293
@arouinfar I generally agree with everything you say:

1. Although calling Potential Energy, Gravitational Potential Energy would be more accurate, since that is the only potential energy available in the sim, I agree with you, it just does not make sense to change.

2. We are definitely not going to use nonstandard units as the default. That being said, `N/kg` are certainly an equivalent unit so

[2020-10-14 22:12] oliver-phet opened #297 "User request: add measurement points to allow comparison"
I suggested to the user that perhaps we could add measurement points at grid intersections (when Grid is enabled). This would allow them to isolate friction (or other variables) and see how each energy parameter changes.

@arouinfar I believe the measurement points are created every .1 second? Is that correct?

[2020-10-15 00:39] arouinfar opened #298 "Timing of path dots"
Discovered in #297. A user wrote in about the repeatability of the path dots, and my initial thought was that using the Restart Skater button would alleviate the issue. However, it does not.

1. Measure Screen
2. Select slow motion (just makes things a bit easier to see), and drag skater onto track
3. Place probe on a path dot <img width="1019" alt="Screen Shot 2020-10-14 at 6 19 55 PM" src="https

[2020-10-15 00:48] arouinfar commented on #297
That's correct, @oliver-phet. Drawing the dots at equal time steps allows users to see the velocity along the track (e.g. faster at the bottom). If the time it takes for the skater to reach the end of the track is perfectly divisible by 0.1 s, the dots would exactly draw on top of themselves. However, this is very unlikely to happen, and you're more likely to end up in a situation where the dots l

[2020-10-15 01:07] arouinfar commented on #293
@ariel-phet I generally like the idea of adding `N/kg` support behind a query parameter. I think it would make the most sense to have a flag-type query parameter like `altGravityUnits` which sets things to `N/kg`. A string-type could get pretty awkward when trying to spell out units in camel case, such as `gravityUnits=nPerKg` or `gravityUnits=mPerSPerS`.

A Mystery Planet would be a bit tricky in

[2020-10-15 02:58] ariel-phet commented on #293
@arouinfar sounds good, lets just go with a query parameter in that case. `altGravityUnits` sounds good to me. Might be worth getting @kathy-phet opinion at a design meeting in the near future since this sim will get some iO attention soon.

[2020-10-15 20:12] DevonQui commented on #296
EDIT: This was also an issue found in Collision Lab when testing Legends of Learning functionality. It's starting to seem like this might be affecting more than one sims. I'll be on the lookout for this issue in other sims.

[2020-10-16 18:17] brooklynlash opened #299 "Measuring tape goes out of border and gets stuck"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome, Firefox, Edge, video from Edge

**Problem description**
When flipping over the measuring tape and moving it past the border, it is not grabbable unless you restart or grab the other part of the measuring tape first.

**Steps to reproduce**
1. Open any section of the sim
2. Grab measuring tape and take it out
3. F

[2020-10-16 18:23] brooklynlash commented on #299
Never mind-- found through Pointer Areas I just had to click a bit above it.

[2020-10-16 18:23] #299 closed

[2020-10-16 18:49] brooklynlash commented on #296
Reproduced on all Windows 10 browsers. I will also be on the lookout in the future.

[2020-10-19 20:47] KatieWoe opened #300 "Not everything is reset"
**Test device**
MacBook Air
**Operating System**
Mac OS 10.15.7
**Browser**
Chrome 86.0.4240.80
**Problem description**
For https://github.com/phetsims/QA/issues/544
When the orange reset all button is used, not everything resets. The skater selection and the path checkbox are the two I have seen. Found on first screen, but the skater selection appears elsewhere and has the bug there as well.
**St

[2020-10-19 22:53] KatieWoe opened #301 "Moon gravity reads as custom if achieved with number spinner"
**Test device**
MacBook Air
**Operating System**
MacOS 10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/544. I think it may be connected to https://github.com/phetsims/energy-skate-park/issues/251.
When you use the number spinner to adjust the gravity of the sim, and you land on 9.8 or 24.8 the combo box text changes to say Earth or Jupiter, respectively

[2020-10-20 20:25] KatieWoe opened #302 "Narrow screens can have unexpected overlap of track drag points and tool box"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 14.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/544
The measure screen has pre-built tracks that have drag points on their ends. For these tracks it is possible for the drag points to overlap the tool box or go behind the tool on the left if the window is narrow enough. seen on iPad in landscape mode

[2020-10-20 21:33] KatieWoe opened #303 "Unexplained errors in debug sim"
For https://github.com/phetsims/QA/issues/544.
On Mac 10.15.7 Chrome. When doing the fuzz test on the debug version of the sim, two errors came up immediately. I didn't notice any ill effects and I was in incognito mode, so I don't know if any extensions could do it. I also checked the debug sim in the last rc for EFAC, and didn't see this occur.
![Screen Shot 2020-10-20 at 2 35 57 PM](https://use

[2020-10-21 03:48] arouinfar commented on #301
Thanks @KatieWoe. Generally the ComboBox would always display "Custom" when the value is adjusted with the NumberControl, but we chose not to do that in this sim so that the playback would behave correctly on the Graphs screen, see #280.

This looks like the behavior described in https://github.com/phetsims/energy-skate-park/issues/280#issuecomment-661518050 onwards was reverted, specificially:

[2020-10-22 20:00] DevonQui commented on #296
This was also an issue for Capacitor Lab Basics. Even when paused, when clicking on Message Logs tab on the side of the Legends of Learning screen, the simulation will increment forward usually by half to a full second.

[2020-10-22 20:20] KatieWoe commented on #300
I think the path checkbox may actually start checked, so it might not be an issue.

[2020-10-22 21:28] arouinfar commented on #300
Thanks @KatieWoe. It looks like the issue is limited to the skater selection and the Path checkbox. Both should revert back to the default, which is skater 1 (the one wearing the PhET sweater) and Path off.

[2020-10-22 21:50] oliver-phet opened #304 "User request: individual track piece friction"

[2020-10-26 17:18] arouinfar commented on #296
Looks like this issue should be moved to a common repo.

@DevonQui thanks for reporting this in other sims. I edited your comments to add links to the appropriate QA issues. Please remember to tag the QA issue, otherwise the developers are unlikely to be aware of this issue (especially since it's in a sim-specific repo for now).

[2020-10-26 17:26] arouinfar commented on #302
This is really strange. We design things at the iPad aspect ratio, so this should not be happening at all. @jessegreenberg it looks like the sims layoutBounds are a bit off from the standard, see https://github.com/phetsims/joist/issues/542. Could that be the issue?

[2020-10-26 17:34] arouinfar commented on #295
@jessegreenberg I'm feeling a bit of deja vu here, but I couldn't find the original issue.

I'm fairly certain this occurs because the bottom control point temporarily dips underground while the right control point is being dragged. When the right control point is released, the bottom control point will bump itself above ground.

[2020-10-26 19:26] arouinfar commented on #304
This a cool idea, but I think it would really belong in a sim that focuses on work. Can you move this to the sim request/ideas doc @oliver-phet?

[2020-10-26 20:32] oliver-phet commented on #304
Done, closing!

[2020-10-26 20:32] #304 closed

[2020-10-29 14:53] jessegreenberg commented on #303
OK I am seeing similar things when running debug build with ?fuzz on Windows 10 Chrome.
![image](https://user-images.githubusercontent.com/6396244/97590273-d3140d80-19d4-11eb-9f84-4c925ad39838.png)

I would be surprised if this is specific to ESP.

[2020-10-29 14:58] jessegreenberg commented on #303
I am not seeing this in a debug build of MAL.

[2020-10-29 15:15] jessegreenberg commented on #303
I am starting to suspect it is from the numeric library, used in this sim, ESP:B, and fluid-pressure-and-flow. The error is showing up in all three sims in the debug version only.

[2020-10-29 15:40] jessegreenberg commented on #303
I created https://github.com/phetsims/sherpa/issues/80 to investigate further, though the issue may move to chipper. Closing issue here.

[2020-10-29 15:40] #303 closed

[2020-10-29 15:51] jessegreenberg commented on #302
Hmm, I am not sure - the sim *is* actually using default layout bounds now after https://github.com/phetsims/energy-skate-park/issues/279.

[2020-10-29 16:21] jessegreenberg commented on #302
I suspect this is related to changes after #279. It actually doesn't have to be a narrow screen, just any screen using default layout. This isn't a problem for wider screens because the components float out.
![image](https://user-images.githubusercontent.com/6396244/97602063-402da000-19e1-11eb-8cab-1a378dd0d989.png)

[2020-10-29 16:22] jessegreenberg commented on #302
@arouinfar would you be willing to reduce the available width of the control point so that overlap isn't possible when the sim is constrained to normal dev bounds?

[2020-10-29 16:36] jessegreenberg commented on #302
I made the change to reduce bounds of control points so that it is not possible to overlap. Changed both left and right most control points so they are symmetric. @arouinfar can you please review and give thoughts on whether this change is OK? You can see all control point bounds with ?showPointBounds.

[2020-10-29 16:39] arouinfar commented on #302
Thanks @jessegreenberg! The updated bounds look great.

[2020-10-29 16:41] jessegreenberg commented on #302
OK, thanks! Will pull https://github.com/phetsims/energy-skate-park/commit/00f524afbf1aef4a2c0d92d37c41eb2be2c36844 into release branch.

[2020-10-29 17:05] jessegreenberg commented on #301
This is happening because the constant for moon's gravity is more precise than the precision of the number control. The moon's gravity is 1.62 m/s^2, but the arrow buttons set it to 1.6.  So currently, when you select "Moon" the gravity is actually a little larger than what is shown.
![image](https://user-images.githubusercontent.com/6396244/97607472-65251180-19e7-11eb-96a7-f440fb44e22b.png)

The

[2020-10-29 17:21] jessegreenberg commented on #300
For the path checkbox, the problem is this line in the intro model constructor, so pressing ResetAllButton will actually turn it back on:
[code]

We need to provide default value rather than just set to false in constructor. And the the image is just missing a reset, sorry about that.

[2020-10-29 17:25] jessegreenberg commented on #300
Both cases fixed with above commits, will bring them to RC branch as well.

[2020-11-02 16:42] jessegreenberg commented on #296
OK, verified by following the above steps. This sort of seems like an issue with the LoL testing harness rather than PhET code so I suspect we will just need notify LoL of the bug. But I am going to poke around a bit more in a common code issue.

[2020-11-02 16:42] #296 closed

[2020-11-04 16:07] arouinfar commented on #301
@jessegreenberg the constants should have the same precision as the readout, so let's change the moon's gravity to 1.6 m/s^2 in the model.

[2020-11-05 16:18] jessegreenberg commented on #301
OK, thank you - done in the above commit.

[2020-11-05 16:39] jessegreenberg commented on #298
I think I fixed this by resetting EnergySkateParkSaveSampleModel.timeSinceSampleSave in this case. @arouinfar can you please review the behavior to verify?

The sensor doesn't detect a hit with a data point unless it is being dragged. So when the new data point goes under the crosshairs it's information is not displayed. Is this something that needs to change?

[2020-11-05 16:48] jessegreenberg commented on #295
That is correct @arouinfar, that is what is happening here. This is the decision we made in https://github.com/phetsims/energy-skate-park/issues/45#issuecomment-522398634, and finalized in https://github.com/phetsims/energy-skate-park/issues/45#issuecomment-557624363. I still think this is correct at this time. @arouinfar assigning to you to review, if you agree can you please close?

[2020-11-05 16:49] arouinfar commented on #298
Thanks @jessegreenberg. I'll tag for design meeting to get feedback from the team.

[2020-11-05 16:52] arouinfar commented on #295
Thanks @jessegreenberg! I agree, let's close.

[2020-11-05 16:52] #295 closed

[2020-11-05 16:59] jessegreenberg commented on #294
I tested out on my windows 10 machine. The sim is not as smooth as on Chrome. But I wasn't able to get it to stutter like in the above gifs. Also, this RC is quite a bit faster for me in Firefox than the  published sim, probably because of changes in #209.

@brooklynlash or @KatieWoe can you please compare performance of this RC on Windows FF with the published version? That may inform how we inve

[2020-11-05 17:20] jessegreenberg commented on #294
I noticed that this sim mentioned poor performance with `?stringTest` and in iframes. I tried it with `?stringTest` and didn't notice a difference in performance. I actually saw *better* performance in an iframe, perhaps because the rendering area is smaller?

[2020-11-05 21:43] jessegreenberg commented on #293
During meeting @ariel-phet suggested `altAccelerationUnits` as the name. It will display `N/kg` in the number display for the gravity number control. We will include this in the initial publication of the sim.

[2020-11-05 21:56] jessegreenberg commented on #294
We reviewed this during meeting today - @kathy-phet tried on her windows 10 firefox machine and said performance was acceptable. And since performance seems a bit better in this version relative to published ESP:B, we agreed it was OK to close this issue.

[2020-11-05 21:56] #294 closed

[2020-11-06 17:38] arouinfar commented on #298
We discussed this in the 11/5/20 design meeting, and decided not to make any further changes.

The only caveat is that we should make sure state is properly saved/restored when it comes time for the phet-io design. It sounds like that shouldn't be an issue, though.

[2020-11-06 17:38] #298 closed

[2020-11-06 17:49] arouinfar commented on #297
@oliver-phet we fixed the start time of the first dot in #298, and the Restart Skater button now restores the same state. Can you reply to the user with the following message?

The purple dots are drawn every 0.1 seconds, so there will always be some slight variation  in the dot position when the skater moves back and forth on a frictionless track. However, pressing the "Restart Skater" button wil

[2020-11-06 18:26] oliver-phet commented on #297
Reply to user sent.

[2020-11-06 18:26] #297 closed

[2020-11-06 20:37] jessegreenberg commented on #293
This was added in the above commit. @arouinfar can you please verify that this is working correctly in master?

[2020-11-06 21:09] jessegreenberg opened #305 "stringTest=double looks a little too croweded on the graphs screen"
For non-floating layout in dev bounds stringTest=double is a little too compressed, the panels are pretty much touching
![image](https://user-images.githubusercontent.com/6396244/98415026-722aac00-204a-11eb-9180-784c92e8ccb4.png)

Probably left over after #279. Lets adjust to create just a little space.

[2020-11-06 21:47] jessegreenberg commented on #305
Looking better in master, ready to pull into release branch.

[2020-11-07 00:07] arouinfar commented on #293
It looks good in master, thanks @jessegreenberg.

I want to make sure we let the user know about the query parameter when the sim is published, so leaving this self-assigned and marking as fixed.

[2020-11-09 18:02] jessegreenberg commented on #305
Cherry-picked into 1.1 release branch.

[2020-11-09 18:02] #305 closed

[2020-11-09 18:05] jessegreenberg commented on #302
Cherry-picked into 1.1 release branch.

[2020-11-09 18:06] jessegreenberg commented on #301
Cherry-picked into release branch.

[2020-11-09 18:09] jessegreenberg commented on #300
Moved to 1.1 release branch.

[2020-11-09 18:12] jessegreenberg commented on #293
Addition moved to the 1.1 release branch.

[2020-11-09 20:33] #301 closed

[2020-11-09 20:38] #300 closed

[2020-11-09 23:22] KatieWoe commented on #302
There's still some overlap. @arouinfar is this acceptable?
![Screen Shot 2020-11-09 at 4 21 52 PM](https://user-images.githubusercontent.com/41024075/98608111-c4b4d400-22a7-11eb-9c71-7f7a96044981.png)

[2020-11-09 23:24] KatieWoe commented on #302
Only seems to be on first scene

[2020-11-10 03:37] arouinfar commented on #302
I think the overlap is fine. In situations like https://github.com/phetsims/energy-skate-park/issues/302#issuecomment-724341372 it is still easy to select the Speed checkbox.

[2020-11-10 03:37] #302 closed

[2020-11-10 18:42] KatieWoe opened #306 "Gravity slider resets with red button to bring back skater"
**Test device**
MacBook Air
**Operating System**
Mac 10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/577
When you press the red button to bring the skater back to the ground after it has gone off screen, the gravity slider resets to 9.8, no matter what it was before. Does not seem to happen with the green button to bring the skater back in its drop posi

[2020-11-10 19:49] jessegreenberg commented on #306
It looks like this is also an issue when changing tracks - changing the track will reset the gravity as well.

[2020-11-10 19:54] jessegreenberg opened #307 "Skater.returnToInitialPosition and Skater.resetPosition are identical"
They seem to be the same, have identical code - can one be removed?

[2020-11-10 19:55] jessegreenberg commented on #306
Fixed in the above commit - @KatieWoe would you mind reviewing master before I merge into the release branch?

[2020-11-10 20:00] jessegreenberg commented on #307
Yes, I am quite sure they are the same and one can be removed. I removed `returnToInitialPosition` and used `resetPostion` instead. Closing.

[2020-11-10 20:00] #307 closed

[2020-11-10 20:06] KatieWoe commented on #293
This looks good in rc.2

[2020-11-10 20:08] jessegreenberg commented on #293
Thanks for reviewing @KatieWoe - sorry I should have labelled this differently I think @arouinfar wanted to keep this open as a reminder to notify user when this is ready for public use.

[2020-11-10 20:22] KatieWoe commented on #306
Looks ok on master

[2020-11-10 22:23] jessegreenberg commented on #306
Moved to RC branch.

[2020-11-11 22:11] phet-steele commented on #306
This looks fixed to me in 1.1.0-rc.3 👍

[2020-11-11 22:11] #306 closed

[2020-11-12 21:05] brooklynlash opened #308 "Lines on probe box in Measure section with Long string test squish together"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome and Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/578
When doing the long string test on either Firefox or Chrome, in the Measure section, if you put the probe on a point, all the lines in the purple box squish together. Not seen with rtl or double string tests, just long so fa

[2020-11-13 00:19] KatieWoe commented on #308
Noting that normally, only one letter would maybe be translated in the number box (which seems to cause the oddity above) and it is unlikely to get larger, as it is a unit.
![Screen Shot 2020-11-12 at 5 03 52 PM](https://user-images.githubusercontent.com/41024075/99012183-02fdfd80-250b-11eb-8f6f-d0e677ee9395.png)
![Uploading long.gif…]()

[2020-11-14 00:07] KatieWoe opened #309 "Mouse moves faster than playground track"
For https://github.com/phetsims/QA/issues/578. On Lovelace ChromeOS device. Did not seem to happen on Mac 10.15 Chrome. I did see this on Basics, so it doesn't seem to be new.
When dragging the playground tracks out of their box, the mouse seems to move faster than the track. So if you move slowly, nothing seems amiss, but if you move quickly, or even at a normal pace, a gap seems to develop betwe

[2020-11-14 00:23] arouinfar commented on #308
Nice find @brooklynlash.

Agreed @KatieWoe. In this case, I don't think the stringTest is representative of how these strings will be translated. We can probably blame the layout issues on the long strings in the readout, which isn't realistic.

@jessegreenberg unless you see something obvious that needs to be fixed here, I'm fine with closing this issue.

[2020-11-14 00:26] arouinfar commented on #309
Since the behavior matches the published version of Basics, I'm inclined to do nothing here, but I'll let @jessegreenberg review and make the final decision.

[2020-11-16 22:28] KatieWoe opened #310 "Data point on Measure screen behaves oddly when skater is standing still"
**Test device**
MacBook Air
**Operating System**
Mac 10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/578
When the skater is sitting still on the ground on the measurement screen, the data point there appears and disappears quickly, leading to an odd flickering when trying to take a measurement of it. It does not do this when paused. If this is expected/

[2020-11-17 01:10] arouinfar opened #311 "Slider pixel polishes"
@KatieWoe reported in https://github.com/phetsims/QA/issues/578#issuecomment-728427972:

This issue is not limited to macOS/Safari or i18n. The slider thumb is a bit too big, and the tick mark length is a bit too short. The result is that the thumb touches letters that descend below the baseline. This affects both ESP and ESPB.
![image](https://user-images.githubusercontent.com/8419308/99325622-ff

[2020-11-17 01:12] arouinfar commented on #310
Nice find @KatieWoe.

While I agree it's somewhat minor, this looks pretty buggy to me. It's not the most important use of the probe, but it's also not an unrealistic use case. It seems like the dot might be constantly redrawing itself which is why things flicker when the sim isn't paused.

We'll be revisiting this simulation for phet-io (though it's not a top iO priority right now) so we could de

[2020-11-17 01:41] ariel-phet commented on #311
@arouinfar I think that is a pretty "low risk" change and it does seem worth doing as that overlap is not quite up to our normal standards in terms of aesthetics.

[2020-11-17 01:59] ariel-phet commented on #310
@arouinfar @jessegreenberg I can reproduce this bug on Win 10 (trying on FF, but guessing it is general)

Steps to reproduce for me:
1. Go to measure screen
2. Place the probe on the skater on the ground (should work on this first try)
3. Remove the probe and replace on the data point
4. On putting the probe back on the data point it will flicker and not allow a reading (sometimes on the first try

[2020-11-17 02:14] arouinfar commented on #311
Thanks @ariel-phet. Let's go ahead and proceed @jessegreenberg.

[2020-11-17 18:57] jessegreenberg commented on #311
I changed the slider values to the ones you used in https://github.com/phetsims/energy-skate-park/issues/311#issue-744324575, can you please review @arouinfar? If all looks OK I will put the change in the release branch.

[2020-11-17 19:06] jessegreenberg commented on #310
Yes, thanks for finding @KatieWoe. I think it also has to do with the data points being removed over time. While the skater is on the ground data points are being added and removed just like they would be if he were on the track. This doesn't happen to me right on sim load. But with the same initial conditions, if I wait about 10 seconds and then try to measure the data point this starts to happen

[2020-11-17 22:54] jessegreenberg commented on #310
This should be fixed by the above commit. @KatieWoe can you please verify on master?

[2020-11-17 23:06] jessegreenberg commented on #309
I am seeing this happen on my laptop, but only when I try to move the track *really* fast, like I have to flick my trackpad to move my finger quick enough. I think that indicates it may be related to sim performance, like on a slower machine it may be more likely to happen.

I am also able to get it to happen when dragging the existing tracks, so I don't think it is related to the toolbox, but jus

[2020-11-17 23:20] jessegreenberg commented on #309
Indeed, it is way easier to have happen with the phet.chipper.makeEverythingSlow().

[2020-11-17 23:29] KatieWoe commented on #310
Looks good on master

[2020-11-17 23:31] jessegreenberg commented on #309
It has to do with calculation of the startOffset for the drag handler code.
[code]

This is always called, even if the track wasn't pulled from the toolbox. And if the mouse is moved very quickly in that first drag, the offset is incorrect creating the distance between mouse and track. This is the only cause of separation, after the initial drag it doesn't separate further.

[2020-11-17 23:49] jessegreenberg commented on #309
Simply removing the `this.calculateStartOffset` in the snippet above (currently line 123 in TrackDragHandler) seems to fix this issue. Every time I try to remove the track from the toolbox, we always call `calculateStartOffset`, so I am wondering if the comment

Maybe it was important before we began to use the current event-forwarding pattern for the drag listener? So I am curious about removing

[2020-11-17 23:51] jessegreenberg commented on #308
Hmm, this does seem a little strange. I would not expect layout to change like this. Ill investigate why it is happening at least.

[2020-11-17 23:59] jessegreenberg commented on #308
The spacing between them is a fixed value, so the layout with values is the layout I would expect. So I think the question is why it looks more spaced out when displaying the '-' dash.

[2020-11-18 00:38] jessegreenberg commented on #308
Fixed in the above commit, moving to release branch.

[2020-11-18 00:50] jessegreenberg commented on #309
The forwarding pattern was only recently added in #239, so it seems reasonable that the `startedDrag` related code can now be removed. I will do this, but won't merge it into the release branch.

[2020-11-18 05:24] arouinfar commented on #311
Looks great @jessegreenberg!

[2020-11-19 04:15] jessegreenberg commented on #311
Moved to release branch.

[2020-11-19 04:22] jessegreenberg commented on #310
OK thanks @KatieWoe, moved to release branch.

[2020-11-19 04:45] jessegreenberg commented on #310
@arouinfar by the way, this fix also addressed the issue mentioned in #298

It now updates as points are moved below the sensor.

[2020-11-19 04:46] jessegreenberg commented on #287
In the rc task @KatieWoe said

[2020-11-19 16:28] brooklynlash commented on #308
Looks fixed on Windows 10 Chrome for rc4.

[2020-11-19 16:49] jessegreenberg commented on #308
Thanks!

[2020-11-19 16:49] #308 closed

[2020-11-19 17:13] brooklynlash commented on #310
Looks as if it is fixed on rc4, Windows 10

[2020-11-19 20:50] muedli commented on #287
I don't think I did any RC testing for this sim.

[2020-11-19 21:13] loganbraywork commented on #287
No recent RC testing from me

[2020-11-19 21:16] phet-steele commented on #311
This looks great in 1.1.0-rc.4! 🥳

[2020-11-19 21:16] #311 closed

[2020-11-20 18:43] brooklynlash opened #312 "Side of ramp moves without dragging it in Playground scene"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/579
Not sure how long this has been a problem or if it even is a problem, but when I drag one side of the ramp on ESP Playground scene, the other side moves.
This is also seen in the published ESP Basics.
Note: The resolution in the sky is

[2020-11-20 18:55] jessegreenberg commented on #312
Thanks for making an issue @brooklynlash. It seemed a little strange to me that this could happen from a brand new track where control points were in a line. However, since both @brooklynlash and I were able to observe this in the published ESP:B version, this is not new and is from original code that generates the track shape.

@arouinfar can you please review this issue and comment on whether an

[2020-11-23 17:11] arouinfar commented on #312
Nice find @brooklynlash!

It does look a bit weird, especially with new, flat track pieces. However, the effect is pretty minor and it doesn't occur unless the control point is moved fast enough. Given that this is fairly minor, has been around since Basics, and the fix could disturb other things in the already-complicated control point code, I think we can go ahead and close as wontfix.

[2020-11-23 17:11] #312 closed

[2020-11-23 21:04] jessegreenberg opened #313 "Should this sim use ZoomButtonGroup?"
In https://github.com/phetsims/scenery-phet/issues/645 it was mentioned that ZoomButtonGroup may be replacing ZoomButton. The ZoomButtonGroup looks like

![image](https://user-images.githubusercontent.com/6396244/100015103-66a6e700-2da5-11eb-95a8-33d54a902471.png)

But it is being used in all new charts and in things that used to use ZoomButton, like SeismographNode.

@arouinfar should the ZoomBut

[2020-11-23 22:02] arouinfar commented on #313
Thanks @jessegreenberg. I commented in https://github.com/phetsims/scenery-phet/issues/645 for clarification about future support for buttons with the magnifying glass icon.

We're definitely not going to make this change for the upcoming release, and any decision we make about the appearance of the zoom buttons can be deferred until we work on the phet-io design of this sim.

[2020-11-23 23:11] jessegreenberg commented on #309
This should be fixed by the above commit, @KatieWoe would you mind testing to make sure this is fixed in master?

[2020-11-23 23:38] KatieWoe commented on #309
This looks fixed on master

[2020-11-23 23:50] jessegreenberg commented on #309
Great, thanks! We are not going to move this to the release branch, so closing this issue.

[2020-11-23 23:50] #309 closed

[2020-11-23 23:53] jessegreenberg commented on #310
Thanks @brooklynlash! Closing this issue.

[2020-12-07 16:25] KatieWoe opened #314 "CT item not found in Array"
Link to https://github.com/phetsims/axon/issues/332
[code]

[2020-12-07 18:39] KatieWoe commented on #310
One quick thing I noticed. If there is thermal energy and you clear it, the point does not update. Assigning @arouinfar as well to determine if this is an issue.
![thermalclear](https://user-images.githubusercontent.com/41024075/101390934-ce1e6580-3880-11eb-94ae-4cb7f02684fa.gif)
Linking issue: https://github.com/phetsims/QA/issues/579

[2020-12-07 19:40] arouinfar commented on #310
This is true regardless of whether the skater is on the ground or not. The data points represent the state of the sim when the point was created, and do not retroactively change. The same occurs if you change the gravity mid-way through the skater's path. The dots drawn before the gravity was changed display values with the old value of gravity.

I don't think there's anything to do here, other th

[2020-12-07 19:40] #310 closed

[2020-12-14 20:48] samreid opened #315 "Use MagnifyingGlassZoomButtonGroup"
Scenery-phet now has support for ZoomButtonGroup, it seems like Energy Skate Park could delete many lines of code if it used that new common code.

Noticed during https://github.com/phetsims/circuit-construction-kit-common/issues/620

[2020-12-14 21:26] jessegreenberg commented on #315
I read through https://github.com/phetsims/circuit-construction-kit-common/issues/620 and it seems likely that this would be a sim to use ZoomButtonGroup because it looks more modern and there isn't overload in concept with "+" and "-" symbols in this sim.  Using ZoomButtonGroup will be tracked in #313.

@arouinfar can you please review and close if you agree?

[2020-12-14 22:30] jessegreenberg commented on #314
Thanks for getting this @samreid, since https://github.com/phetsims/energy-skate-park/commit/5863e54eee9739f73ae517a943cb0c7af4887ae8 this isn't in CT and sim has been green for a few days.

[2020-12-14 22:30] #314 closed

[2020-12-14 22:33] jessegreenberg commented on #287
Over slack @KatieWoe said

[2020-12-14 23:24] jessegreenberg commented on #287
Credits have been updated, closing

[2020-12-14 23:24] #287 closed

[2020-12-14 23:25] jessegreenberg commented on #198
The sim has passed QA testing and performance checks in the most recent RC and publication. Closing.

[2020-12-14 23:25] #198 closed

[2020-12-14 23:32] jessegreenberg commented on #1
@arouinfar @KatieWoe Energy Skate Park 1.1 has been published. Is there anything else to do for this issue for the original checklist or documentation?

[2020-12-14 23:35] KatieWoe commented on #1
@arouinfar does it need to be added to the LoL sheet? That's the only thing that comes to mind.

[2020-12-14 23:39] arouinfar opened #316 "LoL Icons/Descriptions"
For #1

[2020-12-14 23:39] jessegreenberg commented on #1
Also @KatieWoe I wasnt sure about some of the unchecked QA boxes in the list, but some of them may not apply.

[2020-12-14 23:41] KatieWoe commented on #1
Dev testing was done. Legacy sim testing doesn't really apply.

[2020-12-15 05:11] arouinfar commented on #147
The teacher tips have been completed, closing.

[2020-12-15 05:11] #147 closed

[2020-12-15 06:00] arouinfar commented on #315
I think we will probably end up using ZoomButtonGroup, but that's something we'll decide on in #313 during the PhET-iO design review.

[2020-12-15 06:00] #315 closed

[2020-12-15 06:02] arouinfar commented on #293
@oliver-phet can you reach out to the user and let them know that the simulation has been published with the `altAccelerationUnits` query parameter, and they can use this link to view gravity with units of N/kg:
https://phet.colorado.edu/sims/html/energy-skate-park/latest/energy-skate-park_en.html?altAccelerationUnits

[2020-12-15 17:27] oliver-phet commented on #293
Email to user sent, closing!

[2020-12-15 17:27] #293 closed

[2020-12-15 20:38] samreid commented on #313
To clarify, after https://github.com/phetsims/circuit-construction-kit-common/issues/620 ZoomButtonGroup supports magnifying glasses or +/- icons.  This issue is more about eliminating the duplicated code in Energy Skate Park that creates separate buttons, applies touch areas, puts them in a VBox, wires up listeners, etc.  I agree this will be important for PhET-iO or a11y but we don't necessarily

[2020-12-16 01:09] jessegreenberg opened #317 "Strings are not translatable in Energy Skate Park 1.1"
@oliver-phet received notice that it wasn't possible to translate strings in this sim. I checked in with @jbphet who said this is probably because "nested" strings are not yet supported by rosetta. I incorrectly thought that "nesting" was the new way to organize strings moving forward, but that is not the case yet. The change to nest strings was made around the time of code review in https://githu

[2020-12-16 17:13] jbphet commented on #317
Yes, that would be my recommendation.

[2020-12-16 17:53] jessegreenberg commented on #317
OK sounds good - I think the best way would be to turn the nested list into dot separated entries in the strings file. This way we don't have to change anything at the usages of these strings in the sim.

[code]

should become
[code]
and the usage will still be
[code]

[2020-12-16 19:01] jessegreenberg commented on #317
https://github.com/phetsims/QA/issues/586 was created to spot check this change to the strings file before deploying again.

[2020-12-16 22:58] jessegreenberg commented on #317
The sim was redeployed with this change here: https://phet.colorado.edu/sims/html/energy-skate-park/latest/energy-skate-park_en.html.  @oliver-phet can you please check and see if the strings look better with the translation utility? If so, can you please let the trusted translator that reported this know that this is fixed?

[2020-12-16 23:06] oliver-phet commented on #317
It looks like 4 other translations were already submitted that only contain the title. I'll ping those translators, too.

[2020-12-16 23:16] #317 closed

[2020-12-22 16:19] oliver-phet commented on #293
Reply from user:

[2021-01-24 04:30] samreid commented on #123
I've made significant progress as part of https://github.com/phetsims/tandem/issues/87.  I converted the control points and tracks to use PhetioGroup.  PhET brand seems to be working OK.  Studio seems to be working OK, with a few TODOs and caveats.  The state wrapper is failing for unknown reasons, but I'm still planning to commit since this seems an improvement over master (which also has a faili

[2021-01-24 04:35] samreid commented on #123
I noted that `?testTrackIndex=2` is failing both before and after this change.

[2021-01-24 04:41] samreid commented on #165
I deleted this method, and we will continue with the pattern established in https://github.com/phetsims/energy-skate-park/issues/123

[2021-01-24 04:41] #165 closed

[2021-01-25 17:15] jessegreenberg opened #318 "CT Error - phetioElement not found: energySkatePark.measureScreen.measureScreenView.trackNodeGroup.archetype.controlPointNode0"

[2021-01-25 17:45] jessegreenberg commented on #318
I am not sure, but I think this may be related to #123 - Maybe the ControlPointNodes of TrackNode need to use PhET-iO group as well? Maybe this isn't compatible with changes in #123.

[code]

@samreid what do you recommend, should I try PhetioGroup or do you think the issue is somewhere  else?

[2021-01-25 17:51] samreid commented on #318
This seems related to work I've done in the last few days, I'll take a look.

[2021-01-26 04:37] samreid commented on #318
I disabled phet-io validation for energy-skate-park-basics until we enable it for both energy-skate-park as well.

[2021-01-26 04:45] samreid commented on #318
The problem seems to be that the archetype only had 2 control points, but the actual track had 3, so it failed to see that last control point.  For now I've solved this by increasing the number of control points in the archetype.  I'm not sure if the long term solution is to use a PhetioGroup for the archetype.  It's working on my local side, and we may need to defer the long term solution until w

[2021-01-26 04:45] #318 closed

[2021-01-26 04:46] samreid commented on #123
I fixed some errors CT discovered in https://github.com/phetsims/energy-skate-park/issues/318

[2021-01-27 05:02] arouinfar commented on #316
The sim has been delivered to LoL, closing.

[2021-01-27 05:02] #316 closed

[2021-01-27 21:50] KatieWoe opened #319 "CT phetioElement not found"
[code]

[2021-01-28 03:38] zepumph commented on #123
This seems like a clue that we should be using nested PhetioGroups. I prototyped doing that in Projectile Motion and it went pretty well, though I didn't end up keeping that strategy and went with a different pattern. Are you interested in trying that out?

Or perhaps this isn't possible, because controlPoints are dependency injected?

[2021-01-28 03:45] samreid commented on #123
Currently the model is structured like so:

* Model contains controlPoints and tracks.  The tracks have references to the model's control points.

If it was changed to

* Model contains tracks, and tracks contain control points.

Then the nested group would be a good fit.  But this would be a non-trivial refactoring--may be best to wait until we are focusing on this for a quarterly goal.

[2021-01-28 03:51] zepumph commented on #123
Understood. I also feel like my PM prototyping was before we really leaned in on the PhetioGroup as a set of Objects separate from the data structures needed by the sim. We started (in CAF/JT) with a 1 to 1 swap from array to PhetioGroup, but I think in a lot of cases it makes more sense to just have lists of the controlPoints you need, but a single central group that holds all for a screen. I wou

[2021-01-28 23:33] jessegreenberg commented on #319
I think this may be related to other PhET-iO issues that have been worked on recently, #123 and #318. Reassigning, but let me know if I can help.

[2021-01-29 17:54] samreid commented on #319
I made progress in this patch:

<details>

[code]

</details>

However, I ran into this cycle:

The controlPointNodeGroup requires a reference to the trackNodeGroup archetype before it can be created.  But the TrackNodes created by trackNodeGroup need the controlPointNodeGroup so they can create points.  We will need to unravel this somehow.

I'm not sure whether to (a) ask @zepumph for help on it

[2021-01-30 01:44] zepumph commented on #319
Why do these view elements need to be instrumented as dynamic elements? Aren't only the models stateful (trident)? Could we see how far we get by first opting out of TrackDragHandler's instrumentation, and others like it in the view?

That said, it wouldn't bother me if we remove ESP from PhET-iO testing until you get back to working on that sim specifically.

[2021-01-30 01:52] samreid commented on #319
I think I understand the trident and that only the models are stateful, but since the view nodes need to be instrumented, don't they also need to be in a PhetioGroup, since there is an arbitrary number of them?

[2021-01-30 02:36] zepumph commented on #319
What needs to be instrumented about them? I saw the input listener, and perhaps we can punt on that for now, but is there anything else?

[2021-01-31 02:22] samreid commented on #319
Yes, I thought they should be instrumented because they have input listeners. But uninstrumenting them seems like a good temporary solution until we focus on this sim.

[2021-02-01 02:57] samreid commented on #319
OK I've opted out of the TrackNode instrumentation.  Fuzzing has been going for a relatively long time on my machine without error.  Long term solution will be done in https://github.com/phetsims/energy-skate-park/issues/123.  Closing for now (CT has the final say).

[2021-02-01 02:57] #319 closed

[2021-02-19 18:58] pixelzoom commented on #68
I'm not clear on what the status is for this issue.  It's ready-for-review but unassigned.    Looks like @zepumph did the bulk of the work as described in https://github.com/phetsims/energy-skate-park/issues/68#issuecomment-491083944.  So back to him to adjust labels and describe what remains to be done.

[2021-02-25 20:54] pixelzoom commented on #313
Further clarification...

This does not necessarily mean changing the look of the zoom buttons.

There are 2 subclasses of ZoomButtonGroup.  A primary motivation for changing to one of these subclasses it that you will get consistency of PhET-iO implementation, and not have to instrument sim-specifiic code.

MagnifyingGlassZoomButtonGroup uses the same magnifying glasses currently used in this sim

[2021-02-25 20:58] pixelzoom commented on #313
Here are the 2 subclasses of ZoomButtonGroup shown on the Buttons screen of the scenery-phet demo. PlusMinusZoomButtonGroup on the left, MagnifyingGlassZoomButtonGroup on the right.

<img width="398" alt="screenshot_882" src="https://user-images.githubusercontent.com/3046552/109216237-80274880-7771-11eb-87c3-195a3fc31805.png">

[2021-02-26 03:37] zepumph commented on #68
This older pattern of dynamic elements, and therefore need to create a hacky Tandem, was removed in https://github.com/phetsims/tandem/issues/87.

There are no more usages of `createFromPhetioID`

CLosing

[2021-02-26 03:37] #68 closed

[2021-03-19 21:41] oliver-phet opened #320 "User suggestion: add a limited 'Lab' screen"

[2021-03-23 23:11] arouinfar commented on #320
Removing energy representations is antithetical to the goals of the simulation. That said, if the user's concerns are more about the quantitative energy measurements, I would advise them to use the `screens` query parameter to use only the 1st or 4th screens.  On these screens, the energy representations are qualitative and are off by default.

[2021-03-24 15:41] oliver-phet commented on #320
Replied back to user, closing.

[2021-03-24 15:41] #320 closed

[2021-04-13 17:33] oliver-phet opened #321 "User request: draggable charts"

[2021-04-13 23:00] arouinfar commented on #321
We are not going to make the charts draggable. It's not something that AccordionBox would (or should) support, and it'd create other UX problems. Shifting the base of the bar graph is also not an option. The whitespace is needed to display negative energies as well as leave room for i18n of the graph labels.

This user has a very particular goal of students sketching the bar graph. Some things I w

[2021-04-13 23:12] oliver-phet commented on #321
Thanks! I've replied back to the user.

[2021-04-13 23:12] #321 closed

[2021-04-22 18:29] jessegreenberg commented on #225
These branches need to be re-deleted after manually deleted branches were restored accross the project/

[2021-04-22 18:57] jessegreenberg commented on #38
This was re-deleted after branches were restored across the project.

[2021-04-22 18:57] #38 closed

[2021-04-22 18:58] jessegreenberg commented on #225
These were re-deleted.

[2021-04-22 18:58] #225 closed

[2021-05-04 20:43] KatieWoe opened #322 "Sim may freeze when mouse leaves iframe"
**Test device**
Dell and Mac
**Operating System**
Win 10 and MacOS 11
**Browser**
Chrome and Safari
**Problem description**
For https://github.com/phetsims/QA/issues/642. Wasn't able to recreate on published, so it seems connected to the fix. When dragging an object (or even dragging nothing) outside the iframe and letting go, the sim freezes and throws a console error.

**Visuals**
<img width="41

[2021-05-04 21:18] Matthew-Moore240 commented on #322
I was also experiencing this exact issue on Win 10 chrome.

[2021-05-05 17:28] jonathanolson commented on #322
I believe this is handled with the above commit (using master's copy of interrupt inline), can you try https://phet-dev.colorado.edu/html/energy-skate-park/1.1.2-rc.3/phet/energy-skate-park_en_iframe_phet.html

[2021-05-05 18:44] KatieWoe commented on #322
Looks ok in the above link

[2021-05-05 19:01] jonathanolson commented on #322
Sounds good, closing this issue.

[2021-05-14 17:15] KatieWoe opened #323 "CT substantial total energy change after corrections"
[code]

[2021-05-17 19:51] KatieWoe commented on #322
This is back in https://github.com/phetsims/QA/issues/649
<img width="960" alt="comebackagain" src="https://user-images.githubusercontent.com/41024075/118547950-f30fe200-b716-11eb-884e-3df8c8c3f2ae.png">

[2021-05-24 17:33] jonathanolson commented on #322
Looks like this is mainly due to me not updating it to rc.3 in the maintenance internals, should be handled. Will verify with next test.

[2021-06-15 17:41] issamali67 opened #324 "Fonts in Arabic translation"
@jbphet Fonts in the Arabic translation of Energy Skate Park appear smaller. Could live with some. Exception is the translation for Gravity and Friction, which is more subtle. See the attached for explanation. Also the Arabic translation to mass is small. I attach the Arabic and English screen shots.

<img width="996" alt="EnergySkateParkArabic" src="https://user-images.githubusercontent.com/64868

[2021-06-18 15:24] jonathanolson commented on #322
Closing, handled in maintenance release deployment.

[2021-06-18 15:24] #322 closed

[2021-06-25 18:31] jbphet commented on #324
@issamali67 and I reviewed this, and there aren't any straightforward fixes in this case because these can't be altered with max width values.  I'm going to close.

[2021-06-25 18:31] #324 closed

[2021-06-28 16:10] KatieWoe opened #325 "CT listener not attached to dataSample emitter"
[code]

[2021-06-28 17:33] jessegreenberg commented on #325
Thanks @KatieWoe.

I have been fuzzing the sim for about 5 minutes with multitouch on the Screens that have data samples with multitouch and haven't seen this yet.

From the stack trace it happened after clearing the sensor display, Ill try to do multitouch operations that do this.

[2021-06-28 17:44] jessegreenberg commented on #325
Perhaps the listener was already removed, or the updateDisplayListener was never assigned to the EnergySkateParkDataSample. Since this seems to be happening very rarely on CT and with local fuzzing I added some more debugging info to find what is happening to add clues for next time it happens.

[2021-07-13 21:52] samreid commented on #215
I pushed a fix for https://github.com/phetsims/kite/issues/77.

[2021-07-14 13:28] samreid commented on #215
Fix confirmed in https://github.com/phetsims/kite/issues/77, closing.

[2021-07-14 13:28] #215 closed

[2021-10-12 16:52] KatieWoe opened #326 "CT invalid tandmName undefined"
[code]

[2021-10-12 19:45] #326 closed, assigned to jessegreenberg

[2021-10-12 19:52] jessegreenberg opened #327 "State error: Impossible set state from iterate"
AFter fixing #326 I hit this when running the state wrapper:
[code]

[2021-10-12 22:46] jessegreenberg opened #328 "CT Error: There already was a PhetioElement attached to this TreeNode with the same phetioID in the tree"
I noticed this is being flagged on CT:
[code]

[2021-10-12 22:51] #328 closed, assigned to jessegreenberg

[2021-10-14 16:39] #327 closed, assigned to jessegreenberg

[2021-10-19 16:13] KatieWoe opened #329 "CT track should be above ground"
Also in basics:
[code]

[2021-10-25 23:18] oliver-phet opened #330 "User request: add tick marks to Friction slider"

[2021-10-25 23:19] oliver-phet opened #331 "User request: zero gravity"

[2021-11-23 17:08] KatieWoe opened #332 "CT trying to attach tracks, but other track was not found"
[code]

[2022-01-25 19:57] mattpen opened #333 "Can energy-skate-park.bk be deleted?"
@jessegreenberg - it looks like there is a temporary backup directory for ESP that was created when 1.0.0 was published. Can this be removed?

https://phet.colorado.edu/sims/html/energy-skate-park.bk/

[code]

[2022-01-25 20:16] mattpen commented on #333
I'm going to assume that if @jessegreenberg doesn't know why we have this, then we don't need it. We can of course restore it from the peta library at any time if we discover otherwise.

I removed this directory from phet-server's hard drive.

[2022-01-25 20:16] #333 closed

[2022-03-18 15:50] KatieWoe commented on #329
[code]
[code]

[2022-03-28 16:34] KatieWoe commented on #325
[code]

[2022-03-28 22:46] pixelzoom opened #334 "This sim uses buggy GaugeNode option `updateWhenInvisible`."
While porting scenery-phet.GaugeNode to TS, I noticed a bug that affects this sim.   In GaugeNode constructor, the option is `updateWhenInvisible`,  but the logic checks for `updateOnlyWhenVisible`:

[code]

In EnergySkateParkScreenView, it's using `updateWhenInvisible`:

[code]

This was fixed in https://github.com/phetsims/scenery-phet/commit/164b7e05d771cc4edf2cc429fb15b1bd4de4dbe1 as part of T

[2022-04-29 21:04] arouinfar opened #335 "Add skater choice to all ESP screens and ESPB"
Discussed in design meeting 4/28/2022. Currently, we are creating localized character sets in sims and noticed that the skater choice isn't available on all screens/flavors of ESP, and it would be nice to add support for this.

We would like to add the skater choice RadioButtonGroup to the Measure and Graphs screens of ESP, as well as all screens of ESPB. Basically, the mass control will always lo

[2022-04-29 22:01] jessegreenberg commented on #335
OK added to all ESP/ESP:B. I think its looking good everywhere except the "Measure" screen where there isn't quite enough space. @arouinfar what do you think we should do on that screen?

[2022-05-04 21:50] arouinfar commented on #335
Thanks @jessegreenberg!

The overlap on the Measure screen looks pretty small, and I could live with it the way it is.
<img width="255" alt="image" src="https://user-images.githubusercontent.com/8419308/166830614-59210ff5-1c3d-4289-9cfa-1552b755f703.png">

If we want to remove the overlap with the ground, there are a few things we could try (would universally apply to all screens):
* Reduce the si

[2022-05-16 17:07] KatieWoe opened #336 "CT Dependencies should be defined, has this Property been disposed?"
Also in basics:
[code]

[2022-05-16 21:38] arouinfar commented on #335
Thanks @jessegreenberg! Everything looks good in master, and I think the toolbox is appropriately sized.

[2022-05-16 21:38] #335 closed

[2022-06-02 22:00] jessegreenberg commented on #336
It could be masked by other things but this is not showing up on CT currently. Closing.

[2022-06-02 22:00] #336 closed

[2022-06-02 22:08] jessegreenberg commented on #334
This is working well, thanks. I tested the GaugeNode in this sim with the GaugeNode visible/invisible in various states and saw that the value was always correct. I verified that the needle is not being rotated in GaugeNode when it is in invisible in this sim.

CLosing.

[2022-06-02 22:08] #334 closed

[2022-06-02 22:52] jessegreenberg commented on #313
This sim is now using MagnifyingGlassZoomButtonGroup.  Behavior is the same and a side-by-side comparison of the sim before and after shows no change in look or layout. EnergyGraphZoomButton could be deleted.

Since MagnifyingGlassZoomButtonGroup exists there is no need to discuss changing the look in this sim so this issue can be closed.

[2022-06-02 22:52] #313 closed

[2022-06-02 22:54] jessegreenberg commented on #332
I am guessing this rare problem is still an issue but it is currently masked by other churn on CT.

[2022-06-02 22:58] jessegreenberg opened #337 "Add support for swapping out skater images"
We are adding the ability to swap out a set of skater images for localization. The UI for this is going to be worked on in https://github.com/phetsims/joist/issues/814. But swapping out the images will be handled in the sim.

[2022-06-02 23:04] jessegreenberg opened #338 "Change `altAccelerationUnits` query param and make it a Property"
This query parameter from https://github.com/phetsims/energy-skate-park/issues/293 is going to be added to Preferences/options UI in a checkbox. The query parameter will stay to set the initial value but it can change to a boolean to work well with a checkbox. Lets

1) Change the query parameter to a boolean instead of a flag.
2) Add a Property to drive this so that it can be controlled by a check

[2022-06-03 17:32] jessegreenberg commented on #338
Discussed a little more over slack. We are going to start with an ABSwitch for this control so a boolean value doesn't make as much sense. In the above commit I added an EnumerationProperty for the units of acceleration. The existing query parameter (flag) will just change the default value for units.

This should be ready to control with a UI component, I will do that next.

[2022-06-04 00:03] jessegreenberg commented on #338
A Preferences dialog has been added to the sim with a switch to change the units in the "General" tab.  NumberControl/NumberDisplay doesn't support changing the `valuePattern` after construction so a second NumberControl with the other value pattern has been added to the control panel and is used made visible when the toggle switch changes. The query parameter was left unchanged.

@arouinfar the b

[2022-06-06 20:57] jessegreenberg commented on #337
This is in place, we should be able to add or replace sets of skater images now as needed. To exercise the feature I added a Carousel to the Preferences dialog to select a set. Im sure that will change in https://github.com/phetsims/joist/issues/814.

One behavior question was how this feature should behave with reset. I opted to set skater back to the first of the selected set and not reset the c

[2022-06-06 21:43] arouinfar commented on #338
@jessegreenberg this looked good when I checked earlier today, but seems like it was deleted when adding the character carousel in #337. Here's what the Preferences dialog currently looks like in master:

<img width="767" alt="image" src="https://user-images.githubusercontent.com/8419308/172254210-281b0fe0-8a4e-472d-9bdd-4d9798da6e03.png">

[2022-06-06 22:02] arouinfar commented on #337
This is working really nicely @jessegreenberg. I noticed that the headshots could use a bit of top padding, but the artwork isn't finalized, so I can update that when delivering the final assets.

You made the right call. I don't think that the ResetAllButton should undo changes made via the Preferences dialog. There's already precedence for this, such as enabling Voicing or using non-default circ

[2022-06-07 01:42] jessegreenberg commented on #338
Sorry about that, I broke it when I disabled it for the basics sim. Should be working now.

[2022-06-07 02:07] jessegreenberg commented on #337
Great thanks. In the above commit I added two more skaters per set (recycling characters from each set for now).

[2022-06-07 17:27] arouinfar commented on #338
Thanks @jessegreenberg, looks good.

[2022-06-07 17:29] arouinfar commented on #337
Awesome, thanks @jessegreenberg. It looks great in master. Since the infrastructure is all there, I think we can close and continue elsewhere.

[2022-06-07 17:29] #337 closed

[2022-06-21 17:08] KatieWoe opened #339 "CT Cannot read properties of undefined (reading 'typeName')"
Also in basics:
[code]

[2022-06-22 21:53] arouinfar opened #340 "Update screen icon to include new skaters"
The Intro and Playground screens include skater artwork that should be updated before republishing.

<img width="1107" alt="image" src="https://user-images.githubusercontent.com/8419308/175144872-730e33e5-e8de-4c1a-91f0-0ec91f497a3b.png">

Questions:
* Which skater(s) should we include in the screen icons?
* How should the screen icons adapt to the skater set?

[2022-06-23 20:18] jessegreenberg commented on #340
During design meeting today we discussed that the first two screen icons could be drawn so that the skater images are easily replicable with drawing code and would update with character set preferences.

[2022-06-27 16:46] pixelzoom opened #341 "Missing tandemName for 'custom' combo box item"
Noted while working on https://github.com/phetsims/sun/issues/768 ...

PhysicalComboBox specifies tandemName for most items:

[code]

... but does not specifiy tandemName for 'custom':

[code]

Is this an oversight?

[2022-06-27 16:47] pixelzoom opened #342 "Delete SkaterComboBox if it's not used."
After spending time converting SkaterComboBox for Noted while working on https://github.com/phetsims/sun/issues/768,  I discovered that it's apparently not used.  If that's the case, please delete it, so that unnecessary maintenance does not occur again.

[2022-06-28 21:54] #342 closed

[2022-06-28 22:00] jessegreenberg commented on #341
Thanks, yes I assume so. I added a `tandemName` for the "Custom" item and verified it showed up in studio.

[2022-06-28 22:00] #341 closed

[2022-06-28 22:01] jessegreenberg commented on #339
This can be reproduced by launching the sim in studio, opening the Preferences dialog, and selecting a different skater character set.

[2022-06-28 22:03] jessegreenberg commented on #339
I think to fix this I have to address this TODO:
[code]

[2022-06-28 22:21] jessegreenberg commented on #339
It seemed best for now to just use a number to indicate a selected character set. Then the sim can map a value to a set of images because there could be any number of images for various character stances/directions/representations.

[2022-06-28 22:23] #339 closed

[2022-06-29 16:59] jessegreenberg commented on #340
We would want this for all screens of basics as well.

[2022-06-29 19:33] jessegreenberg commented on #340
It is turning out to be difficult to draw track icons. TrackNodes require the model and the model is not constructed until after the sim is constructed. The screen icons need to be available before the sim is constructed.

Perhaps another way to do this is to use the images that we have without the skaters and with code draw just the skater over the image. This would take less time to implement an

[2022-07-05 18:06] arouinfar commented on #340
Thanks for the investigation @jessegreenberg.

This approach sounds reasonable to me. I'll work on creating the images.

[2022-07-05 18:16] arouinfar commented on #340
@jessegreenberg here are the updated assets for the screen icons without skaters. I deleted the pie chart from the Intro Screen, but let me know if you want me to add it back in.

Only the Intro Screen and Playground Screen icons feature skaters, so those were the ones I re-exported from Illustrator.

[energy-skate-park-updated-screen-icons.zip](https://github.com/phetsims/energy-skate-park/files/

[2022-07-05 19:48] jessegreenberg commented on #340
Awesome, thanks @arouinfar - If it is easy, would you mind adding the pie chart back in? I could draw it but it is not associated with the image in code.

[2022-07-07 20:04] arouinfar commented on #340
@jessegreenberg I added the pie chart back in, so here are the updated set of screen icon assets:
[esp-screen-icons.zip](https://github.com/phetsims/energy-skate-park/files/9066988/esp-screen-icons.zip)

[2022-08-15 14:45] jessegreenberg opened #343 "SkaterRadioButtonGroup styling looks incorrect"
For an unrelated issue I noticed the color and styling of the SkaterRadioButtonGroup looks different from the published version.

[2022-08-15 14:47] jessegreenberg commented on #343
Also for the track radio button group.

[2022-08-15 14:49] jessegreenberg commented on #343
It looks like certain button options like `selectedStroke` need to be nested under `buttonAppearanceStrategyOptions` now. Scanning through the project I don't see any other `selectedStroke`s that are not nested under this so this sim must have gotten missed after an API change.